<div id='form-button-card-footer' class="card-footer">
    <div class="row" data-ng-if="userContext.pageStatus =='Submit'">
        <div class="col-auto me-auto">
            <div id="bk-btn-group">
                <!-- back to previous screen -->
                <button type="button" class="m-0 p-2 ps-1"
                    data-ng-show="userContext.prevContext != userContext.pageContext && (submitPayload[userContext.prevContext].leaving_radio == 1 || submitPayload[userContext.prevContext].position_radio == 1)"
                    data-ng-click="formDisplay(userContext.prevContext,userContext.formType, 'back')"><i
                        class="bi bi-chevron-left fw-bold"></i> Previous</button>
                <!-- back to start -->
                <button type="button" class="m-0 p-2 ps-1"
                    data-ng-hide="userContext.prevContext != userContext.pageContext && (submitPayload[userContext.prevContext].leaving_radio == 1 || submitPayload[userContext.prevContext].position_radio == 1)"
                    data-ng-click="formDisplay('start',userContext.formType, 'back')"><i
                        class="bi bi-chevron-left fw-bold"></i> Back</button>
            </div>
        </div>
        <div id="nxt-btn-group" class="col-auto"
            data-ng-if="(submitPayload[userContext.pageContext].leaving_radio == 1 || submitPayload[userContext.pageContext].position_radio == 1)">
            <!-- Send to exiting staff form -->
            <button type="button" id="nxtExtBtn" class="m-0 p-2"
                data-ng-show="submitPayload[userContext.formType].leaving_radio == 1"
                data-ng-click="formDisplay('exitingStaff',userContext.formType, 'forward')">
                Continue <i class="bi bi-chevron-right fw-bold"></i></button>
            <!-- Send to jobchange form -->
            <button type="button" id="nxtJobBtn" class="m-0 p-2"
                data-ng-show="submitPayload[userContext.formType].position_radio == 1"
                data-ng-click="formDisplay('jobChange',userContext.formType, 'forward')">
                Continue <i class="bi bi-chevron-right fw-bold"></i></button>
        </div>
        <div class="col-auto" id="sub-btn-group"
            data-ng-if="(submitPayload[userContext.pageContext].leaving_radio != 1 && submitPayload[userContext.pageContext].position_radio != 1)">
            <span class="req-notation me-2"
                ng-if="(staffChangeForm.$invalid && staffChangeForm.$dirty) || !submitPayload[userContext.formType].users_dcid">Please
                fill all required fields prior to submitting.</span>
            <button type="button" id="subBtn" class="m-0 p-2" data-ng-disabled="staffChangeForm.$invalid"
                data-ng-show="!subConfirm" data-ng-click="subConfirm = true">Submit</button>
            <button type="button" id="cancBtn" class="m-0 p-2" data-ng-show="subConfirm"
                data-ng-click="subConfirm = false">Cancel</button>
            <button type="button" id="confBtn" class="m-0 p-2 dark-orange" data-ng-show="subConfirm"
                data-ng-click="submitStaffChange()">Confirm Submit</button>
        </div>
    </div>
    <div class="row" data-ng-if="userContext.pageStatus =='Edit'">
        <div class="col-auto me-auto">
            <div id="bk-btn-group">
                <button title="bkBtn" id="bkBtn" type="button" class="m-0 p-2 ps-1" data-ng-show="!delUpdate"
                    data-ng-click="toListRedirect(userContext.pageContext)"><i class="bi bi-chevron-left fw-bold"></i>
                    Back</button>
            </div>
        </div>
        <div class="col-auto" id="sub-btn-group">
            <span class="req-notation" data-ng-show="staffChangeForm.$invalid && staffChangeForm.$dirty">Please
                fill all required fields prior to submitting.</span>
            <button id="canBtn" class="m-0 p-2" type="button" data-ng-show="delUpdate"
                data-ng-click="delUpdate = false">Cancel</button>
            <button id="conBtn" class="m-0 p-2 dark-orange" type="button" data-ng-show="delUpdate"
                data-ng-click="deleteStaffChange(userContext.pageContext)">Confirm Deletion</button>
            <button id="delBtn" class="m-0 p-2" type="button" data-ng-show="!delUpdate"
                data-ng-click="delUpdate = true">Delete
                Submission</button>
            <button id="upBtn" class="m-0 p-2" type="button" data-ng-disabled="staffChangeForm.$invalid"
                data-ng-show="!delUpdate" data-ng-click="updateStaffChange(userContext.pageContext)">Submit
                Update</button>
        </div>
    </div>
</div>