<div id='form-button-card-footer' class="card-footer">
    <div class="row">
        <div class="col-auto me-auto">
            <button type="button" class="m-0 p-2 ps-1" data-ng-if="userContext.formType ==='nameChange'"
                data-ng-click="formDipslay('start', userContext.formType, 'back')"><i
                    class="bi bi-chevron-left fw-bold"></i> Back</button>
            <div id="bk-btn-group"
                data-ng-if="userContext.formType ==='exitingStaff' || userContext.formType ==='jobChange'">
                <!-- back to previous screen -->
                <button type="button" class="m-0 p-2 ps-1"
                    data-ng-click="formDisplay(userContext.prevContext,userContext.formType, 'back')"
                    data-ng-show="submitPayload.hasOwnProperty('transferringStaff') || submitPayload.hasOwnProperty('newStaff')"><i
                        class="bi bi-chevron-left fw-bold"></i> Previous</button>
                <!-- back to start -->
                <button type="button" class="m-0 p-2 ps-1"
                    data-ng-click="formDisplay('start',userContext.formType, 'back')"
                    data-ng-hide="submitPayload.hasOwnProperty('transferringStaff') || submitPayload.hasOwnProperty('newStaff')"><i
                        class="bi bi-chevron-left fw-bold"></i> Back</button>
            </div>
        </div>
        <div class="col-auto"><span class="req-notation me-2"
                ng-if="(staffChangeForm.$invalid && staffChangeForm.$dirty) || !submitPayload[userContext.formType]users_dcid">Please
                fill all required fields prior to submitting.</span>
            <button type="button" id="subBtn" class="m-0 p-2" data-ng-disabled="staffChangeForm.$invalid"
                data-ng-show="!subConfirm" data-ng-click="subConfirm = true">Submit</button>
            <button type="button" id="cancBtn" class="m-0 p-2" data-ng-show="subConfirm"
                data-ng-click="subConfirm = false">Cancel</button>
            <button type="button" id="confBtn" class="m-0 p-2 dark-orange" data-ng-show="subConfirm"
                data-ng-click="submitStaffChange()">Confirm Submit</button>
        </div>
    </div>