<div id="job-change-form-container" class="container-fluid">
    prevContext: {{userContext.prevContext}} | pageContext: {{userContext.pageContext}} <br>
    submitPayload: {{submitPayload}}
    <div class="card">
        <div class="card-header  bg-info text-bg-info bg-gradient fs-6 fw-semibold">Position/Job Change:</div>
        <div class="card-body">
            <form name="jobChangeForm" method="POST" novalidate>
                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <label for="users_dcid" class="form-label form-label-sm label-reset req">Who is changing
                            Job/positions?</label>
                        <select class="form-select form-select-sm" id="users_dcid" aria-label="Who is not returning?"
                            data-ng-model="submitPayload.jobChange.users_dcid" data-ng-required="true"
                            data-ng-change="getExistingStaff(userContext.pageContext, submitPayload.jobChange.users_dcid)">
                            <option selected></option>
                            ~[tlist_sql;SELECT
                            users.dcid,
                            users.first_name,
                            users.last_name
                            FROM SCHOOLSTAFF
                            inner join users
                            on users.dcid = schoolstaff.users_dcid
                            WHERE schoolstaff.status = 1
                            ~[if.is.a.school]
                            AND schoolstaff.schoolid = ~(curschoolid)
                            [/if.is.a.school]
                            Order BY users.last_name , users.first_name]
                            <option value="~(dcid)">~(first) ~(last)</option>
                            [/tlist_sql]
                            <option value="-1">-- Other --</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.jobChange.first_name">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-header fw-semibold ps-1 req">Position/Job Change Information</div>
                            <div class="card-body">
                                <div class="col-5">
                                    <div class="form-floating">
                                        <textarea class="form-control" style="height: 100px"
                                            placeholder="Previous Position/Job:" id="job-change-previous-position"
                                            spellcheck="true" wrap="absolute"
                                            ng-model="submitPayload.jobChange.previous_position"></textarea>
                                        <label class="fw-semibold" for="job-change-previous-position">Previous
                                            Position/Job:</label>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-floating">
                                        <textarea class="form-control" style="height: 100px"
                                            placeholder="New Position/Job:" id="job-change-previous-new"
                                            spellcheck="true" wrap="absolute"
                                            ng-model="submitPayload.jobChange.new_position"></textarea>
                                        <label class="fw-semibold" for="job-change-previous-new">New
                                            Position/Job:</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row align-items-center mb-3"
                    data-ng-if="userContext.pageStatus =='Submit' && submitPayload.jobChange.first_name">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-header fw-semibold ps-1 req">Date of Position/Job Change</div>
                            <div class="card-body">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="exit-date-group"
                                        id="exit-date-today" data-ng-model="submitPayload.jobChange.date_radio"
                                        value="today" data-ng-required="!submitPayload.jobChange.date_radio">
                                    <label class="form-check-label" for="exit-date-today">Today
                                        ({{ userContext.curDate}})</label>
                                </div>
                                <div class="form-check form-check-inline" data-ng-if="userContext.isTodayBeforeJuly">
                                    <input class="form-check-input" type="radio" name="exit-date-group"
                                        id="exit-date-june30" data-ng-model="submitPayload.jobChange.date_radio"
                                        value="june30" data-ng-required="!submitPayload.jobChange.date_radio">
                                    <label class="form-check-label" for="exit-date-june30">June
                                        30th</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="exit-date-group"
                                        id="exit-date-specific" data-ng-model="submitPayload.jobChange.date_radio"
                                        value="other" data-ng-required="!submitPayload.jobChange.date_radio">
                                    <label class="form-check-label" for="exit-date-specific">Specific
                                        Date</label>
                                </div>
                                <div class="row row-cols-sm-auto align-items-center mt-2"
                                    data-ng-if="submitPayload.jobChange.date_radio==='other'">
                                    <div class="col">
                                        <label class="form-label form-label-sm label-reset req">Deactivation
                                            Date</label><br>
                                        <input type="text" class="psDateWidget"
                                            ng-model="submitPayload.jobChange.deadline" ng-required="true">
                                        <script type="text/javascript">initBehaviors();</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3"
                    data-ng-if="userContext.pageStatus =='Submit' && submitPayload.jobChange.first_name">
                    <div class="col-5">
                        <div class="form-floating">
                            <textarea class="form-control" style="height: 100px" placeholder="Additional Notes/Details?"
                                id="exit-add-notes" spellcheck="true" wrap="absolute"
                                ng-model="submitPayload.jobChange.notes"></textarea>
                            <label class="fw-semibold" for="exit-add-notes">Additional Notes/Details?</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto me-auto"><button type="button" class="m-0 p-2 ps-1"
                        data-ng-click="formDipslay('start',userContext.formType)"><i
                            class="bi bi-chevron-left fw-bold"></i> Back</button>
                </div>
                <div class="col-auto"><span class="req-notation me-2"
                        ng-if="(jobChangeForm.$invalid && jobChangeForm.$dirty) || !submitPayload.jobChange.users_dcid">Please
                        fill all required fields prior to submitting.</span>
                    <button type="button" id="subBtn" class="m-0 p-2" data-ng-disabled="jobChangeForm.$invalid"
                        data-ng-show="!subConfirm" data-ng-click="subConfirm = true">Submit</button>
                    <button type="button" id="cancBtn" class="m-0 p-2" data-ng-show="subConfirm"
                        data-ng-click="subConfirm = false">Cancel</button>
                    <button type="button" id="confBtn" class="m-0 p-2 dark-orange" data-ng-show="subConfirm"
                        data-ng-click="submitStaffChange()">Confirm Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <form name="jobChangeForm" method="POST" novalidate>
    <div class="fluid-form">
        <h4 style="margin-left: 10px;">{{newStaff.name_change}}</h4>
        <div>
            <div>
                <label class="req">Who is changing Job/positions?</label>
                <select
                    ng-if="userContext.pageStatus =='Submit' || (userContext.pageStatus =='Edit' && (newStaff.replacing =='New' || newStaff.replacing =='Other'))"
                    name="" ng-model="newStaff.replacing" ng-required="true"
                    ng-change="getExistingStaff(newStaff.replacing)">
                    <option></option>
                    ~[tlist_sql;SELECT
                    users.dcid,
                    users.first_name,
                    users.last_name
                    FROM SCHOOLSTAFF
                    inner join users
                    on users.dcid = schoolstaff.users_dcid
                    WHERE schoolstaff.status =1
                    ~[if.is.a.school]
                    AND schoolstaff.schoolid = ~(curschoolid)
                    [/if.is.a.school]
                    Order BY users.last_name , users.first_name]
                    <option value="~(dcid)">~(first) ~(last)</option>
                    [/tlist_sql]
                    <option value="Other">-- Other --</option>
                </select>
                <input ng-show="userContext.pageStatus =='Edit'&& newStaff.replacing != 'Other'" name="" type="text"
                    value="" ng-model="newStaff.old_name_placeholder">
            </div>
        </div>
        <div ng-if="newStaff.replacing === 'Other'">
            <div>
                <label>Please type name of the staff member changing positions</label>
                <input name="" type="text" value="" style="width: 300px;" ng-model="newStaff.replacing_other">
            </div>
        </div>
        <fieldset ng-if="newStaff.replacing !== ''">
            <legend>Position/Job Change Information</legend>
            <div>
                <div>
                    <label>Previous Position/Job:</label><br>
                    <textarea name="body" rows="3" cols="77" spellcheck="true" wrap="absolute"
                        ng-model="newStaff.previous_position"></textarea>
                </div>
            </div>
            <div>
                <div>
                    <label>New Position/Job:</label><br>
                    <textarea name="body" rows="3" cols="77" spellcheck="true" wrap="absolute"
                        ng-model="newStaff.new_position"></textarea>
                </div>
            </div>
            <div>
                <fieldset>
                    <legend class="req">Date of Position/Job Change</legend>
                    <div>
                        <span><input type="radio" name="exitDateGroup" id="exirRdioc1"
                                ng-model="newStaff.exit_date_radio" value="today"
                                ng-required="!newStaff.exit_date_radio" /><label for="rdioc1">Today
                                ({{userContext.curDate}})</label></span>
                        <span ng-if="userContext.isTodayBeforeJuly"><input type="radio" name="exitDateGroup"
                                id="exirRdioc2" ng-model="newStaff.exit_date_radio" value="june30"
                                ng-required="!newStaff.exit_date_radio" /><label for="exirRdioc2">June
                                30th</label></span>
                        <span><input type="radio" name="exitDateGroup" id="exirRdioc3"
                                ng-model="newStaff.exit_date_radio" value="other"
                                ng-required="!newStaff.exit_date_radio" /><label for="exirRdioc3">Specific
                                Date</label></span>
                        <span>
                    </div>
                    <div style="margin: 0 35px 35px;"
                        ng-if="(userContext.pageStatus =='Submit' && newStaff.exit_date_radio =='other') || (userContext.pageStatus =='Edit' && newStaff.name_change =='Exiting Staff')">
                        <div>
                            <script type="text/javascript">initBehaviors();</script>
                            <label style="padding-left:0;">Date of Position/Job Change</label><br>
                            <input type="text" class="psDateWidget" ng-model="exitingRecord.deadline"
                                ng-required="true">
                        </div>
                    </div>
                </fieldset>
            </div>
        </fieldset>
        <div>
            <div>
                <label>Reason for Job/Position Change and/or Additional Notes/Details?</label>
                <textarea name="body" rows="3" cols="77" spellcheck="true" wrap="absolute"
                    ng-model="newStaff.notes"></textarea>
            </div>
        </div>
        ~[if#distCheck.security.inrole=9]
        <div style="background-color: #fff; border-top: 1px solid #eee;" ng-show="userContext.pageStatus =='Edit'">
            <div>
                <table class="grid">
                    <thead>
                        <tr>
                            <th colspan="4">Account Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                <input type="checkbox" name="" ng-model="newStaff.ps_created"><label>PowerSchool Account
                                    Changes?</label>
                                <ul>
                                    <li>Security Roles Changes?</li>
                                    <li>Security Group Changes?</li>
                                    <li>CDOL Staff Role Changes?</li>
                                </ul>
                            </td>
                            <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                <input type="checkbox" name="" ng-model="newStaff.ad_created"><label>AD User
                                    Account created?</label>
                                <ul>
                                    <li>Exchange email updated?</li>
                                </ul>
                            </td>
                            <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                <input type="checkbox" name="" ng-model="newStaff.o365_created"><label>O365
                                    User
                                    Account updated?</label>
                                <ul>
                                    <li>Office 365 updated?</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        [/if#distCheck]
        <div class="button-row" ng-show="userContext.pageStatus =='Submit'">
            <span class="req-notation" ng-show="positionChangeForm.$invalid && positionChangeForm.$dirty">Please
                fill all required fields prior to submitting.</span>
            <button id="canBtn" type="button" ng-show="subConfirm" ng-click="subConfirm = false">Cancel</button>
            <button id="conBtn" type="button" style="background-color: DarkOrange;" ng-show="subConfirm"
                ng-click="submitStaffChange()">Confirm Submission</button>
            <button id="subBtn" type="button" ng-show="!subConfirm" ng-click="subConfirm = true"
                ng-disabled="positionChangeForm.$invalid">Submit</button>
        </div>
        <div ng-show="userContext.pageStatus =='Edit'" class="button-row">
            <span class="req-notation" ng-show="positionChangeForm.$invalid && positionChangeForm.$dirty">Please
                fill all required fields prior to submitting.</span>
            <button id="canBtn" type="button" ng-show="delUpdate" ng-click="delUpdate = false">Cancel</button>
            <button id="conBtn" type="button" style="background-color: DarkOrange;" ng-show="delUpdate"
                ng-click="deleteStaffChange()">Confirm Deletion</button>
            <a id="bkBtn" class="button" ng-show="!delUpdate"
                href="/admin/cdol/staff_change/cdol_staff_change_list.html">Back</a>
            <button id="delBtn" type="button" ng-show="!delUpdate" ng-click="delUpdate = true">Delete
                Submission</button>
            <button id="upBtn" type="button" ng-disabled="positionChangeForm.$invalid" ng-show="!delUpdate"
                ng-click="submitStaffUpdate()">Submit
                Update</button>
        </div>
    </div>
</form> -->