<div id="name-change-form-container" class="container-fluid">
    prevContext: {{userContext.prevContext}} | pageContext: {{userContext.pageContext}} <br>
    submitPayload: {{submitPayload}}
    <div class="card">
        <div class="card-header bg-warning text-bg-warning bg-gradient fs-6 fw-semibold">Name Change:</div>
        <div class="card-body">
            <form name="nameChangeForm" method="POST" novalidate>
                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <label for="users_dcid" class="form-label form-label-sm label-reset req">Who's name is
                            changing?</label>
                        <select class="form-select form-select-sm" id="users_dcid" aria-label="Who is not returning?"
                            data-ng-model="submitPayload.nameChange.users_dcid" data-ng-required="true"
                            data-ng-change="updateScopeFromDropdown(userContext.pageContext, 'usersData', submitPayload.nameChange.users_dcid, 'users_dcid')">
                            <option selected></option>
                            ~[tlist_sql;SELECT
                            users.dcid,
                            users.first_name,
                            users.last_name
                            FROM SCHOOLSTAFF
                            inner join users
                            on users.dcid = schoolstaff.users_dcid
                            WHERE schoolstaff.status = 1
                            ~[if.is.a.school]
                            AND schoolstaff.schoolid = ~(curschoolid)
                            [/if.is.a.school]
                            Order BY users.last_name , users.first_name]
                            <option value="~(dcid)">~(first) ~(last)</option>
                            [/tlist_sql]
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.nameChange.users_dcid">
                    <div class="col-6">
                        <label for="name-change-staff-name" class="form-label form-label-sm  label-reset req">Please
                            change name below to {{submitPayload.nameChange.old_name_placeholder}}'s new name</label>
                        <div class="input-group">
                            <select class="form-select form-select-sm" aria-label="title"
                                data-ng-model="submitPayload.nameChange.title" data-ng-required="true"
                                data-ng-if="!['Fr.','Msgr.','Sr.','Br.'].includes(submitPayload.nameChange.title)">
                                <option selected></option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Ms.">Ms.</option>
                                <option value="Dr.">Dr.</option>
                                <option value="Fr.">Fr.</option>
                                <option value="Msgr.">Msgr.</option>
                                <option value="Sr.">Sr.</option>
                                <option value="Br.">Br.</option>
                            </select>
                            <input type="text" class="form-control form-control-sm w-25" placeholder="First name"
                                aria-label="First name" data-ng-model="submitPayload.nameChange.first_name"
                                data-ng-required="true">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Middle name"
                                aria-label="Middle name" data-ng-model="submitPayload.nameChange.middle_name">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Last name"
                                aria-label="Last name" data-ng-model="submitPayload.nameChange.last_name"
                                data-ng-required="true">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3"
                    data-ng-if="userContext.pageStatus =='Submit' && submitPayload.nameChange.first_name">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-header fw-semibold ps-1 req">Requested Name Change Date</div>
                            <div class="card-body">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="exit-date-group"
                                        id="exit-date-today" data-ng-model="submitPayload.nameChange.date_radio"
                                        value="today" data-ng-required="!submitPayload.nameChange.date_radio">
                                    <label class="form-check-label" for="exit-date-today">Today
                                        ({{ userContext.curDate}})</label>
                                </div>
                                <div class="form-check form-check-inline" data-ng-if="userContext.isTodayBeforeJuly">
                                    <input class="form-check-input" type="radio" name="exit-date-group"
                                        id="exit-date-june30" data-ng-model="submitPayload.nameChange.date_radio"
                                        value="june30" data-ng-required="!submitPayload.nameChange.date_radio">
                                    <label class="form-check-label" for="exit-date-june30">June
                                        30th</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="exit-date-group"
                                        id="exit-date-specific" data-ng-model="submitPayload.nameChange.date_radio"
                                        value="other" data-ng-required="!submitPayload.nameChange.date_radio">
                                    <label class="form-check-label" for="exit-date-specific">Specific
                                        Date</label>
                                </div>
                                <div class="row row-cols-sm-auto align-items-center mt-2"
                                    data-ng-if="submitPayload.nameChange.date_radio==='other'">
                                    <div class="col">
                                        <label class="form-label form-label-sm label-reset req">Requested Name Change
                                            Date</label><br>
                                        <input title="deadline" type="text" class="psDateWidget"
                                            ng-model="submitPayload.nameChange.deadline" ng-required="true">
                                        <script type="text/javascript">initBehaviors();</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"
                        data-ng-if="userContext.pageStatus =='Submit' && submitPayload.nameChange.date_radio">
                        <div class="alert alert-warning" role="alert"><i class="bi bi-exclamation-triangle-fill"></i>
                            {{submitPayload.nameChange.old_name_placeholder}} will need to at ~(schoolname) and on the
                            network in order to change their name, so we can ensure they can log into all the various
                            systems after the update.<br> Please choose an change date when
                            {{submitPayload.nameChange.old_name_placeholder}} can be at ~(schoolname).
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3"
                    data-ng-if="userContext.pageStatus =='Submit' && submitPayload.nameChange.first_name">
                    <div class="col-xl-6">
                        <div class="form-floating">
                            <textarea class="form-control"
                                placeholder="Reason for Name Change and/or additional Notes/Details?"
                                id="exit-add-notes" spellcheck="true" wrap="absolute"
                                ng-model="submitPayload.nameChange.notes"></textarea>
                            <label class="fw-semibold" for="exit-add-notes">Reason for Name Change and/or additional
                                Notes/Details?</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto me-auto"><button type="button" class="m-0 p-2 ps-1"
                        data-ng-click="formDipslay('start', userContext.formType, 'back')"><i
                            class="bi bi-chevron-left fw-bold"></i> Back</button>
                </div>
                <div class="col-auto"><span class="req-notation me-2"
                        ng-if="(nameChangeForm.$invalid && nameChangeForm.$dirty) || !submitPayload.nameChange.users_dcid">Please
                        fill all required fields prior to submitting.</span>
                    <button type="button" id="subBtn" class="m-0 p-2" data-ng-disabled="nameChangeForm.$invalid "
                        data-ng-show="!subConfirm" data-ng-click="subConfirm = true">Submit</button>
                    <button type="button" id="cancBtn" class="m-0 p-2" data-ng-show="subConfirm"
                        data-ng-click="subConfirm = false">Cancel</button>
                    <button type="button" id="confBtn" class="m-0 p-2 dark-orange" data-ng-show="subConfirm"
                        data-ng-click="submitStaffChange()">Confirm Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>