<div id="start-form-container" class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <div class="ms-3">
                <div id="start-card" class="card">
                    <div class="card-header fs-6 fw-semibold">Type of Staff Change:
                    </div>
                    <div class="card-body">
                        <div class="form-check" data-ng-mouseenter="userContext.formTypeHover = 'newStaff'"
                            data-ng-mouseleave="userContext.formTypeHover = userContext.formType">
                            <input class="form-check-input" type="radio" name="new-staff-radio" id="new-staff-radio"
                                data-ng-model="userContext.formType" value="newStaff">
                            <label class="form-check-label change-type-radio-label" for="new-staff-radio">
                                New Staff
                            </label>
                        </div>
                        <div class="form-check" data-ng-mouseenter="userContext.formTypeHover = 'transferringStaff'"
                            data-ng-mouseleave="userContext.formTypeHover = userContext.formType">
                            <input class="form-check-input" type="radio" name="transferring-staff-radio"
                                id="transferring-staff-radio" data-ng-model="userContext.formType"
                                value="transferringStaff">
                            <label class="form-check-label change-type-radio-label" for="transferring-staff-radio">
                                Transferring Staff
                            </label>
                        </div>
                        <div class="form-check" data-ng-mouseenter="userContext.formTypeHover = 'jobChange'"
                            data-ng-mouseleave="userContext.formTypeHover = userContext.formType">
                            <input class="form-check-input" type="radio" name="job-change-radio" id="job-change-radio"
                                data-ng-model="userContext.formType" value="jobChange">
                            <label class="form-check-label change-type-radio-label" for="job-change-radio">
                                Position/Job Change
                            </label>
                        </div>
                        <div class="form-check" data-ng-mouseenter="userContext.formTypeHover = 'nameChange'"
                            data-ng-mouseleave="userContext.formTypeHover = userContext.formType">
                            <input class="form-check-input" type="radio" name="name-change-radio" id="name-change-radio"
                                data-ng-model="userContext.formType" value="nameChange">
                            <label class="form-check-label change-type-radio-label" for="name-change-radio">
                                Name Change
                            </label>
                        </div>
                        <div class="form-check" data-ng-mouseenter="userContext.formTypeHover = 'exitingStaff'"
                            data-ng-mouseleave="userContext.formTypeHover = userContext.formType">
                            <input class="form-check-input" type="radio" name="exiting-staff-radio"
                                id="exiting-staff-radio" data-ng-model="userContext.formType" value="exitingStaff">
                            <label class="form-check-label change-type-radio-label" for="exiting-staff-radio">
                                Exiting Staff
                            </label>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-auto pe-1"><button type="button" class="m-0 p-2 pe-1"
                                    data-ng-disabled="!userContext.formType"
                                    data-ng-click="formDisplay(userContext.formType, userContext.prevContext, 'reset')">Next
                                    <i class="bi bi-chevron-right fw-bold"></i></button></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col">
            <div id="new-staff-card" class="card" data-ng-if="userContext.formTypeHover === 'newStaff'">
                <div class="card-header bg-success text-bg-success bg-gradient fs-6 fw-semibold">New Staff :
                </div>
                <div class="card-body">
                    A new staff member is someone new to the Diocese of Lincoln and has
                    never worked for ~(schoolname) or any other Diocese of Lincoln Schools.
                </div>
                <div class="card-footer">
                    <strong>For Example:</strong> A teacher coming to teach at ~(schoolname) from out of
                    state.<br>
                    <strong>Another Example:</strong> A teacher who will be teaching for the first time
                    after just completing college.
                    <br>
                    <strong>Another Example:</strong> A teacher who previously taught at the public
                    schools
                    but is teaching for the first time at ~(schoolname).
                </div>
            </div>
            <div id="transferring-staff-card" class="card"
                data-ng-if="userContext.formTypeHover === 'transferringStaff'">
                <div class="card-header bg-primary text-bg-primary bg-gradient fs-6 fw-semibold">Transferring
                    Staff :
                </div>
                <div class="card-body">
                    A transferring staff member is someone coming <strong>INTO</strong> ~(schoolname)
                    from another Diocese of Lincoln School.
                </div>
                <div class="card-footer">
                    <strong>For Example:</strong> A teacher coming <strong>INTO</strong> ~(schoolname)
                    from
                    any other Diocese of Lincoln school.<br>
                    <strong>Another Example:</strong> A priest or religious sister who previously taught
                    at
                    another Diocese of Lincoln School and is being reassigned to ~(schoolname).
                </div>
            </div>
            <div id="job-change-card" class="card" data-ng-if="userContext.formTypeHover === 'jobChange'">
                <div class="card-header bg-info text-bg-info bg-gradient fs-6 fw-semibold">Position/Job
                    Change
                    :
                </div>
                <div class="card-body">
                    Choose this option for someone who is going to still be a staff member at
                    ~(schoolname)
                    but is going to change positions or jobs
                    within ~(schoolname).
                </div>
                <div class="card-footer">
                    <strong>For Example:</strong> A teacher at ~(schoolname) used to teach first grade
                    but
                    now is going to teach second grade.<br>
                    <strong>Another Example:</strong> A teacher at ~(schoolname) used to teach computers
                    but
                    is now going to be the administrative assistant in the front office.
                </div>
            </div>
            <div id="name-change-card" class="card" data-ng-if="userContext.formTypeHover === 'nameChange'">
                <div class="card-header bg-warning text-bg-warning bg-gradient fs-6 fw-semibold">Name Change :
                </div>
                <div class="card-body">
                    Choose this option for someone who needs to, or will need to in the near future,
                    legally
                    change their name.
                </div>
                <div class="card-footer">
                    <strong>Example:</strong> A staff member who is going to get married and needs their
                    last name changed.
                </div>
            </div>
            <div id="exiting-staff-card" class="card" data-ng-if="userContext.formTypeHover === 'exitingStaff'">
                <div class="card-header bg-secondary text-bg-secondary bg-gradient fs-6 fw-semibold">Exiting
                    Staff
                    :
                </div>
                <div class="card-body">
                    A staff member not returning to ~(schoolname).
                </div>
                <div class="card-footer">
                    <strong>Example:</strong> A teacher who will not be returning to ~(schoolname) next
                    school year.<br>
                    <strong>Another Example:</strong> A staff member who quits unexpectedly and their
                    account needs to be deactivated.
                </div>
            </div>
        </div>
    </div>
</div>