<div id="transferring-form-container" class="container-fluid">
    prevContext: {{userContext.prevContext}} | pageContext: {{userContext.pageContext}} <br>
    submitPayload: {{submitPayload}}
    <div class="card">
        <div class="card-header bg-secondary text-bg-secondary bg-gradient fs-6 fw-semibold">Transferring Staff:</div>
        <div class="card-body">
            <form name="transferringStaffForm" method="POST" novalidate>
                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <label for="users_dcid" class="form-label form-label-sm label-reset req">Who is not
                            returning?</label>
                        <select class="form-select form-select-sm" id="users_dcid" aria-label="Who is not returning?"
                            data-ng-model="submitPayload.transferringStaff.users_dcid" data-ng-required="true"
                            data-ng-change="getExistingStaff(userContext.pageContext, submitPayload.transferringStaff.users_dcid)">
                            <option selected></option>
                            ~[tlist_sql;SELECT DISTINCT
                            users.dcid,
                            users.first_name,
                            users.last_name
                            FROM SCHOOLSTAFF
                            inner join users
                            on users.dcid = schoolstaff.users_dcid
                            WHERE schoolstaff.status = 1
                            Order BY users.last_name , users.first_name]
                            <option value="~(dcid)">~(first) ~(last)</option>
                            [/tlist_sql]
                            <option value="-1">-- Other --</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.transferringStaff.users_dcid == -1">
                    <div class="col-6">
                        <label for="transferring-staff-name"
                            class="form-label form-label-sm  label-reset req">Transferring Staff
                            Name</label>
                        <div class="input-group">
                            <select class="form-select form-select-sm" aria-label="title"
                                data-ng-model="submitPayload.transferringStaff.title" data-ng-required="true"
                                data-ng-if="!['Fr.','Msgr.','Sr.','Br.'].includes(submitPayload.transferringStaff.title)">
                                <option selected></option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Ms.">Ms.</option>
                                <option value="Dr.">Dr.</option>
                                <option value="Fr.">Fr.</option>
                                <option value="Msgr.">Msgr.</option>
                                <option value="Sr.">Sr.</option>
                                <option value="Br.">Br.</option>
                            </select>
                            <input type="text" class="form-control form-control-sm w-25" placeholder="First name"
                                aria-label="First name" data-ng-model="submitPayload.transferringStaff.first_name"
                                data-ng-required="true">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Middle name"
                                aria-label="Middle name" data-ng-model="submitPayload.transferringStaff.middle_name">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Last name"
                                aria-label="Last name" data-ng-model="submitPayload.transferringStaff.last_name"
                                data-ng-required="true">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3"
                    data-ng-if="userContext.pageStatus =='Submit' && submitPayload.transferringStaff.first_name">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-header fw-semibold ps-1 req">{{
                                submitPayload.transferringStaff.first_name}} {{
                                submitPayload.transferringStaff.last_name}}'s Transfer
                                Date</div>
                            <div class="card-body">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="exit-date-group"
                                        id="exit-date-today" data-ng-model="submitPayload.transferringStaff.date_radio"
                                        value="today" data-ng-required="!submitPayload.transferringStaff.date_radio">
                                    <label class="form-check-label" for="exit-date-today">Today
                                        ({{ userContext.curDate}})</label>
                                </div>
                                <div class="form-check form-check-inline" data-ng-if="userContext.isTodayBeforeJuly">
                                    <input class="form-check-input" type="radio" name="exit-date-group"
                                        id="exit-date-june30" data-ng-model="submitPayload.transferringStaff.date_radio"
                                        value="june30" data-ng-required="!submitPayload.transferringStaff.date_radio">
                                    <label class="form-check-label" for="exit-date-june30">June
                                        30th</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="exit-date-group"
                                        id="exit-date-specific"
                                        data-ng-model="submitPayload.transferringStaff.date_radio" value="other"
                                        data-ng-required="!submitPayload.transferringStaff.date_radio">
                                    <label class="form-check-label" for="exit-date-specific">Specific
                                        Date</label>
                                </div>
                                <div class="row row-cols-sm-auto align-items-center mt-2"
                                    data-ng-if="submitPayload.transferringStaff.date_radio==='other'">
                                    <div class="col">
                                        <label class="form-label form-label-sm label-reset req">Transfer
                                            Date</label><br>
                                        <input type="text" class="psDateWidget"
                                            ng-model="submitPayload.transferringStaff.deadline" ng-required="true">
                                        <script type="text/javascript">initBehaviors();</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3"
                    data-ng-if="userContext.pageStatus =='Submit' && submitPayload.transferringStaff.first_name">
                    <div class="col-xl-6">
                        <div class="form-floating">
                            <textarea class="form-control" style="height: 100px" placeholder="Additional Notes/Details?"
                                id="exit-add-notes" spellcheck="true" wrap="absolute"
                                ng-model="submitPayload.transferringStaff.notes"></textarea>
                            <label class="fw-semibold" for="exit-add-notes">Additional Notes/Details?</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="alert alert-primary" role="alert"><i class="bi bi-chat-right-text-fill"></i>
                            <strong><u>Please Note</u></strong>: personal files (i.e. Documents, pictures, music and
                            videos)
                            should be moved by {{
                            submitPayload.transferringStaff.first_name}} {{
                            submitPayload.transferringStaff.last_name}}.<br> The Education
                            Techonology
                            Office is not
                            responsible for any files after {{
                            submitPayload.transferringStaff.first_name}} {{
                            submitPayload.transferringStaff.last_name}} has been transferred.
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto me-auto"><button type="button" class="m-0 p-2 ps-1"
                        data-ng-click="formDipslay('start',userContext.formType)"><i
                            class="bi bi-chevron-left fw-bold"></i> Back</button>
                </div>
                <div class="col-auto"><span class="req-notation me-2"
                        ng-if="(transferringStaffForm.$invalid && transferringStaffForm.$dirty) || !submitPayload.transferringStaff.users_dcid">Please
                        fill all required fields prior to submitting.</span>
                    <button type="button" id="subBtn" class="m-0 p-2" data-ng-disabled="transferringStaffForm.$invalid"
                        data-ng-show="!subConfirm" data-ng-click="subConfirm = true">Submit</button>
                    <button type="button" id="cancBtn" class="m-0 p-2" data-ng-show="subConfirm"
                        data-ng-click="subConfirm = false">Cancel</button>
                    <button type="button" id="confBtn" class="m-0 p-2 dark-orange" data-ng-show="subConfirm"
                        data-ng-click="submitStaffChange()">Confirm Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <form name="staffTransferForm" method="POST" novalidate>
    <script type="text/javascript">initBehaviors();</script>
    <div class="fluid-form">
        <h4 style="margin-left: 10px;">{{newStaff.name_change}} Name</h4>
        <div>
            <div>
                <label class="req">Title</label>
                <select name="" id="selectTitle" ng-model="newStaff.title"
                    ng-required="true">~[x:codesetoptions;codetype=Title;includeblank;value=~([U_CDOL_STAFF_CHANGES]title)]</select>
            </div>
            <div>
                <label class="req">First Name</label>
                <input name="" type="text" value="" ng-model="newStaff.first_name" ng-required="true">
            </div>
            <div>
                <label>Middle Name</label>
                <input name="" type="text" value="" ng-model="newStaff.middle_name">
            </div>
            <div>
                <label class="req">Last Name</label>
                <input name="" type="text" value="" ng-model="newStaff.last_name" ng-required="true">
            </div>
        </div>
        <div>
            <div>
                <label class="req">Staff Type</label>
                <select name="" ng-model="newStaff.staff_type" ng-required="true">
                    <option></option>
                    <option value="1">Teacher</option>
                    <option value="2">Staff</option>
                    <option value="3">Lunch Staff</option>
                    <option value="4">Substitute</option>
                </select>
            </div>
            <div>
                <label class="req">Position</label>
                <input name="" type="text" value="" placeholder="Ex: 2nd Grade Teacher, or Principal"
                    style="width: 300px;" ng-model="newStaff.position" ng-required="true">
            </div>
            <div>
                <label>FTE</label>
                <select name="" type="text" value="" ng-model="newStaff.fte">
                    <option></option>
                    <option value="FT">FT - Full-time</option>
                    <option value="PT">PT - Part-time</option>
                </select>
            </div>
            <div>
                <label>Anticipated Contract Start Date <span class="notation">(can be
                        approximate)</span></label>
                <input type="text" class="psDateWidget" ng-model="newStaff.start_date">
            </div>
        </div>
        <div ng-if="userContext.isTodayBeforeJuly">
            <div id="feedback-message" class="feedback-alert" ng-show="userContext.pageStatus =='Submit'">
                All
                staff accounts transfering from another
                Diocese of Lincoln School, will not be moved until June 30th.<br> If
                {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}} needs access to your
                school
                prior to then, please specify below.</div>
        </div>
        <div ng-if="userContext.isTodayBeforeJuly">
            <div>
                <label>Will <span
                        ng-show="newStaff.title =='' && newStaff.first_name =='' && newStaff.last_name ==''">{{userContext.transferStaffTempName}}</span>
                    {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}} need their account
                    transferred prior to June 30th?</label>
                <span><input type="radio" name="earlySetupGroup" id="erlyRdio1" ng-model="newStaff.early_setup"
                        value="Yes" /><label for="erlyRdio1">Yes</label></span>
                <span><input type="radio" name="earlySetupGroup" id="erlyRdio2" ng-model="newStaff.early_setup"
                        value="No" /><label for="erlyRdio2">No</label></span>
            </div>
        </div>
        <div ng-show="newStaff.early_setup =='Yes'">
            <div>
                <label>Requested transfer date for <span
                        ng-show="newStaff.title =='' && newStaff.first_name =='' && newStaff.last_name ==''">{{userContext.transferStaffTempName}}</span>
                    {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}}</label>
                <input type="text" class="psDateWidget" ng-model="newStaff.deadline">
            </div>
        </div>
        <div>
            <div>
                <label>Where was <span
                        ng-show="newStaff.title =='' && newStaff.first_name =='' && newStaff.last_name ==''">{{userContext.transferStaffTempName}}</span>
                    {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}} previously
                    employed?</label>
                <select name="" ng-model="newStaff.previous_employer">
                    <option></option>
                    ~[tlist_sql;SELECT SCHOOLS.School_number, SCHOOLS.name, SCHOOLS.SchoolCategoryCodesetID
                    FROM SCHOOLS
                    WHERE SCHOOLS.School_number NOT IN (888888,999999,79438)
                    ORDER BY schools.name;]
                    <option value="~(schnum)">~(schname)</option>
                    [/tlist_sql]
                    <option value="Other">-- Other --</option>
                </select>
            </div>
        </div>
        <div ng-if="newStaff.previous_employer === 'Other'">
            <div>
                <label>Please type previous employer</label>
                <input name="" type="text" value="" style="width: 300px;" ng-model="newStaff.previous_employer_other">
            </div>
        </div>
        <div>
            <div class="feedback-info" ng-show="userContext.pageStatus =='Submit'">
                <b><u>Please Note:</u></b> personal files (i.e. Documents and pictures, music and videos)
                should be moved by <span
                    ng-show="newStaff.title =='' && newStaff.first_name =='' && newStaff.last_name ==''">{{userContext.transferStaffTempName}}</span>
                {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}}.<br> Ed Tech is not
                responsible for moving the files to the new server.
            </div>
        </div>
        <div>
            <div>
                <label class="req">Is <span
                        ng-show="newStaff.title =='' && newStaff.first_name =='' && newStaff.last_name ==''">{{userContext.transferStaffTempName}}</span>
                    {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}} replacing a current
                    staff member who is leaving ~(schoolname)?</label>
                <span><input type="radio" name="exitGroup" id="exirRdioq1" ng-model="newStaff.exit_radio" value="Yes"
                        ng-required="!newStaff.exit_radio" /><label for="rdioq1">Yes</label></span>
                <span><input type="radio" name="exitGroup" id="exirRdioq2" ng-model="newStaff.exit_radio" value="No"
                        ng-required="!newStaff.exit_radio" /><label for="exirRdioq2">No</label></span>
            </div>
        </div>
        <fieldset ng-if="newStaff.exit_radio =='Yes'" class="bg-secondary">
            <legend>Exiting Staff Information</legend>
            <div>
                <div>
                    <label>Who is <span
                            ng-show="newStaff.title =='' && newStaff.first_name =='' && newStaff.last_name ==''">{{userContext.transferStaffTempName}}</span>
                        {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}} Replacing? <span style="color: red;
font-size: 13.5pt;"> *</span><br><span class="notation">(choose Other if staff member being replaced is not
                            listed)</span></label><br>
                    <select style="margin-left: 10px;"
                        ng-show="userContext.pageStatus =='Submit' || (userContext.pageStatus =='Edit' && (newStaff.replacing =='New' || newStaff.replacing =='Other'))"
                        name="" ng-model="newStaff.replacing" ng-required="true" ng-change="getExistingStaff()">
                        <option></option>
                        ~[tlist_sql;SELECT
                        users.dcid,
                        users.first_name,
                        users.last_name
                        FROM SCHOOLSTAFF
                        inner join users
                        on users.dcid = schoolstaff.users_dcid
                        WHERE schoolstaff.status =1
                        ~[if.is.a.school]
                        AND schoolstaff.schoolid = ~(curschoolid)
                        [/if.is.a.school]
                        Order BY users.last_name , users.first_name]
                        <option value="~(dcid)">~(first) ~(last)</option>
                        [/tlist_sql]
                        <option value="Other">-- Other --</option>
                    </select><span class="feedback-info"
                        ng-show="newStaff.replacing !='Other' && newStaff.replacing !=''&& userContext.pageStatus =='Submit'"><b><u>Please
                                Note:</u></b> An exiting staff record will also be submitted for <span
                            ng-show="exitingRecord.first_name =='' && exitingRecord.last_name ==''">the
                            replaced
                            staff</span>{{exitingRecord.first_name}} {{exitingRecord.last_name}} when you
                        click
                        Submit</span>
                    <input ng-show="newStaff.replacing !='Other' && userContext.pageStatus =='Edit'" name="" type="text"
                        value="" ng-model="newStaff.old_name_placeholder">
                </div>
            </div>
            <div ng-if="newStaff.replacing === 'Other'">
                <div>
                    <label>Please type name of the staff member <span
                            ng-show="newStaff.title =='' && newStaff.first_name =='' && newStaff.last_name ==''">{{userContext.transferStaffTempName}}</span>
                        {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}} is
                        replacing</label><br>
                    <input name="" type="text" value="" style="width: 300px; margin-left:10px;"
                        ng-model="newStaff.replacing_other">
                </div>
            </div>
            <div ng-if="newStaff.replacing !=''  && userContext.pageStatus =='Submit'">
                <fieldset>
                    <legend class="req"><span
                            ng-show="exitingRecord.first_name =='' && exitingRecord.last_name ==''">The
                            Exiting
                            Staff {{newStaff.old_name_placeholder}}</span><span
                            ng-show="newStaff.replacing != 'Other'">{{exitingRecord.first_name}}
                            {{exitingRecord.last_name}}</span><span
                            ng-show="newStaff.replacing === 'Other'">{{newStaff.replacing_other}}</span>'s
                        Deactivation
                        Date</legend>
                    <span><input type="radio" name="exitDateGroup" id="exirRdioc1" ng-model="newStaff.exit_date_radio"
                            value="today" ng-required="!newStaff.exit_date_radio" /><label for="rdioc1">Today
                            ({{userContext.curDate}})</label></span>
                    <span ng-if="userContext.isTodayBeforeJuly"><input type="radio" name="exitDateGroup" id="exirRdioc2"
                            ng-model="newStaff.exit_date_radio" value="june30"
                            ng-required="!newStaff.exit_date_radio" /><label for="exirRdioc2">June
                            30th</label></span>
                    <span><input type="radio" name="exitDateGroup" id="exirRdioc3" ng-model="newStaff.exit_date_radio"
                            value="other" ng-required="!newStaff.exit_date_radio" /><label for="exirRdioc3">Specific
                            Date</label></span>
                    <span>
                </fieldset>
            </div>
            <div style="margin: 0 35px 35px;"
                ng-if="(userContext.pageStatus =='Submit' && newStaff.exit_date_radio =='other') || (userContext.pageStatus =='Edit' && newStaff.name_change =='Exiting Staff')">
                <div>
                    <script type="text/javascript">initBehaviors();</script>
                    <label style="padding-left:0;">Requested Deactivation Date<span class="notation">(please
                            type in the
                            date)</span></label><br>
                    <input type="text" class="psDateWidget" ng-model="exitingRecord.deadline" ng-required="true">
                </div>
            </div>
        </fieldset>
        <div>
            <div>
                <label>Additional Notes/Details?</label>
                <textarea name="body" rows="3" cols="77" spellcheck="true" wrap="absolute" ng-model="newStaff.notes"
                    ng-change="exitingRecord.notes=newStaff.notes"></textarea>
            </div>
        </div>
        ~[if#distCheck.security.inrole=9]
        <div style="background-color: #fff; border-top: 1px solid #eee;" ng-show="userContext.pageStatus =='Edit'">
            <div>
                <table class="grid dis-check-table">
                    <thead>
                        <tr>
                            <th colspan="6">Account Transfer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" name="" ng-model="newStaff.ps_created"><label>PowerSchool Account
                                    Moved?</label>
                            </td>
                            <td class="rb-n">
                                <input type="checkbox" name="" ng-disabled="newStaff.ad_ignored === true"
                                    ng-model="newStaff.ad_created"><label>AD
                                    Account Moved?</label>
                            </td>
                            <td>
                                <input type="checkbox" name="" ng-disabled="newStaff.ad_created"
                                    ng-model="newStaff.ad_ignored"><label class="text-muted">Not
                                    Applicable</label>
                            </td>
                            <td class="rb-n">
                                <input type="checkbox" name="" ng-disabled="newStaff.o365_ignored === true"
                                    ng-model="newStaff.o365_created"><label>O365
                                    Account Verified?</label>
                            </td>
                            <td>
                                <input type="checkbox" class="ml" name="" ng-disabled="newStaff.o365_created"
                                    ng-model="newStaff.o365_ignored"><label class="text-muted mr">Not
                                    Applicable</label>
                            </td>
                            <td>
                                <input type="checkbox" name="" ng-model="newStaff.lms_created"><label>LMS
                                    Double Check?</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul>
                                    <li>New School added and Activated?</li>
                                    <li>Old School Deactivated?</li>
                                </ul>
                            </td>
                            <td colspan="2">
                                <ul>
                                    <li>Groups and other fields changed reflecting the move?</li>
                                    <li>E-mailbox moved to the new school?</li>
                                </ul>
                            </td>
                            <td colspan="2">
                                <ul>
                                    <li>Verify Teams and Office 365 groups</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Re-assign class ownership (if applicable)</li>
                                    <li>Check UPN (if transfering to or from Pius)</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        [/if#distCheck]
        <div class="button-row" ng-show="userContext.pageStatus =='Submit'">
            <span class="req-notation" ng-show="staffTransferForm.$invalid && staffTransferForm.$dirty">Please
                fill all required fields prior to submitting.</span>
            <button id="canBtn" type="button" ng-show="subConfirm" ng-click="subConfirm = false">Cancel</button>
            <button id="conBtn" type="button" style="background-color: DarkOrange;" ng-show="subConfirm"
                ng-click="submitStaffChange()">Confirm Submission</button>
            <button id="subBtn" type="button" ng-show="!subConfirm" ng-click="subConfirm = true"
                ng-disabled="staffTransferForm.$invalid">Submit</button>
        </div>
        <div ng-show="userContext.pageStatus =='Edit'" class="button-row">
            <span class="req-notation" ng-show="staffTransferForm.$invalid && staffTransferForm.$dirty">Please
                fill all required fields prior to submitting.</span>
            <button id="canBtn" type="button" ng-show="delUpdate" ng-click="delUpdate = false">Cancel</button>
            <button id="conBtn" type="button" style="background-color: DarkOrange;" ng-show="delUpdate"
                ng-click="deleteStaffChange()">Confirm Deletion</button>
            <a id="bkBtn" class="button" ng-show="!delUpdate"
                href="/admin/cdol/staff_change/cdol_staff_change_list.html">Back</a>
            <button id="delBtn" type="button" ng-show="!delUpdate" ng-click="delUpdate = true">Delete
                Submission</button>
            <button id="upBtn" type="button" ng-disabled="staffTransferForm.$invalid" ng-show="!delUpdate"
                ng-click="submitStaffUpdate()">Submit
                Update</button>
        </div>
    </div>
</form> -->