<!DOCTYPE html>
<html>

    <head>
        <title>Edit Staff Change</title>
        ~[wc:commonscripts]
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">
        <script type="text/javascript" src="/admin/cdol/scripts/cdol_staff_change.js"></script>
        <style>
            .notation {
                font-weight: normal;
                font-style: italic;

            }

            .req::after {
                content: " *";
                color: red;
            }
        </style>
    </head>

    <body id="cdolStaffAppDiv" ng-controller="cdolStaffAppCtrl" ng-cloak>
        ~[wc:admin_header_css]
        Edit Staff Change
        ~[wc:admin_navigation_css]
        <h1>Edit Staff Change</h1>
        <form action="cdol_staff_change_list.html" method="POST">
            ~[DirectTable.Select:U_CDOL_STAFF_CHANGES;ID:~(gpv.id)]
            <div class="fluid-form">
                <div>
                    <div>
                        <label class="req">Title</label>
                        <select name="[U_CDOL_STAFF_CHANGES]title"
                            id="selectTitle">~[x:codesetoptions;codetype=Title;includeblank;value=~([U_CDOL_STAFF_CHANGES]title)]</select>
                    </div>
                    <div>
                        <label class="req">First Name</label>
                        <input name="[U_CDOL_STAFF_CHANGES]first_name" type="text" value="">
                    </div>
                    <div>
                        <label>Middle Name</label>
                        <input name="[U_CDOL_STAFF_CHANGES]middle_name" type="text" value="">
                    </div>
                    <div>
                        <label class="req">Last Name</label>
                        <input name="[U_CDOL_STAFF_CHANGES]last_name" type="text" value="">
                    </div>
                </div>
                <div>
                    <div>
                        <label class="req">Gender</label>
                        <select name="[U_CDOL_STAFF_CHANGES]gender"
                            id="selectgender">~[x:codesetoptions;codetype=Gender;includeblank;value=~([U_CDOL_STAFF_CHANGES]preferred_name)]</select>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Preferred Name</label>
                        <input name="[U_CDOL_STAFF_CHANGES]preferred_name" type="text" value="">
                    </div>
                    <div>
                        <label>Maiden Name</label>
                        <input name="[U_CDOL_STAFF_CHANGES]maiden_name" type="text" value="">
                    </div>
                </div>
                <div>
                    <div>
                        <label>Personal Email</label>
                        <input name="[U_CDOL_STAFF_CHANGES]personal_email" type="email" value="">
                    </div>
                </div>
                <div>
                    <div>
                        <label class="req">Staff Type</label>
                        <select name="[U_CDOL_STAFF_CHANGES]staff_type">
                            <option></option>
                            <option value="Teacher">
                                Teacher
                            </option>
                            <option value="Administrator">Administrator</option>
                            <option value="Staff">
                                Staff
                            </option>
                        </select>
                    </div>
                    <div>
                        <label class="req">Position</label>
                        <input name="[U_CDOL_STAFF_CHANGES]position" type="text" value="" style="width: 300px;">
                    </div>
                    <div>
                        <label>Start Date</label>
                        <input name="[U_CDOL_STAFF_CHANGES]start_date" type="text" value="">
                    </div>
                </div>
                <div>
                    <div>
                        <label class="req">Replacing or New Staff</label>
                        <select name="[U_CDOL_STAFF_CHANGES]replacing">
                            <option></option>
                            ~[tlist_sql;SELECT
                            users.dcid,
                            CASE WHEN users.dcid = '~([U_CDOL_STAFF_CHANGES]replacing)' THEN
                            'selected' ELSE '' END selectedstaff,
                            users.first_name,
                            users.last_name
                            FROM SCHOOLSTAFF
                            inner join users
                            on users.dcid = schoolstaff.users_dcid
                            WHERE schoolstaff.schoolid = ~(curschoolid)
                            AND schoolstaff.status =1
                            Order BY users.last_name , users.first_name]
                            <option value="~(dcid)" ~(selectedstaff,t)>~(first) ~(last)</option>
                            [/tlist_sql]
                            <option value="New">New Position</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Has previously worked for another Diocese of Lincoln School?</label>
                        <select name="[U_CDOL_STAFF_CHANGES]previous">
                            <option></option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Where previously employed</label>
                        <input name="[U_CDOL_STAFF_CHANGES]previous_employer" type="text" value=""
                            style="width: 300px;">
                        </select>
                    </div>

                </div>
                <div>
                    <div>
                        <label>Other Employer (if not in field above)</label>
                        <input name="[U_CDOL_STAFF_CHANGES]previous_employer_other" type="text" value=""
                            style="width: 300px;">
                    </div>
                </div>
                <div>
                    <div>
                        <label>Next Available Staff ID:</label>
                        ~[tlist_sql;sselect (max(to_number(teachers.teachernumber))+1)
                        from teachers where
                        REGEXP_LIKE(teachers.teachernumber,CHR(94)||'\d+$')]
                        <input name="" mg-model="newStaffID" type="text" value="~(maxTeacherID;t)">[/tlist_sql]
                    </div>
                </div>
                <div>
                    <div>
                        <label>PS Account Created?</label>
                        <input type="checkbox" name="[U_CDOL_STAFF_CHANGES]ps_created" value="1"
                            id="PSaccount" />&nbsp;(Yes)
                    </div>
                    <div>
                        <label>AD Account Created?</label>
                        <input type="checkbox" name="[U_CDOL_STAFF_CHANGES]ad_created" value="1"
                            id="ADaccount" />&nbsp;(Yes)
                    </div>
                </div>
                <div class="button-row"><input type="hidden" name="ac" value="prim" />
                    <a href="cdol_staff_change_list.html" class="button">Cancel</a>
                    <button type="submit" id="btnSubmit" name="btnSubmit">Submit</button>
        </form>
        </div>
        <div><button type="button" ng-show="!isShow" ng-click="isShow=true">Delete</button><button type="button"
                ng-show="isShow" ng-click="isShow=false">Cancel</button>
            <form id="delete_button" action="cdol_staff_change_list.html" method="post"><input type="hidden" name="ac"
                    value="prim" /><input type="hidden" name="DD-U_CDOL_STAFF_CHANGES.ID:~(gpv.id)" value="1" /><button
                    class="button" ng-show="isShow" style="background-color: Orange;" class="btnConfirmProxy"
                    id="btnDelete">Confim Delete</button>
        </div>

        ~[wc:admin_footer_css]
    </body>

</html>