[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

.checkTD {
	border-right: 0 !important;
}

.mailTD {
	border-left: 0 !important;
}

#tabOneContent td,
#tabTwoContent td,
#tabThreeContent td,
#tabFourContent td,
#tabFiveContent td {
	text-align: center;
}
input,
select {
	border-radius: 4px;
}

.btn-ps-blue {
	background-color: #00427c;
}
.btn-ps-blue:hover {
	background-color: #0066a5;
}

.dark-orange {
	background-color: DarkOrange;
}

.dark-orange:hover {
	background-color: #e67300;
}

.notation {
	font-weight: normal;
	font-style: italic;
}

.req-notation {
	font-weight: normal;
	font-style: italic;
	color: red;
}

.req::after {
	content: ' *';
	color: red;
	font-size: 13.5pt;
}

#legend {
	display: none;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
	border: 2px solid #ff897b;
	border-radius: 4px;
}

.dis-check-table tbody tr td {
	padding: 5px 0px 0px 10px;
	border-top: none;
	border-left: none;
	border-bottom: none;
	background-color: #fff !important;
}
.rb-n {
	border-right: none !important;
}
.text-muted {
	opacity: 0.75;
	font-style: oblique;
	font-weight: 600;
}
.mr {
	margin-right: 20px;
}
.ml {
	margin-left: 20px;
}
.change-type-radio-label {
	font-weight: normal !important;
}

.label-reset {
	padding-left: 0;
}

textarea.form-control {
	height: 100px !important;
}

.fluid-form > div:not(.button-row):nth-of-type(odd):not(.button-row),
fieldset > div:nth-of-type(odd):not(.button-row) {
	background-color: initial;
}

#staffCountLi {
	margin-right: 1.25rem;
}
#mbaIconLI {
	margin-right: 0.5rem;
}
