[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

input,
select {
	border-radius: 4px;
}

.notation {
	font-weight: normal;
	font-style: italic;
}

.req-notation {
	font-weight: normal;
	font-style: italic;
	color: red;
}

.req::after {
	content: ' *';
	color: red;
	font-size: 13.5pt;
}

#legend {
	display: none;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
	border: 2px solid #ff897b;
	border-radius: 4px;
}
