<div id="confirm-form-container" class="container-fluid">
    <div class="card">
        <div class="card-header bg-success text-bg-success bg-gradient fs-6 fw-semibold">Thank you</div>
        <div class="card-body">
            <div class="alert alert-success" role="alert"><i class="bi bi-check-circle-fill"></i> <strong><u>Thank you
                        for your submission!</u></strong>
                <div class='alert alert-success mt-2' data-ng-repeat="payload in submitPayload">
                    <p class="h6"><span data-ng-if="$index > 0"> Also, </span> Your
                        <span data-ng-switch on="payload.change_type">
                            <span data-ng-switch-when="newStaff">New Staff</span>
                            <span data-ng-switch-when="transferringStaff">Transferring Staff</span>
                            <span data-ng-switch-when="jobChange">Job Change</span>
                            <span data-ng-switch-when="nameChange">Name Change</span>
                            <span data-ng-switch-when="exitingStaff">Exiting Staff</span>
                        </span> submission for <span
                            data-ng-if="payload.change_type ==='nameChange'">{{payload.old_name_placeholder}}</span><span
                            data-ng-if="payload.change_type !=='nameChange'"><span
                                data-ng-if="payload.change_type ==='newStaff'">{{payload.title}}</span>
                            {{payload.first_name}} {{payload.last_name}}</span> has been sent to the Education
                        Technology Office.
                    </p>
                    <p> We will be in concact with you once the account <span data-ng-switch on="payload.change_type">
                            <span data-ng-switch-when="newStaff">has been created.</span>
                            <span data-ng-switch-when="transferringStaff">has been transferred.</span>
                            <span data-ng-switch-when="jobChange">has been moved.</span>
                            <span data-ng-switch-when="nameChange">name has been changed.</span>
                            <span data-ng-switch-when="exitingStaff">has been deactivated.</span>
                        </span>
                    </p>
                    <p>The <span data-ng-switch on="payload.change_type">
                            <span data-ng-switch-when="newStaff">account will be created</span>
                            <span data-ng-switch-when="transferringStaff">transfer will occur</span>
                            <span data-ng-switch-when="jobChange">job change will occur</span>
                            <span data-ng-switch-when="nameChange">name change will occur</span>
                            <span data-ng-switch-when="exitingStaff">account will be deactivated</span>
                        </span> around {{payload.deadline}} unless specified
                        otherwise.</p>
                    <a data-ng-href="/admin/staff_change/submit.html?status=Edit&id={{payload.staffChangeId}}"
                        target="_blank" type="button" id="review" class="btn btn-sm btn-primary btn-ps-blue ms-1">Review
                        Submission</a>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto me-auto"></div>
                <div class="col-auto">
                    <a href="submit.html?status=Submit" type="button" id="subAnother"
                        class="btn btn-sm btn-primary btn-ps-blue ms-1">Submit
                        Another Staff Change</a>
                    <a href="list.html" type="button" id="listAll" class="btn btn-sm btn-primary btn-ps-blue ms-1">View
                        All
                        Submissions</a>
                    <a href="/admin/home.html" type="button" id="exit"
                        class="btn btn-sm btn-primary btn-ps-blue ms-1">Exit</a>
                </div>
            </div>
        </div>
    </div>
</div>