<div id="creation-checks-container" class="container-fluid p-0">
    <div class="card">
        <div class="card-header bg-primary text-bg-primary text-dark bg-opacity-25 bg-gradient fw-semibold text-center">
            Diocesan Office Account Checks</div>
        <div class="card-body">
            <div class="row">
                <div class="col order-1" data-ng-hide="userContext.pageContext =='subStaff' &&
                    submitPayload[userContext.pageContext].sub_type !=='LTS'">
                    <div class="card">
                        <div
                            class="card-header bg-primary text-bg-primary text-dark bg-opacity-10 bg-gradient fw-semibold">
                            <input class="form-check-input me-1" id="ps_created" type="checkbox"
                                data-ng-model="submitPayload[userContext.pageContext].ps_created">
                            <label class="form-check-label stretched-link" for="ps_created">PowerSchool
                                Account
                                <span data-ng-switch on="submitPayload[userContext.pageContext].change_type">
                                    <span data-ng-switch-when="newStaff"> Created</span>
                                    <span data-ng-switch-when="transferringStaff"> Moved</span>
                                    <span data-ng-switch-when="subStaff"> Created</span>
                                    <span data-ng-switch-when="jobChange"> Adjusted</span>
                                    <span data-ng-switch-when="nameChange"> Updated</span>
                                    <span data-ng-switch-when="exitingStaff"> Deactivated</span>
                                </span>?
                            </label>
                        </div>
                        <div class="card-body p-0" data-ng-switch
                            on="submitPayload[userContext.pageContext].change_type">
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="newStaff">
                                <li class="list-group-item">Created account?</li>
                                <li class="list-group-item">Assigned Security Group?</li>
                                <li class="list-group-item">Assigned Email?</li>
                                <li class="list-group-item">Assigned IDP?</li>
                                <li class="list-group-item">NCEA?</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="transferringStaff">
                                <li class="list-group-item">New School added and Activated?</li>
                                <li class="list-group-item">Old School Deactivated?</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="jobChange">
                                <li class="list-group-item">Security Group Updated? (If Applicable)</li>
                                <li class="list-group-item">Send instructions on switching lead teacher</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="subStaff">
                                <li class="list-group-item">Created account?</li>
                                <li class="list-group-item">Assigned Security Group?</li>
                                <li class="list-group-item">Assigned Email?</li>
                                <li class="list-group-item">Assigned IDP?</li>
                                <li class="list-group-item">NCEA?</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="nameChange">
                                <li class="list-group-item">User Name Updated?</li>
                                <li class="list-group-item">IDP Updated?</li>
                                <li class="list-group-item">Email Address Updated?</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="exitingStaff">
                                <li class="list-group-item">School(s) Deactivated?</li>
                                <li class="list-group-item">Sign ins Deavtivated?</li>
                                <li class="list-group-item">IDP Disabled?</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col order-3">
                    <div class="card">
                        <div
                            class="card-header bg-secondary text-bg-secondary text-dark bg-opacity-25 bg-gradient fw-semibold">
                            <div class="row">
                                <div class="col-auto me-auto">
                                    <input class="form-check-input me-1" id="ad_created" type="checkbox"
                                        data-ng-model="submitPayload[userContext.pageContext].ad_created"
                                        data-ng-disabled="submitPayload[userContext.pageContext].ad_ignored">
                                    <label class="form-check-label" for="ad_created">AD
                                        Account<span data-ng-switch
                                            on="submitPayload[userContext.pageContext].change_type">
                                            <span data-ng-switch-when="newStaff"> Created</span>
                                            <span data-ng-switch-when="transferringStaff"> Moved</span>
                                            <span data-ng-switch-when="jobChange"> Adjusted</span>
                                            <span data-ng-switch-when="subStaff"> Created</span>
                                            <span data-ng-switch-when="nameChange"> Updated</span>
                                            <span data-ng-switch-when="exitingStaff"> Disabled</span>
                                        </span>?</label>
                                </div>
                                <div class="col-auto">
                                    <input class="form-check-input me-1" id="ad_ignored" type="checkbox"
                                        data-ng-model="submitPayload[userContext.pageContext].ad_ignored"
                                        data-ng-disabled="submitPayload[userContext.pageContext].ad_created">
                                    <label class="form-check-label" for="ad_ignored"><em>Not
                                            Applicable</em></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0" data-ng-switch
                            on="submitPayload[userContext.pageContext].change_type">
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="newStaff">
                                <li class="list-group-item">Exchange email mailbox created?</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="transferringStaff">
                                <li class="list-group-item">Groups and other fields changed reflecting the move?</li>
                                <li class="list-group-item">E-mailbox moved to the new school?</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="jobChange">
                                <li class="list-group-item">Groups and other fields changed reflecting the move?</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="subStaff">
                                <li class="list-group-item">Exchange email mailbox created?</li>
                                <li class="list-group-item"
                                    data-ng-if="submitPayload[userContext.pageContext].replace_license_microsoft.includes('A3')">
                                    {{submitPayload.subStaff.replace_first_name}}
                                    {{submitPayload.subStaff.replace_last_name}} has an <strong>A3</strong> Microsoft
                                    License. Temporarily transfer this license to {{submitPayload.subStaff.first_name}}
                                    {{submitPayload.subStaff.last_name}} and assign
                                    {{submitPayload.subStaff.replace_first_name}}
                                    {{submitPayload.subStaff.replace_last_name}} a <strong>A1</strong> Microsoft License
                                    until {{submitPayload.subStaff.replace_first_name}}
                                    {{submitPayload.subStaff.replace_last_name}} returns.</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="nameChange">
                                <li class="list-group-item">Exchange email updated?</li>
                                <li class="list-group-item">UPN updated?</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="exitingStaff">
                                <li class="list-group-item">Email account noted as "disabled"?
                                    <ul>
                                        <li>(which sends an autoreply that the user will not receive the
                                            message)</li>
                                        <li>Removed from distribution groups and "Office" field deleted</li>
                                    </ul>
                                </li>
                                <li class="list-group-item">Office 365 login disabled with AD account?
                                    <ul>
                                        <li>The account will be fully deleted six months later</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col order-4"
                    data-ng-hide="userContext.pageContext =='jobChange' || userContext.pageContext =='exitingStaff'">
                    <div class="card">
                        <div
                            class="card-header bg-primary text-bg-primary text-dark bg-opacity-10 bg-gradient fw-semibold">
                            <div class="row">
                                <div class="col-auto me-auto">
                                    <input class="form-check-input me-1" id="o365_created" type="checkbox"
                                        data-ng-model="submitPayload[userContext.pageContext].o365_created"
                                        data-ng-disabled="submitPayload[userContext.pageContext].o365_ignored">
                                    <label class="form-check-label" for="o365_created">O365
                                        Account<span data-ng-switch
                                            on="submitPayload[userContext.pageContext].change_type">
                                            <span data-ng-switch-when="newStaff"> Created</span>
                                            <span data-ng-switch-when="transferringStaff"> Verified</span>
                                            <span data-ng-switch-when="nameChange"> Updated</span>
                                        </span>?</label>
                                </div>
                                <div class="col-auto">
                                    <input class="form-check-input me-1" id="o365_ignored" type="checkbox"
                                        data-ng-model="submitPayload[userContext.pageContext].o365_ignored"
                                        data-ng-disabled="submitPayload[userContext.pageContext].o365_created">
                                    <label class="form-check-label" for="o365_ignored"><em>Not
                                            Applicable</em></label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0" data-ng-switch
                            on="submitPayload[userContext.pageContext].change_type">
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="newStaff">
                                <li class="list-group-item">Office 365 licensed (incl. Teams) assigned?</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="transferringStaff">
                                <li class="list-group-item">Verify Teams and Office 365 groups</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="subStaff">
                                <li class="list-group-item">Office 365 licensed (incl. Teams) assigned?</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="nameChange">
                                <li class="list-group-item">Office 365 updated?</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col order-5"
                    data-ng-hide="userContext.pageContext =='jobChange' || userContext.pageContext =='exitingStaff' || (userContext.pageContext =='subStaff' &&  submitPayload[userContext.pageContext].sub_type !=='LTS')">
                    <div class="card">
                        <div
                            class="card-header bg-secondary text-bg-secondary text-dark bg-opacity-25 bg-gradient fw-semibold">
                            <input class="form-check-input me-1" type="checkbox" id="lms_created"
                                data-ng-model="submitPayload[userContext.pageContext].lms_created">
                            <label class="form-check-label stretched-link" for="lms_created">LMS
                                Account<span data-ng-switch on="submitPayload[userContext.pageContext].change_type">
                                    <span data-ng-switch-when="newStaff"> Created</span>
                                    <span data-ng-switch-when="transferringStaff"> Double Check</span>
                                    <span data-ng-switch-when="nameChange"> Updated</span>
                                </span>?</label>
                        </div>
                        <div class="card-body p-0" data-ng-switch
                            on="submitPayload[userContext.pageContext].change_type">
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="newStaff">
                                <li class="list-group-item">Imported from PS-SIS?</li>
                                <li class="list-group-item">Matches O365 Login?</li>
                                <li class="list-group-item">If Tech Liasion or School Administrator, setup permissions.
                                </li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="transferringStaff">
                                <li class="list-group-item">Re-assign class ownership (if applicable)</li>
                                <li class="list-group-item">If Tech Liasion or School Administrator, update permissions.
                                </li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="subStaff">
                                <li class="list-group-item">Imported from PS-SIS?</li>
                                <li class="list-group-item">Matches O365 Login?</li>
                            </ul>
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="nameChange">
                                <li class="list-group-item">LMS name Updated?</li>
                                <li class="list-group-item">Matches O365 Login?</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col"
                    data-ng-class="{'order-first': (userContext.pageContext == 'exitingStaff' || userContext.pageContext == 'nameChange') && submitPayload[userContext.pageContext].canva_transfer == '1', 'order-last': !((userContext.pageContext == 'exitingStaff' || userContext.pageContext == 'nameChange') && submitPayload[userContext.pageContext].canva_transfer == '1')}"
                    data-ng-show="userContext.pageContext =='newStaff' || userContext.pageContext == 'transferringStaff'|| (userContext.pageContext =='nameChange' &&  submitPayload[userContext.pageContext].canva_transfer == '1') || (userContext.pageContext =='exitingStaff' &&  submitPayload[userContext.pageContext].canva_transfer == '1')">
                    <div class="card">
                        <div
                            class="card-header bg-secondary text-bg-secondary text-dark bg-opacity-25 bg-gradient fw-semibold">
                            <input class="form-check-input me-1" type="checkbox" id="canva"
                                data-ng-model="submitPayload[userContext.pageContext].canva_created">
                            <label class="form-check-label stretched-link" for="canva">Canva<span data-ng-switch
                                    on="submitPayload[userContext.pageContext].change_type">
                                    <span data-ng-switch-when="newStaff"> Created</span>
                                    <span data-ng-switch-when="transferringStaff"> Moved</span>
                                    <span data-ng-switch-when="nameChange"> Transferred</span>
                                    <span data-ng-switch-when="exitingStaff"> Transferred</span>
                                </span>?</label>
                        </div>
                        <div class="card-body p-0" data-ng-switch
                            on="submitPayload[userContext.pageContext].change_type">
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="newStaff">
                                <li class="list-group-item">Canva account created?</li>
                                <li class="list-group-item">User in the correct school team?</li>
                            </ul>
                        </div>
                        <div class="card-body p-0" data-ng-switch
                            on="submitPayload[userContext.pageContext].change_type">
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="transferringStaff">
                                <li class="list-group-item">Email sent to
                                    {{submitPayload[userContext.pageContext].first_name}}
                                    {{submitPayload[userContext.pageContext].last_name}} explaining how Canva projects
                                    work, including how to navigate between multiple teams
                                    and share projects across them?</li>
                                <li class="list-group-item">Canva account moved properly to new school team?</li>
                            </ul>
                        </div>
                        <div class="card-body p-0" data-ng-switch
                            on="submitPayload[userContext.pageContext].change_type">
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="nameChange">
                                <li class="list-group-item">Requested Form from Canva Support?</li>
                                <li class="list-group-item">Submitted Canva Form?</li>
                                <li class="list-group-item">Receive confirmation from Canva on name change?</li>
                            </ul>
                        </div>
                        <div class="card-body p-0" data-ng-switch
                            on="submitPayload[userContext.pageContext].change_type">
                            <ul class="list-group list-group-flush m-0" data-ng-switch-when="exitingStaff">
                                <li class="list-group-item">Did {{submitPayload[userContext.pageContext].first_name}}
                                    {{submitPayload[userContext.pageContext].last_name}} download any desired projects?
                                </li>
                                <li class="list-group-item">Did
                                    {{submitPayload[userContext.pageContext].first_name}}
                                    {{submitPayload[userContext.pageContext].last_name}}'s projects get transferred to
                                    {{submitPayload[userContext.pageContext].replace_first_name}}
                                    {{submitPayload[userContext.pageContext].replace_last_name}}?
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <span class="fw-semibold">Jitbit Ticket ID:</span> <a
                data-ng-href='https://cdol.jitbit.com/Ticket/{{submitPayload[userContext.pageContext].ticket_id}}'
                target="_blank">{{submitPayload[userContext.pageContext].ticket_id}}</a>
        </div>
    </div>
</div>