<div id="exit-form-container" class="container-fluid">
    <div class="alert alert-warning" role="alert" data-ng-if="userContext.pageStatus =='Submit'"><i
            class="bi bi-exclamation-triangle-fill"></i> If this Exiting Staff member is being replaced by a
        New or Transferring-In staff member, go back to the previous screen and submit the New or Transferring-In staff
        member
        member form first. When you fill out that form you can choose who the New or Transfering In Staff
        member is replacing and an Exiting Staff Record will automatically submitted for the replaced staff.
    </div>
    <div class="card">
        <div class="card-header bg-secondary text-bg-secondary bg-gradient fs-6 fw-semibold">Exiting Staff:</div>
        <div class="card-body">
            <form name="staffChangeForm" method="POST" novalidate>
                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <label for="users_dcid" class="form-label form-label-sm label-reset staff-change-req"
                            data-ng-if="userContext.pageStatus =='Submit' || (userContext.pageStatus =='Edit' && submitPayload.exitingStaff.users_dcid != -1)">Who
                            is not
                            returning?</label><span data-ng-if="userContext.pageStatus =='Submit'"
                            class="text-muted"><small><em>(Choose --Other-- if staff member is
                                    not listed)</em></small></span>
                        <select data-ng-if="userContext.pageStatus =='Submit'" class="form-select form-select-sm"
                            id="users_dcid" aria-label="Who is not returning?"
                            data-ng-model="submitPayload.exitingStaff.users_dcid" data-ng-required="true"
                            data-ng-change="updateScopeFromDropdown(userContext.pageContext, 'usersData', submitPayload.exitingStaff.users_dcid,'users_dcid')">
                            <option selected></option>
                            ~[tlist_sql;SELECT
                            users.dcid,
                            users.first_name,
                            users.last_name
                            FROM SCHOOLSTAFF
                            inner join users
                            on users.dcid = schoolstaff.users_dcid
                            WHERE schoolstaff.status = 1
                            ~[if.is.a.school]
                            AND schoolstaff.schoolid = ~(curschoolid)
                            [/if.is.a.school]
                            Order BY users.last_name , users.first_name]
                            <option value="~(dcid)">~(first) ~(last)</option>
                            [/tlist_sql]
                            <option value="-1">-- Other --</option>
                        </select>
                        <div data-ng-if="userContext.pageStatus =='Edit' && submitPayload.exitingStaff.users_dcid != -1"
                            class="blockquote ms-2 mt-1">
                            {{submitPayload.exitingStaff.old_name_placeholder}}
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.exitingStaff.users_dcid == -1">
                    <div class="col-6">
                        <label for="exiting-staff-name"
                            class="form-label form-label-sm  label-reset staff-change-req">Exiting Staff
                            Name</label>
                        <div class="input-group">
                            <select class="form-select form-select-sm" aria-label="title"
                                data-ng-model="submitPayload.exitingStaff.title">
                                <option selected></option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Ms.">Ms.</option>
                                <option value="Dr.">Dr.</option>
                                <option value="Fr.">Fr.</option>
                                <option value="Msgr.">Msgr.</option>
                                <option value="Sr.">Sr.</option>
                                <option value="Br.">Br.</option>
                            </select>
                            <input type="text" class="form-control form-control-sm w-25" placeholder="First name"
                                aria-label="First name" data-ng-model="submitPayload.exitingStaff.first_name"
                                data-ng-blur="submitPayload.exitingStaff.first_name = (submitPayload.exitingStaff.first_name | titleCase)"
                                data-ng-required=" true">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Middle name"
                                aria-label="Middle name" data-ng-model="submitPayload.exitingStaff.middle_name"
                                data-ng-blur="submitPayload.exitingStaff.middle_name = (submitPayload.exitingStaff.middle_name | titleCase)">
                            <input type=" text" class="form-control form-control-sm w-25" placeholder="Last name"
                                aria-label="Last name" data-ng-model="submitPayload.exitingStaff.last_name"
                                data-ng-blur="submitPayload.exitingStaff.last_name = (submitPayload.exitingStaff.last_name | titleCase)"
                                data-ng-required="true">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.exitingStaff.first_name">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-header fw-semibold ps-1 staff-change-req">{{
                                submitPayload.exitingStaff.first_name}} {{
                                submitPayload.exitingStaff.last_name}}'s Deactivation
                                Date</div>
                            <div class="card-body">
                                <div data-ng-if="userContext.pageStatus =='Submit'">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="exit-date-group"
                                            id="exit-date-today" data-ng-model="submitPayload.exitingStaff.date_radio"
                                            value="today" data-ng-required="!submitPayload.exitingStaff.date_radio"
                                            tabindex="0"
                                            data-ng-change="dupSearch(userContext.pageContext, submitPayload[userContext.formType])">
                                        <label class="form-check-label" for="exit-date-today">Today
                                            ({{ userContext.curDate}})</label>
                                    </div>
                                    <div class="form-check form-check-inline"
                                        data-ng-if="userContext.isTodayBeforeJuly">
                                        <input class="form-check-input" type="radio" name="exit-date-group"
                                            id="exit-date-june30" data-ng-model="submitPayload.exitingStaff.date_radio"
                                            value="june30" data-ng-required="!submitPayload.exitingStaff.date_radio"
                                            tabindex="0"
                                            data-ng-change="dupSearch(userContext.pageContext, submitPayload[userContext.formType])">
                                        <label class="form-check-label" for="exit-date-june30">June
                                            30<sup>th</sup></label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="exit-date-group"
                                            id="exit-date-specific"
                                            data-ng-model="submitPayload.exitingStaff.date_radio" value="other"
                                            data-ng-required="!submitPayload.exitingStaff.date_radio" tabindex="0"
                                            data-ng-change="dupSearch(userContext.pageContext, submitPayload[userContext.formType])">
                                        <label class="form-check-label" for="exit-date-specific">Specific
                                            Date</label>
                                    </div>
                                </div>
                                <div class="row row-cols-sm-auto align-items-center mt-2"
                                    data-ng-if="submitPayload.exitingStaff.date_radio==='other' || userContext.pageStatus =='Edit'">
                                    <div class="col">
                                        <label data-ng-if="userContext.pageStatus =='Submit'"
                                            class="form-label form-label-sm label-reset staff-change-req">Deactivation
                                            Date</label><br>
                                        <input title="deadline" type="text" class="psDateWidget"
                                            data-ng-model="submitPayload.exitingStaff.deadline" data-ng-required="true">
                                        <script type="text/javascript">initBehaviors();</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col"
                        data-ng-if="userContext.pageStatus =='Submit' && submitPayload.exitingStaff.date_radio">
                        <div class="alert alert-warning" role="alert"><i class="bi bi-exclamation-triangle-fill"></i>
                            {{submitPayload.exitingStaff.first_name}} {{submitPayload.exitingStaff.last_name}}'s account
                            will
                            be deactivated shortly
                            after <span data-ng-switch on="submitPayload.exitingStaff.date_radio">
                                <span data-ng-switch-when="today">{{userContext.curDate}}</span>
                                <span data-ng-switch-when="june30">June 30<sup>th</sup></span>
                                <span data-ng-switch-when="other">{{submitPayload.exitingStaff.deadline}}</span>
                            </span>. They
                            will no longer be able to access PowerSchool, Canvas, Office 365, Teams, Email, or log
                            on to a device.<br> If {{ submitPayload.exitingStaff.first_name}} {{
                            submitPayload.exitingStaff.last_name}} needs access
                            to
                            their
                            account after <span data-ng-switch on="exitingStaff.date_radio">
                                <span data-ng-switch-when="today">{{userContext.curDate}}</span>
                                <span data-ng-switch-when="june30">June 30<sup>th</sup></span>
                                <span data-ng-switch-when="other">{{submitPayload.exitingStaff.deadline}}</span>
                            </span> or needs
                            to be deactivated sooner, please modify the deactivation date.
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3"
                    data-ng-if="(userContext.pageStatus =='Submit' && submitPayload.exitingStaff.first_name && (userContext.curSchoolId == 130 || userContext.curSchoolId == 131 || userContext.curSchoolId == 160 || userContext.curSchoolId == 189 || userContext.curSchoolId == 210 || userContext.curSchoolId == 211 || userContext.curSchoolId == 264 || userContext.curSchoolId == 437)) || (userContext.pageStatus =='Edit' && submitPayload.exitingStaff.additional_schoolid)">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center mb-3">
                                    <div class="col-auto">
                                        <label class="form-label form-label-sm label-reset staff-change-req"><span
                                                data-ng-if="userContext.pageStatus =='Submit'">Will</span> {{
                                            submitPayload.exitingStaff.first_name}} {{
                                            submitPayload.exitingStaff.last_name}} need<span
                                                data-ng-if="userContext.pageStatus =='Edit'">s</span> to be deactivated
                                            at
                                            <span data-ng-if="userContext.curSchoolId == 130">Lourdes Central Catholic
                                                Elementary School</span>
                                            <span data-ng-if="userContext.curSchoolId == 131">Lourdes Central Catholic
                                                Middle/High School</span>
                                            <span data-ng-if="userContext.curSchoolId == 160">Aquinas Catholic
                                                Elementary</span>
                                            <span data-ng-if="userContext.curSchoolId == 189">St. Michael
                                                Hastings</span>
                                            <span data-ng-if="userContext.curSchoolId == 210">Falls City Sacred Heart
                                                Elementary</span>
                                            <span data-ng-if="userContext.curSchoolId == 211">Falls City Sacred Heart
                                                Jr/Sr High School</span>
                                            <span data-ng-if="userContext.curSchoolId == 264">Aquinas Catholic
                                                Middle/High</span>
                                            <span data-ng-if="userContext.curSchoolId == 437">St. Cecilia Middle & High
                                                School</span>
                                            <span data-ng-if="userContext.pageStatus =='Submit'">as
                                                well?</span></label><br>
                                        <div class="form-check form-check-inline">
                                            <input data-ng-if="userContext.curSchoolId == 130" class="form-check-input"
                                                type="radio" name="additional-schoolid-radio-group"
                                                id="additional-schoolid-radio-yes"
                                                data-ng-model="submitPayload.exitingStaff.additional_schoolid"
                                                value="131"
                                                data-ng-required="!submitPayload.exitingStaff.additional_schoolid"
                                                tabindex="0">
                                            <input data-ng-if=" userContext.curSchoolId ==131" class="form-check-input"
                                                type="radio" name="additional-schoolid-radio-group"
                                                id="additional-schoolid-radio-yes"
                                                data-ng-model="submitPayload.exitingStaff.additional_schoolid"
                                                value="130"
                                                data-ng-required="!submitPayload.exitingStaff.additional_schoolid"
                                                tabindex="0">
                                            <input data-ng-if="userContext.curSchoolId == 160" class="form-check-input"
                                                type="radio" name="additional-schoolid-radio-group"
                                                id="additional-schoolid-radio-yes"
                                                data-ng-model="submitPayload.exitingStaff.additional_schoolid"
                                                value="264"
                                                data-ng-required="!submitPayload.exitingStaff.additional_schoolid"
                                                tabindex="0">
                                            <input data-ng-if="userContext.curSchoolId == 189" class="form-check-input"
                                                type="radio" name="additional-schoolid-radio-group"
                                                id="additional-schoolid-radio-yes"
                                                data-ng-model="submitPayload.exitingStaff.additional_schoolid"
                                                value="437"
                                                data-ng-required="!submitPayload.exitingStaff.additional_schoolid"
                                                tabindex="0">
                                            <input data-ng-if="userContext.curSchoolId == 210" class="form-check-input"
                                                type="radio" name="additional-schoolid-radio-group"
                                                id="additional-schoolid-radio-yes"
                                                data-ng-model="submitPayload.exitingStaff.additional_schoolid"
                                                value="211"
                                                data-ng-required="!submitPayload.exitingStaff.additional_schoolid"
                                                tabindex="0">
                                            <input data-ng-if="userContext.curSchoolId == 211" class="form-check-input"
                                                type="radio" name="additional-schoolid-radio-group"
                                                id="additional-schoolid-radio-yes"
                                                data-ng-model="submitPayload.exitingStaff.additional_schoolid"
                                                value="210"
                                                data-ng-required="!submitPayload.exitingStaff.additional_schoolid"
                                                tabindex="0">
                                            <input data-ng-if="userContext.curSchoolId == 264" class="form-check-input"
                                                type="radio" name="additional-schoolid-radio-group"
                                                id="additional-schoolid-radio-yes"
                                                data-ng-model="submitPayload.exitingStaff.additional_schoolid"
                                                value="160"
                                                data-ng-required="!submitPayload.exitingStaff.additional_schoolid"
                                                tabindex="0">
                                            <input data-ng-if="userContext.curSchoolId == 437" class="form-check-input"
                                                type="radio" name="additional-schoolid-radio-group"
                                                id="additional-schoolid-radio-yes"
                                                data-ng-model="submitPayload.exitingStaff.additional_schoolid"
                                                value="189"
                                                data-ng-required="!submitPayload.exitingStaff.additional_schoolid"
                                                tabindex="0">
                                            <label class="form-check-label"
                                                for="additional-schoolid-radio-yes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="additional-schoolid-radio-group" id="additional-schoolid-radio-no"
                                                data-ng-model="submitPayload.exitingStaff.additional_schoolid" value="0"
                                                data-ng-required="!submitPayload.exitingStaff.additional_schoolid"
                                                tabindex="0">
                                            <label class="form-check-label"
                                                for="additional-schoolid-radio-no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.exitingStaff.first_name">
                    <div class="col-xl-6">
                        <span class="req-notation"
                            data-ng-show="(submitPayload.hasOwnProperty('transferringStaff') || submitPayload.hasOwnProperty('newStaff')) && submitPayload.exitingStaff.notes">
                            Note coppied from {{
                            submitPayload.transferringStaff.first_name}} {{
                            submitPayload.transferringStaff.last_name}}{{
                            submitPayload.newStaff.first_name}} {{
                            submitPayload.newStaff.last_name}}'s form. Feel free to add, remove, or edit note for {{
                            submitPayload.exitingStaff.first_name}} {{
                            submitPayload.exitingStaff.last_name}} </span>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Additional Notes/Details?" id="exit-add-notes"
                                spellcheck="true" wrap="absolute" data-ng-model="submitPayload.exitingStaff.notes"
                                data-ng-blur="submitPayload.exitingStaff.notes = (submitPayload.exitingStaff.notes | sentenceCase)"></textarea>
                            <label class="fw-semibold" for="exit-add-notes">Additional Notes/Details?</label>
                        </div>
                    </div>
                    <div class="col">
                        <div data-ng-if="userContext.pageStatus =='Submit'" class="alert alert-primary" role="alert"><i
                                class="bi bi-chat-right-text-fill"></i><strong><u>Please Note</u>:</strong> Personal
                            files (i.e. Documents, pictures, music and
                            videos) should be removed by {{ submitPayload.exitingStaff.title}} {{
                            submitPayload.exitingStaff.first_name}} {{ submitPayload.exitingStaff.last_name}} prior to
                            leaving {{ userContext.curSchoolName }} as {{ submitPayload.exitingStaff.title}} {{
                            submitPayload.exitingStaff.first_name}} {{ submitPayload.exitingStaff.last_name}} will not
                            have access PowerSchool, Canvas, Office 365, Teams, email, or their device, once removed
                            from the system. The exiting staff will not be able to access their account after the chosen
                            deactivation date.<br>
                            <strong>The Education Technology Office is not responsible for any files after the staff
                                member has been deactivated.</strong>
                        </div>
                    </div>
                </div>
                ~[if#distCheck.security.inrole=9]<creation-checks
                    data-ng-if="userContext.pageStatus =='Edit'"></creation-checks>[/if#distCheck]
            </form>
        </div>
        <form-buttons></form-buttons>
    </div>
</div>