<div id='form-button-card-footer' class="card-footer">
    <div class="row" data-ng-if="userContext.pageStatus =='Submit'">
        <div class="col-auto me-auto">
            <div id="bk-btn-group">
                <!-- back to previous screen -->
                <button type="button" class="m-0 p-2 ps-1"
                    data-ng-show="userContext.prevContext != userContext.pageContext && (submitPayload[userContext.prevContext].leaving_radio == 1 || submitPayload[userContext.prevContext].position_radio == 1)"
                    data-ng-click="formDisplay(userContext.prevContext,userContext.formType, 'back')"><i
                        class="bi bi-chevron-left fw-bold"></i> Previous</button>
                <!-- back to start -->
                <button type="button" class="m-0 p-2 ps-1"
                    data-ng-hide="userContext.prevContext != userContext.pageContext && (submitPayload[userContext.prevContext].leaving_radio == 1 || submitPayload[userContext.prevContext].position_radio == 1)"
                    data-ng-click="formDisplay('start',userContext.formType, 'back')"><i
                        class="bi bi-chevron-left fw-bold"></i> Back</button>
            </div>
        </div>
        <div id="nxt-btn-group" class="col-auto"
            data-ng-if="(submitPayload[userContext.pageContext].leaving_radio == 1 || submitPayload[userContext.pageContext].position_radio == 1)">
            <!-- Send to exiting staff form -->
            <button type="button" id="nxtExtBtn" class="m-0 p-2"
                data-ng-show="submitPayload[userContext.formType].leaving_radio == 1"
                data-ng-disabled="userContext.invalidDate"
                data-ng-click="formDisplay('exitingStaff',userContext.formType, 'forward');dupSearch(userContext.pageContext, submitPayload[userContext.formType])">
                Continue <i class="bi bi-chevron-right fw-bold"></i></button>
            <!-- Send to jobchange form -->
            <button type="button" id="nxtJobBtn" class="m-0 p-2"
                data-ng-show="submitPayload[userContext.formType].position_radio == 1"
                data-ng-disabled="userContext.invalidDate"
                data-ng-click="formDisplay('jobChange',userContext.formType, 'forward');dupSearch(userContext.pageContext, submitPayload[userContext.formType])">
                Continue <i class="bi bi-chevron-right fw-bold"></i></button>
        </div>
        <div class="col-auto" id="sub-btn-group"
            data-ng-if="(submitPayload[userContext.pageContext].leaving_radio != 1 && submitPayload[userContext.pageContext].position_radio != 1)">
            <span class="req-notation me-2"
                data-ng-if="(staffChangeForm.$invalid && staffChangeForm.$dirty) || !submitPayload[userContext.formType].users_dcid">Please
                fill all required fields prior to submitting.</span>
            <button type="button" id="subBtn" class="m-0 p-2"
                data-ng-disabled="staffChangeForm.$invalid || userContext.invalidDate" data-ng-show="!subConfirm"
                data-ng-click="subConfirm = true">Submit</button>
            <button type="button" id="cancBtn" class="m-0 p-2" data-ng-show="subConfirm"
                data-ng-click="subConfirm = false;">Cancel</button>
            <button type="button" id="confBtn" class="m-0 p-2 dark-orange" data-ng-show="subConfirm"
                data-ng-click="createStaffChange()">Confirm Submit</button>
        </div>
    </div>
    <div class="row" data-ng-if="userContext.pageStatus =='Edit'">
        <div class="col-auto me-auto">
            <div id="bk-btn-group">
                <button title="bkBtn" id="bkBtn" type="button" class="m-0 p-2 ps-1" data-ng-show="!delUpdate"
                    data-ng-click="toListRedirect(userContext.pageContext)"><i class="bi bi-chevron-left fw-bold"></i>
                    Back</button>
            </div>
        </div>
        <div class="col-auto" id="sub-btn-group">
            <span class="req-notation" data-ng-show="staffChangeForm.$invalid && staffChangeForm.$dirty">Please
                fill all required fields prior to submitting.</span>
            <button id="canBtn" class="ms-2 p-2" type="button" data-ng-show="delUpdate"
                data-ng-click="delUpdate = false">Cancel</button>
            <button id="conBtn" class="ms-2 p-2 dark-orange" type="button" data-ng-show="delUpdate"
                data-ng-click="deleteStaffChange(userContext.pageContext)">Confirm Deletion</button>
            <button id="delBtn" class="ms-2 p-2" type="button" data-ng-show="!delUpdate"
                data-ng-click="delUpdate = true">Delete
                Submission</button>
            <button id="upBtn" class="ms-2 p-2" type="button"
                data-ng-disabled="staffChangeForm.$invalid || userContext.invalidDate" data-ng-show="!delUpdate"
                data-ng-click="updateStaffChange(userContext.pageContext)">Submit
                Update</button>
        </div>
    </div>
</div>
<div class="hide" id="staffChangeDupeDialogContainer">
    <div id="staffChangeDupeDiv" class="container-fluid">
        <div data-ng-repeat="staffChangeDupe in staffChangeDupeData" class="card m-2">
            <div class="card-body p-0">
                <div class="p-2">It appears that <strong>{{staffChangeDupe.submittedstaff}}</strong> <span
                        data-ng-if="staffChangeDupe.schoolid !== userContext.curSchoolId"> from
                        <strong>{{staffChangeDupe.schname}}</strong></span> has already submitted a <em> <span
                            data-ng-class="{
        'text-success': staffChangeDupe.change_type === 'newStaff',
        'text-primary': staffChangeDupe.change_type  === 'transferringStaff',
        'text-info': staffChangeDupe.change_type  === 'jobChange',
        'text-warning': staffChangeDupe.change_type  === 'nameChange',
        'text-secondary': staffChangeDupe.change_type  === 'exitingStaff'
    }"><strong>{{ staffChangeDupe.change_type | changeTypeFilter }}</strong></span></em> request for
                    <strong><span data-ng-show="staffChangeDupe.title !== 'Fr.' &&
                        staffChangeDupe.title !== 'Msgr.' &&
                        staffChangeDupe.title !== 'Sr.' &&
                        staffChangeDupe.title !== 'Br.' ">{{staffChangeDupe.title}}</span>
                        {{staffChangeDupe.first_name}}
                        {{staffChangeDupe.last_name}}</strong> on {{staffChangeDupe.submission_date|date}}
                    {{staffChangeDupe.submission_time}}.<br>
                    <span data-ng-if="!submitPayload[userContext.pageContext].replace_first_name">To review this
                        previous submission click the <strong>Go to this Submission</strong> button. <br></span>
                    <span data-ng-if="submitPayload[userContext.pageContext].replace_first_name">If this is a duplicate
                        than click the <strong> Previous</strong> button, to go back to the previous screen and change
                        the response to the <br>
                        <strong>Is <span
                                data-ng-show="submitPayload[userContext.pageContext].title !== 'Fr.' &&
                        submitPayload[userContext.pageContext].title !== 'Msgr.' &&
                        submitPayload[userContext.pageContext].title !== 'Sr.' &&
                        submitPayload[userContext.pageContext].title !== 'Br.' ">{{submitPayload[userContext.pageContext].title}}</span>
                            {{submitPayload[userContext.pageContext].first_name}}
                            {{submitPayload[userContext.pageContext].last_name}} <span
                                data-ng-if="userContext.pageContext === 'exitingStaff'">leaving</span><span
                                data-ng-if="userContext.pageContext === 'jobChange'">changing positions/jobs
                                within</span> ~(schoolname)?</strong>
                        question to <mark><strong>No</strong></mark> <br></span>
                    If you do not believe this is a duplicate than click the <strong>Proceed</strong> button below to
                    continue with your submission.
                </div>
                <div class="card-footer">
                    <div class="button-row">
                        <a data-ng-if="!submitPayload[userContext.pageContext].replace_first_name"
                            data-ng-href="/admin/staff_change/submit.html?status=Edit&id={{staffChangeDupe.staffid}}"
                            type="button" id="review" class="button mt-1 mb-0">Go to this Submission</a>
                        <button type="button" class="button mt-1 mb-0"
                            data-ng-if="submitPayload[userContext.pageContext].replace_first_name"
                            data-ng-click="closeDupeDialog(userContext.formType, userContext.pageContext);formDisplay(userContext.prevContext,userContext.formType, 'back')"><i
                                class="bi bi-chevron-left fw-bold"></i> Previous</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hide" id="staffDupeDialogContainer">
    <div id="staffDupeDiv" class="container-fluid">
        <div data-ng-repeat="staffDupe in staffDupeData" class="card m-2">
            <div class="card-body p-0">
                <div class="p-2"><strong>{{staffDupe.first_name}} {{staffDupe.last_name}}</strong> is
                    <em>{{staffDupe.status}}</em> at <strong> {{staffDupe.school_name}}</strong><br>
                    If this is the same person then this needs to be a Transferring-In submission not a New Staff
                    Submission. <br>
                    click the <strong>Convert to Transferring-In Staff Submission</strong> button below to change to a
                    <em>Transferring-In Staff</em> submission.<br>
                    If this is not same person than click the <strong>Proceed</strong> button below
                    to continue with your submission.
                </div>
                <div class="card-footer">
                    <div class="button-row">
                        <button type="button" class="button mt-1 mb-0"
                            data-ng-click="closeDupeDialog(userContext.formType, userContext.pageContext);formDisplay(userContext.prevContext,userContext.formType, 'back')">Convert
                            to Transferring-In Staff Submission</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>