<div id="job-change-form-container" class="container-fluid">
    <div class="card">
        <div class="card-header  bg-info text-bg-info bg-gradient fs-6 fw-semibold">Position/Job Change:</div>
        <div class="card-body">
            <form name="staffChangeForm" method="POST" novalidate>
                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <label for="users_dcid" class="form-label form-label-sm label-reset staff-change-req">Who is
                            changing
                            Positions/Jobs?</label>
                        <select class="form-select form-select-sm" id="users_dcid" aria-label="Who is not returning?"
                            data-ng-model="submitPayload.jobChange.users_dcid" data-ng-required="true"
                            data-ng-change="updateScopeFromDropdown(userContext.pageContext, 'usersData', submitPayload.jobChange.users_dcid, 'users_dcid')">
                            <option selected></option>
                            ~[tlist_sql;SELECT
                            users.dcid,
                            users.first_name,
                            users.last_name
                            FROM SCHOOLSTAFF
                            inner join users
                            on users.dcid = schoolstaff.users_dcid
                            WHERE schoolstaff.status = 1
                            ~[if.is.a.school]
                            AND schoolstaff.schoolid = ~(curschoolid)
                            [/if.is.a.school]
                            Order BY users.last_name , users.first_name]
                            <option value="~(dcid)">~(first) ~(last)</option>
                            [/tlist_sql]
                            <option value="-1">-- Other --</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.jobChange.users_dcid == -1">
                    <div class="col-6">
                        <label for="job-change-name"
                            class="form-label form-label-sm  label-reset staff-change-req">Exiting Staff
                            Name</label>
                        <div class="input-group">
                            <select class="form-select form-select-sm" aria-label="title"
                                data-ng-model="submitPayload.jobChange.title">
                                <option selected></option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Ms.">Ms.</option>
                                <option value="Dr.">Dr.</option>
                                <option value="Fr.">Fr.</option>
                                <option value="Msgr.">Msgr.</option>
                                <option value="Sr.">Sr.</option>
                                <option value="Br.">Br.</option>
                            </select>
                            <input type="text" class="form-control form-control-sm w-25" placeholder="First name"
                                aria-label="First name" data-ng-model="submitPayload.jobChange.first_name"
                                data-ng-blur="submitPayload.jobChange.first_name = (submitPayload.jobChange.first_name | titleCase)"
                                data-ng-required="true">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Middle name"
                                aria-label="Middle name" data-ng-model="submitPayload.jobChange.middle_name"
                                data-ng-blur="submitPayload.jobChange.middle_name = (submitPayload.jobChange.middle_name | titleCase)">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Last name"
                                aria-label="Last name" data-ng-model="submitPayload.jobChange.last_name"
                                data-ng-blur="submitPayload.jobChange.last_name = (submitPayload.jobChange.last_name | titleCase)"
                                data-ng-required="true">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.jobChange.users_dcid">
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header fw-semibold ps-1 staff-change-req">Position/Job Change Information
                            </div>
                            <div class="card-body">
                                <div class="col mb-3">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Previous Position/Job:"
                                            id="job-change-previous-position" spellcheck="true" wrap="absolute"
                                            data-ng-model="submitPayload.jobChange.previous_position"
                                            data-ng-blur="submitPayload.jobChange.previous_position = (submitPayload.jobChange.previous_position | sentenceCase);dupSearch(userContext.formType, submitPayload[userContext.formType])"
                                            data-ng-required="true"></textarea>
                                        <label class="fw-semibold" for="job-change-previous-position">Previous
                                            Position/Job:</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="New Position/Job:"
                                            id="job-change-previous-new" spellcheck="true" wrap="absolute"
                                            data-ng-model="submitPayload.jobChange.new_position"
                                            data-ng-blur="submitPayload.jobChange.new_position = (submitPayload.jobChange.new_position | sentenceCase)"
                                            data-ng-required="true"></textarea>
                                        <label class="fw-semibold" for="job-change-previous-new">New
                                            Position/Job:</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.jobChange.first_name">
                    <div class="col-auto">
                        <div class="card">
                            <div class="card-header fw-semibold ps-1 staff-change-req">Date of Position/Job Change</div>
                            <div class="card-body">
                                <div data-ng-if="userContext.pageStatus =='Submit'">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="exit-date-group"
                                            id="exit-date-today" data-ng-model="submitPayload.jobChange.date_radio"
                                            value="today" data-ng-required="!submitPayload.jobChange.date_radio"
                                            tabindex="0">
                                        <label class="form-check-label" for="exit-date-today">Today
                                            ({{ userContext.curDate}})</label>
                                    </div>
                                    <div class="form-check form-check-inline"
                                        data-ng-if="userContext.isTodayBeforeJuly">
                                        <input class="form-check-input" type="radio" name="exit-date-group"
                                            id="exit-date-june30" data-ng-model="submitPayload.jobChange.date_radio"
                                            value="june30" data-ng-required="!submitPayload.jobChange.date_radio"
                                            tabindex="0">
                                        <label class="form-check-label" for="exit-date-june30">June
                                            30th</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="exit-date-group"
                                            id="exit-date-specific" data-ng-model="submitPayload.jobChange.date_radio"
                                            value="other" data-ng-required="!submitPayload.jobChange.date_radio"
                                            tabindex="0">
                                        <label class="form-check-label" for="exit-date-specific">Specific
                                            Date</label>
                                    </div>
                                </div>
                                <div class="row row-cols-sm-auto align-items-center mt-2"
                                    data-ng-if="submitPayload.jobChange.date_radio==='other'|| userContext.pageStatus =='Edit'">
                                    <div class="col">
                                        <label data-ng-if="userContext.pageStatus =='Submit'"
                                            class="form-label form-label-sm label-reset staff-change-req">Date of
                                            Position/Job
                                            Change</label><br>
                                        <input type="text" title="deadline" class="psDateWidget"
                                            data-ng-model="submitPayload.jobChange.deadline" data-ng-required="true">
                                        <script type="text/javascript">initBehaviors();</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.jobChange.first_name">
                    <div class="col-xl-6">
                        <span class="req-notation"
                            data-ng-show="(submitPayload.hasOwnProperty('transferringStaff') || submitPayload.hasOwnProperty('newStaff')) && submitPayload.jobChange.notes">
                            Note copied from {{
                            submitPayload.transferringStaff.first_name}} {{
                            submitPayload.transferringStaff.last_name}}{{
                            submitPayload.newStaff.first_name}} {{
                            submitPayload.newStaff.last_name}}'s form. Feel free to add, remove, or edit note for {{
                            submitPayload.jobChange.first_name}} {{
                            submitPayload.jobChange.last_name}} </span>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Additional Notes/Details?" id="exit-add-notes"
                                spellcheck="true" wrap="absolute" data-ng-model="submitPayload.jobChange.notes"
                                data-ng-blur="submitPayload.jobChange.notes = (submitPayload.jobChange.notes | sentenceCase)"></textarea>
                            <label class="fw-semibold" for="exit-add-notes">Additional Notes/Details?</label>
                        </div>
                    </div>
                </div>
                ~[if#distCheck.security.inrole=9]<creation-checks
                    data-ng-if="userContext.pageStatus =='Edit'"></creation-checks>[/if#distCheck]
            </form>
        </div>
        <form-buttons></form-buttons>
    </div>
</div>