<div id="name-change-form-container" class="container-fluid">
    <div class="card">
        <div class="card-header bg-warning text-bg-warning bg-gradient fs-6 fw-semibold">Name Change:</div>
        <div class="card-body">
            <form name="staffChangeForm" method="POST" novalidate>
                <div class="row align-items-center mb-3" data-ng-if="userContext.pageStatus =='Submit'">
                    <div class="col-auto">
                        <label for="users_dcid" class="form-label form-label-sm label-reset staff-change-req">Whose name
                            is changing?</label>
                        <select class="form-select form-select-sm" id="users_dcid" aria-label="Who is not returning?"
                            data-ng-model="submitPayload.nameChange.users_dcid" data-ng-required="true"
                            data-ng-change="updateScopeFromDropdown(userContext.pageContext, 'usersData', submitPayload.nameChange.users_dcid, 'users_dcid')">
                            <option selected></option>
                            ~[tlist_sql;SELECT
                            users.dcid,
                            users.first_name,
                            users.last_name
                            FROM SCHOOLSTAFF
                            inner join users
                            on users.dcid = schoolstaff.users_dcid
                            WHERE schoolstaff.status = 1
                            ~[if.is.a.school]
                            AND schoolstaff.schoolid = ~(curschoolid)
                            [/if.is.a.school]
                            Order BY users.last_name , users.first_name]
                            <option value="~(dcid)">~(first) ~(last)</option>
                            [/tlist_sql]
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="userContext.pageStatus =='Edit'">
                    <div class="col-auto">
                        <label for="users_dcid" class="form-label form-label-sm label-reset staff-change-req">Previous
                            Name:</label><br />
                        <span class="blockquote ms-2 mt-1">{{submitPayload.nameChange.old_name_placeholder}}</span>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.nameChange.users_dcid">
                    <div class="col-6">
                        <label for="name-change-staff-name"
                            class="form-label form-label-sm  label-reset staff-change-req"
                            data-ng-if="userContext.pageStatus =='Submit'">Please
                            <mark>change name below</mark> to {{submitPayload.nameChange.old_name_placeholder}}'s new
                            name</label>
                        <label for="name-change-staff-name"
                            class="form-label form-label-sm  label-reset staff-change-req"
                            data-ng-if="userContext.pageStatus =='Edit'">New Name:</label>
                        <div class="input-group">
                            <select class="form-select form-select-sm" aria-label="title"
                                data-ng-model="submitPayload.nameChange.title" data-ng-required="true">
                                <option selected></option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Ms.">Ms.</option>
                                <option value="Dr.">Dr.</option>
                                <option value="Fr.">Fr.</option>
                                <option value="Msgr.">Msgr.</option>
                                <option value="Sr.">Sr.</option>
                                <option value="Br.">Br.</option>
                            </select>
                            <input type="text" class="form-control form-control-sm w-25" placeholder="First name"
                                aria-label="First name" data-ng-model="submitPayload.nameChange.first_name"
                                data-ng-blur="submitPayload.nameChange.first_name = (submitPayload.nameChange.first_name | titleCase)"
                                data-ng-required="true">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Middle name"
                                aria-label="Middle name" data-ng-model="submitPayload.nameChange.middle_name"
                                data-ng-blur="submitPayload.nameChange.middle_name = (submitPayload.nameChange.middle_name | titleCase)">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Last name"
                                aria-label="Last name" data-ng-model="submitPayload.nameChange.last_name"
                                data-ng-blur="submitPayload.nameChange.last_name = (submitPayload.nameChange.last_name | titleCase);dupeSearch(userContext.pageContext, submitPayload[userContext.formType])"
                                data-ng-required="true">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.nameChange.users_dcid">
                    <div class="col-auto">
                        <label class="form-label form-label-sm label-reset staff-change-req">Has
                            {{submitPayload.nameChange.old_name_placeholder}} used
                            {{submitPayload.nameChange.email_addr}} for <em>Canva for Education</em> and need
                            to keep access to their projects?</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="canva-radio-group" id="canva-radio-yes"
                                data-ng-model="submitPayload.nameChange.canva" value="1"
                                data-ng-required="!submitPayload.nameChange.canva" tabindex="0">
                            <label class="form-check-label" for="canva-radio-yes">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="canva-radio-group" id="canva-radio-no"
                                data-ng-model="submitPayload.nameChange.canva" value="0"
                                data-ng-required="!submitPayload.nameChange.canva" tabindex="0">
                            <label class="form-check-label" for="canva-radio-no">No</label>
                        </div>
                        <br>
                        <div class="alert alert-primary" role="alert"><i class="bi bi-chat-right-text-fill"></i> Please
                            <strong>Double check with {{submitPayload.nameChange.old_name_placeholder}}</strong> as we
                            must submit a form to <em>Canva for Education</em> to change
                            {{submitPayload.nameChange.old_name_placeholder}}'s name and give them access to their
                            projects again.
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.nameChange.first_name">
                    <div class="col-2">
                        <label class="form-label form-label-sm label-reset staff-change-req">Requested
                            Change Date</label><br>
                        <input title="Transfer Date" type="text" class="psDateWidget"
                            data-minDate="{{userContext.minDate}}" data-ng-model="submitPayload.nameChange.deadline"
                            data-ng-init="userContext.pageStatus === 'Submit' ? submitPayload.nameChange.deadline = userContext.tempDeadline : submitPayload.nameChange.deadline"
                            data-ng-change="checkIfBusinessDay(userContext.pageContext)" data-ng-required="true">
                        <script type="text/javascript">initBehaviors();</script>
                    </div>
                    <div class="col-4">
                        <div data-ng-if="userContext.pageStatus =='Submit' && !userContext.invalidDate"
                            class="alert alert-primary" role="alert"><i class="bi bi-chat-right-text-fill"></i> Choose a
                            change date when the staff member can be at {{ userContext.curSchoolName }} and on the
                            network to ensure they can log into all the various systems after the update.<br>The staff
                            member will be instructed to call the Education Technology Office to complete the name
                            change process.<br>
                            Please allow <strong><em>at least</em></strong> 3 business days for name change.
                        </div>
                        <div data-ng-if="userContext.invalidDate" class="alert alert-danger" role="alert"><i
                                class="bi bi-exclamation-octagon-fill"></i>
                            <strong>{{submitPayload.nameChange.deadline}}</strong> is not a Business Day.<br> Please
                            choose another date.
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.nameChange.first_name">
                    <div class="col-xl-6">
                        <div class="form-floating">
                            <textarea class="form-control"
                                placeholder="Reason for Name Change and/or additional Notes/Details?"
                                id="exit-add-notes" spellcheck="true" wrap="absolute"
                                data-ng-model="submitPayload.nameChange.notes"></textarea>
                            <label class="fw-semibold" for="exit-add-notes">Reason for Name Change and/or additional
                                Notes/Details?</label>
                        </div>
                    </div>
                </div>
                ~[if#distCheck.security.inrole=9]<creation-checks
                    data-ng-if="userContext.pageStatus =='Edit'"></creation-checks>[/if#distCheck]
            </form>
        </div>
        <form-buttons></form-buttons>
    </div>
</div>