<div id="new-form-container" class="container-fluid">
    <div class="alert alert-warning" role="alert" data-ng-if="userContext.pageStatus =='Submit'"><i
            class="bi bi-exclamation-triangle-fill"></i> Please ensure staff name is spelled correctly! If you
        anticipate a name change in the next few months, please enter their anticipated name.
    </div>
    ~[if#distCheck.security.inrole=9]
    <div data-ng-if="userContext.pageStatus =='Edit' && staffDupeData.length > 0 && !submitPayload.newStaff.ps_created">
        <div class="container-fluid mb-2">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header alert alert-danger fw-semibold p-2 mb-0">
                            <i class="bi bi-exclamation-octagon-fill"></i> Potential matches for
                            <span data-ng-show="submitPayload.newStaff.title !== 'Fr.' &&
                            submitPayload.newStaff.title !== 'Msgr.' &&
                            submitPayload.newStaff.title !== 'Sr.' &&
                            submitPayload.newStaff.title !== 'Br.' ">{{submitPayload.newStaff.title}}</span>
                            {{submitPayload.newStaff.first_name}} {{submitPayload.newStaff.last_name}}
                        </div>
                        <div class="card-body p-2">
                            <table class="table table-sm table-striped table-hover table-bordered table-responsive m-0">
                                <thead class="table-primary ">
                                    <tr>
                                        <th class="text-center" scope="col">Potential Duplicate</th>
                                        <th class="text-center" scope="col">School</th>
                                        <th class="text-center" scope="col">Status</th>
                                        <th class="text-center" scope="col">Transferring-In?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="dupe in staffDupeData">
                                        <td><a href="/admin/faculty/home.html?frn=005{{dupe.ssdcid}}"
                                                target="_blank">{{dupe.first_name}} {{dupe.last_name}}</a></td>
                                        <td>{{dupe.prev_school_name}}</td>
                                        <td>{{dupe.status}}</td>
                                        <td class="text-end"><button type="button" class="button"
                                                data-ng-click="formDisplay('transferringStaff',userContext.formType, 'back'); newToTransferringIn(dupe.identifier.toString())">Convert
                                                to Transferring-In Staff Change</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    [/if#distCheck]
    <div class="card">
        <div class="card-header bg-success text-bg-success bg-gradient fs-6 fw-semibold">New Staff:</div>
        <div class="card-body">
            <form name="staffChangeForm" method="POST" novalidate>
                <div class="row align-items-center mb-3">
                    <div
                        data-ng-class="{'col-8': userContext.pageStatus =='Edit' && userContext.districtUser && !submitPayload.newStaff.ps_created, 'col-6': !(userContext.pageStatus =='Edit' && userContext.districtUser && !submitPayload.newStaff.ps_created)}">
                        <label for="new-staff-name" class="form-label form-label-sm  label-reset staff-change-req">New
                            Staff
                            Preferred
                            Name</label>
                        <div class="input-group">
                            <select class="form-select form-select-sm" aria-label="title"
                                data-ng-model="submitPayload.newStaff.title">
                                <option selected></option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Ms.">Ms.</option>
                                <option value="Dr.">Dr.</option>
                                <option value="Fr.">Fr.</option>
                                <option value="Msgr.">Msgr.</option>
                                <option value="Sr.">Sr.</option>
                                <option value="Br.">Br.</option>
                            </select>
                            <input type="text" class="form-control form-control-sm w-25" placeholder="First name"
                                aria-label="First name" data-ng-model="submitPayload.newStaff.first_name"
                                data-ng-blur="submitPayload.newStaff.first_name = (submitPayload.newStaff.first_name | titleCase)"
                                data-ng-required="true">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Middle name"
                                aria-label="Middle name" data-ng-model="submitPayload.newStaff.middle_name"
                                data-ng-blur="submitPayload.newStaff.middle_name = (submitPayload.newStaff.middle_name | titleCase)">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Last name"
                                aria-label="Last name" data-ng-model="submitPayload.newStaff.last_name"
                                data-ng-blur="submitPayload.newStaff.last_name = (submitPayload.newStaff.last_name | titleCase);dupeSearch(userContext.pageContext, submitPayload[userContext.formType])"
                                data-ng-required="true">
                            <a type="button" class="button m-0 p-2 ps-1"
                                data-ng-click="openNewStaffRecord(submitPayload.newStaff)" target="_blank">New Staff
                                Record
                                <pds-icon name="external" class="style-scope x-scope pds-icon-0 pds-widget"
                                    pds-widget="pds-widget" style="zoom: 0.55; color: white; fill: white;"></pds-icon>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        <div data-ng-if="userContext.pageStatus =='Submit'" class="alert alert-primary" role="alert"><i
                                class="bi bi-chat-right-text-fill"></i>
                            <strong><u>Preferred Name</u></strong>: is how the staff name will appear on reports and in
                            the gradebook.<br>It is also used to create username and email address.
                        </div>
                        <div data-ng-if="userContext.pageStatus !='Submit'"> <label for="new-staff-school"
                                class="form-label form-label-sm label-reset">School</label>
                            <div class="input-group">{{submitPayload.newStaff.schoolid | schoolName}}</div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-6">
                        <label for="transferring-staff-legal-name"
                            class="form-label form-label-sm  label-reset staff-change-req">New Staff Legal Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Legal first name"
                                aria-label="Legal First name" data-ng-model="submitPayload.newStaff.legal_first_name"
                                data-ng-required="true">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Legal middle name"
                                aria-label="Legal middle name" data-ng-model="submitPayload.newStaff.legal_middle_name">
                            <input type="text" class="form-control form-control-sm w-25" placeholder="Legal last name"
                                aria-label="Legal last name" data-ng-model="submitPayload.newStaff.legal_last_name"
                                data-ng-required="true">
                            <button type="button" class="m-0 p-2 ps-1" data-ng-if="userContext.pageStatus =='Submit'"
                                data-ng-click="copyNames(userContext.pageContext)">Copy from Preferred Name</button>
                        </div>
                    </div>
                    <div class="col">
                        <div data-ng-if="userContext.pageStatus =='Submit'" class="alert alert-primary" role="alert"><i
                                class="bi bi-chat-right-text-fill"></i>
                            <strong><u>Legal Name</u></strong>: exactly how the staff's name appears on teaching
                            certificate or legal documentation.
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3 gx-3">
                    <div class="col-auto">
                        <label for="new-staff-gender"
                            class="form-label form-label-sm  label-reset staff-change-req">Gender</label>
                        <select id="new-staff-gender" class="form-select form-select-sm" aria-label="new-staff-gender"
                            data-ng-model="submitPayload.newStaff.gender"
                            data-ng-required="true">~[x:codesetoptions;codetype=Gender;includeblank;value=~([U_CDOL_STAFF_CHANGES]gender)]
                        </select>
                    </div>
                    <div class="col-auto">
                        <label class="form-label form-label-sm label-reset">Date of Birth</label><br>
                        <input title="Date of Birth" type="text" class="psDateWidget"
                            data-ng-model="submitPayload.newStaff.dob">
                        <script type="text/javascript">initBehaviors();</script>
                    </div>
                </div>
                <div class="row align-items-center mb-3 gx-3">
                    <div class="col-2"
                        data-ng-if="submitPayload.newStaff.gender === 'F' && (submitPayload.newStaff.title ==='Mrs.' || submitPayload.newStaff.title ==='Dr.')">
                        <label for="new-staff-maiden-name" class="form-label form-label-sm  label-reset">Maiden
                            Name </label>
                        <input id="new-staff-maiden-name" type="text" class="form-control form-control-sm"
                            aria-label="Maiden Name" data-ng-model="submitPayload.newStaff.maiden_name"
                            data-ng-blur="submitPayload.newStaff.maiden_name = (submitPayload.newStaff.maiden_name | titleCase);dupeSearch(userContext.pageContext, submitPayload[userContext.formType], 'maiden')">
                    </div>
                </div>
                <div class="row align-items-center mb-3 gx-2">
                    <div class="col-auto">
                        <label for="new-staff-religion" class="form-label form-label-sm  label-reset">Religion</label>
                        <select id="new-staff-religion" class="form-select form-select-sm"
                            aria-label="new-staff-religion" data-ng-model="submitPayload.newStaff.religion">
                            <option></option>
                            <option value="C">C - Catholic</option>
                            <option value="N">N - Non-Catholic</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label for="new-staff-religiousclergylay"
                            class="form-label form-label-sm label-reset">Religious, Clergy, or Lay</label>
                        <select id="new-staff-religiousclergylay" class="form-select form-select-sm"
                            aria-label="new-staff-religiousclergylay"
                            data-ng-model="submitPayload.newStaff.religiousclergylay">
                            <option></option>
                            <option value="R">R - Religious</option>
                            <option value="C">C - Clergy</option>
                            <option value="L" selected="">L - Lay</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <label for="new-staff-personal-email" class="form-label form-label-sm  label-reset">Personal
                            Email <span class="text-muted"><small><em>(for communication during account setup and summer
                                        trainings)</em></small></span></label>
                        <input id="new-staff-personal-email" type="text" class="form-control form-control-sm"
                            placeholder="newstaff@email.com" aria-label="Personal Email"
                            data-ng-model="submitPayload.newStaff.personal_email">
                    </div>
                </div>
                <div class="row align-items-center mb-3 gx-2">
                    <div class="col-auto">
                        <label for="new-staff-type" class="form-label form-label-sm  label-reset staff-change-req">Staff
                            Type</label>
                        <select id="new-staff-type" class="form-select form-select-sm" aria-label="new-staff-type"
                            data-ng-model="submitPayload.newStaff.staff_type"
                            data-ng-change="checkStaffType(submitPayload.newStaff.staff_type)" data-ng-required="true">
                            <option></option>
                            <option value="1">Teacher</option>
                            <option value="2">Staff</option>
                            <option value="3">Lunch Staff</option>
                            <option value="4">Substitute</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="new-staff-position"
                            class="form-label form-label-sm  label-reset staff-change-req">Position</label>
                        <input id="new-staff-position" type="text" class="form-control form-control-sm"
                            placeholder="Ex: 2nd Grade Teacher, or Principal" aria-label="Position"
                            data-ng-model="submitPayload.newStaff.position"
                            data-ng-blur="submitPayload.newStaff.position = (submitPayload.newStaff.position | titleCase)"
                            data-ng-required="true">
                    </div>
                    <div class="col-auto">
                        <label for="new-staff-fte" class="form-label form-label-sm label-reset">FTE</label>
                        <select id="new-staff-fte" class="form-select form-select-sm" aria-label="new-staff-fte"
                            data-ng-model="submitPayload.newStaff.fte">
                            <option></option>
                            <option value="FT">FT - Full-time</option>
                            <option value="PT">PT - Part-time</option>
                        </select>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.newStaff.first_name">
                    <div class="col-2">
                        <label class="form-label form-label-sm label-reset staff-change-req">Requested
                            Account Creation Date</label><br>
                        <input title="Transfer Date" type="text" class="psDateWidget"
                            data-minDate="{{userContext.minDate}}" data-ng-model="submitPayload.newStaff.deadline"
                            data-ng-init="userContext.pageStatus === 'Submit' ? submitPayload.newStaff.deadline = userContext.tempDeadline : submitPayload.newStaff.deadline"
                            data-ng-change="checkIfBusinessDay(userContext.pageContext)" data-ng-required="true">
                        <script type="text/javascript">initBehaviors();</script>
                    </div>
                    <div class="col-4">
                        <div data-ng-if="userContext.pageStatus =='Submit' && !userContext.invalidDate"
                            class="alert alert-primary" role="alert"><i class="bi bi-chat-right-text-fill"></i> <span
                                data-ng-if="submitPayload.newStaff.deadline =='06/30/2024'">We recommend June
                                30<sup>th</sup> for all new staff that will start next school year.<br></span> Please
                            allow <strong><em>at least</em></strong> 3 business days for account creation.
                        </div>
                        <div data-ng-if="userContext.invalidDate" class="alert alert-danger" role="alert"><i
                                class="bi bi-exclamation-octagon-fill"></i>
                            <strong>{{submitPayload.newStaff.deadline}}</strong> is not a Business Day.<br> Please
                            choose another date.
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3"
                    data-ng-if="(userContext.pageStatus =='Submit' && submitPayload.newStaff.first_name) || (userContext.pageStatus =='Edit' && submitPayload.newStaff.prev_school_number)">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center mb-3" data-ng-if="userContext.pageStatus =='Submit'">
                                    <div class="col-auto">
                                        <label class="form-label form-label-sm label-reset staff-change-req">Has
                                            {{submitPayload.newStaff.title}} {{
                                            submitPayload.newStaff.first_name}} {{
                                            submitPayload.newStaff.last_name}} previously worked for {{
                                            userContext.curSchoolName }} or
                                            another Diocese of Lincoln School?</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="prev-school-radio-group"
                                                id="prev-school-radio-yes"
                                                data-ng-model="submitPayload.newStaff.prev_school_radio" value="1"
                                                data-ng-required="!submitPayload.newStaff.prev_school_radio"
                                                data-ng-change="updateAdditionalPayload(userContext.pageContext)"
                                                tabindex="0">
                                            <label class="form-check-label" for="prev-school-radio-yes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="prev-school-radio-group"
                                                id="prev-school-radio-no"
                                                data-ng-model="submitPayload.newStaff.prev_school_radio" value="0"
                                                data-ng-required="!submitPayload.newStaff.prev_school_radio"
                                                data-ng-change="updateAdditionalPayload(userContext.pageContext)"
                                                tabindex="0">
                                            <label class="form-check-label" for="prev-school-radio-no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3"
                                    data-ng-if="submitPayload.newStaff.prev_school_radio == 1 || (userContext.pageStatus =='Edit' && submitPayload.newStaff.prev_school_number)">
                                    <div class="col-auto">
                                        <label for="prev_school_number"
                                            class="form-label form-label-sm label-reset staff-change-req">Where was
                                            {{submitPayload.newStaff.title}} {{
                                            submitPayload.newStaff.first_name}} {{
                                            submitPayload.newStaff.last_name}}'s previously employed?</label><span
                                            class="text-muted"
                                            data-ng-if="userContext.pageStatus =='Submit'"><small><em> (Choose --Other--
                                                    if employer is not
                                                    listed)</em></small></span>
                                        <select class="form-select form-select-sm" id="prev_school_number"
                                            aria-label="Where previously employed?"
                                            data-ng-model="submitPayload.newStaff.prev_school_number"
                                            data-ng-required="true"
                                            data-ng-change="updateScopeFromDropdown(userContext.pageContext,'schoolsData',submitPayload.newStaff.prev_school_number)">
                                            <option selected></option>
                                            ~[tlist_sql;SELECT SCHOOLS.School_number, SCHOOLS.name
                                            FROM SCHOOLS
                                            WHERE SCHOOLS.School_number NOT IN (888888,999999,79438)
                                            ORDER BY schools.name;]
                                            <option value="~(schnum)">~(schname)</option>
                                            [/tlist_sql]
                                            <option value="0">Diocesan Office</option>
                                            <option value="-1">-- Other --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3"
                                    data-ng-if="submitPayload.newStaff.prev_school_number == -1">
                                    <div class="col-auto">
                                        <label for="transferring-staff-school-name"
                                            class="form-label form-label-sm label-reset staff-change-req">Please
                                            Type Name Previous Employer</label>
                                        <input id="transferring-staff-school-name" class="form-control" type="text"
                                            data-ng-model="submitPayload.newStaff.prev_school_name"
                                            data-ng-blur="submitPayload.newStaff.prev_school_name = (submitPayload.newStaff.prev_school_name | titleCase)">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3"
                    data-ng-if="(userContext.pageStatus =='Submit' && submitPayload.newStaff.first_name) || (userContext.pageStatus =='Edit' && submitPayload.newStaff.replace_dcid)">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div data-ng-if="userContext.pageStatus =='Submit'" class="row align-items-center mb-3">
                                    <div class="col-auto">
                                        <label class="form-label form-label-sm label-reset staff-change-req">Will
                                            {{submitPayload.newStaff.title}} {{
                                            submitPayload.newStaff.first_name}} {{
                                            submitPayload.newStaff.last_name}} be replacing a current staff
                                            member at {{ userContext.curSchoolName }}?</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exit-radio-group"
                                                id="exit-radio-yes" data-ng-model="submitPayload.newStaff.exit_radio"
                                                data-ng-change="updateAdditionalPayload(userContext.pageContext)"
                                                value="1" data-ng-required="!submitPayload.newStaff.exit_radio"
                                                tabindex="0">
                                            <label class="form-check-label" for="exit-radio-yes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="exit-radio-group"
                                                id="exit-radio-no" data-ng-model="submitPayload.newStaff.exit_radio"
                                                data-ng-change="updateAdditionalPayload(userContext.pageContext)"
                                                value="0" data-ng-required="!submitPayload.newStaff.exit_radio"
                                                tabindex="0">
                                            <label class="form-check-label" for="exit-radio-no">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3"
                                    data-ng-if="submitPayload.newStaff.exit_radio == 1 || (userContext.pageStatus =='Edit' && submitPayload.newStaff.replace_dcid)">
                                    <div class="col-auto">
                                        <label for="replacing_dcid"
                                            class="form-label form-label-sm label-reset staff-change-req">Who
                                            is
                                            {{submitPayload.newStaff.title}} {{
                                            submitPayload.newStaff.first_name}} {{
                                            submitPayload.newStaff.last_name}} replacing?</label><span
                                            class="text-muted"
                                            data-ng-if="userContext.pageStatus =='Submit'"><small><em> (Choose --Other--
                                                    if staff member is not
                                                    listed)</em></small></span>
                                        <select class="form-select form-select-sm" id="replace_dcid"
                                            aria-label="Who is not returning?"
                                            data-ng-model="submitPayload.newStaff.replace_dcid" data-ng-required="true"
                                            data-ng-change="updateScopeFromDropdown(userContext.pageContext, 'usersData', submitPayload.newStaff.replace_dcid, 'replace_dcid')">
                                            <option selected></option>
                                            ~[tlist_sql;SELECT
                                            users.dcid,
                                            users.first_name,
                                            users.last_name
                                            FROM SCHOOLSTAFF
                                            inner join users
                                            on users.dcid = schoolstaff.users_dcid
                                            WHERE schoolstaff.status = 1
                                            ~[if.is.a.school]
                                            AND schoolstaff.schoolid = ~(curschoolid)
                                            [/if.is.a.school]
                                            Order BY users.last_name , users.first_name]
                                            <option value="~(dcid)">~(first) ~(last)</option>
                                            [/tlist_sql]
                                            <option value="-1">-- Other --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3"
                                    data-ng-if="submitPayload.newStaff.replace_dcid == -1">
                                    <div class="col-6">
                                        <label for="exiting-staff-name"
                                            class="form-label form-label-sm  label-reset staff-change-req">Name
                                            of the staff member
                                            {{submitPayload.newStaff.title}} {{
                                            submitPayload.newStaff.first_name}} {{
                                            submitPayload.newStaff.last_name}} is replacing</label>
                                        <div class="input-group">
                                            <select class="form-select form-select-sm" aria-label="title"
                                                data-ng-model="submitPayload.newStaff.replace_title">
                                                <option selected></option>
                                                <option value="Mr.">Mr.</option>
                                                <option value="Mrs.">Mrs.</option>
                                                <option value="Ms.">Ms.</option>
                                                <option value="Dr.">Dr.</option>
                                                <option value="Fr.">Fr.</option>
                                                <option value="Msgr.">Msgr.</option>
                                                <option value="Sr.">Sr.</option>
                                                <option value="Br.">Br.</option>
                                            </select>
                                            <input type="text" class="form-control form-control-sm w-25"
                                                placeholder="First name" aria-label="First name"
                                                data-ng-model="submitPayload.newStaff.replace_first_name"
                                                data-ng-blur="submitPayload.newStaff.replace_first_name = (submitPayload.newStaff.replace_first_name | titleCase)"
                                                data-ng-required="true">
                                            <input type="text" class="form-control form-control-sm w-25"
                                                placeholder="Middle name" aria-label="Middle name"
                                                data-ng-model="submitPayload.newStaff.replace_middle_name"
                                                data-ng-blur="submitPayload.newStaff.replace_middle_name = (submitPayload.newStaff.replace_middle_name | titleCase)">
                                            <input type="text" class="form-control form-control-sm w-25"
                                                placeholder="Last name" aria-label="Last name"
                                                data-ng-model="submitPayload.newStaff.replace_last_name"
                                                data-ng-blur="submitPayload.newStaff.replace_last_name = (submitPayload.newStaff.replace_last_name | titleCase)"
                                                data-ng-required="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3"
                                    data-ng-if="submitPayload.newStaff.replace_dcid">
                                    <div class="col" data-ng-if="userContext.pageStatus =='Submit'">
                                        <label class="form-label form-label-sm label-reset staff-change-req">Is {{
                                            submitPayload.newStaff.replace_first_name}} {{
                                            submitPayload.newStaff.replace_last_name}} leaving
                                            {{ userContext.curSchoolName }}?</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="leaving-radio-group"
                                                id="leaving-radio-yes"
                                                data-ng-model="submitPayload.newStaff.leaving_radio" value="1"
                                                data-ng-required="!submitPayload.newStaff.leaving_radio"
                                                data-ng-change="updateAdditionalPayload(userContext.pageContext)"
                                                tabindex="0">
                                            <label class="form-check-label" for="leaving-radio-yes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="leaving-radio-group"
                                                id="leaving-radio-no"
                                                data-ng-model="submitPayload.newStaff.leaving_radio" value="0"
                                                data-ng-required="!submitPayload.newStaff.leaving_radio"
                                                data-ng-change="updateAdditionalPayload(userContext.pageContext)"
                                                tabindex="0">
                                            <label class="form-check-label" for="leaving-radio-no">No</label>
                                        </div>
                                        <div class="alert alert-warning" role="alert"
                                            data-ng-if="submitPayload.newStaff.leaving_radio == 1"><i
                                                class="bi bi-pencil-square"></i>
                                            <strong><u>Please Note</u></strong>: Next, You will be taken to the Exiting
                                            Staff screen to finish the Exiting Staff submission for {{
                                            submitPayload.newStaff.replace_first_name}} {{
                                            submitPayload.newStaff.replace_last_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3"
                                    data-ng-if="submitPayload.newStaff.leaving_radio == 0">
                                    <div class="col">
                                        <label class="form-label form-label-sm label-reset staff-change-req">Is {{
                                            submitPayload.newStaff.replace_first_name}} {{
                                            submitPayload.newStaff.replace_last_name}} changing positions/jobs
                                            within {{ userContext.curSchoolName }}?</label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="position-radio-group"
                                                id="position-radio-yes"
                                                data-ng-model="submitPayload.newStaff.position_radio" value="1"
                                                data-ng-required="!submitPayload.newStaff.position_radio"
                                                data-ng-change="updateAdditionalPayload(userContext.pageContext)"
                                                tabindex="0">
                                            <label class="form-check-label" for="position-radio-yes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="position-radio-group"
                                                id="position-radio-no"
                                                data-ng-model="submitPayload.newStaff.position_radio" value="0"
                                                data-ng-required="!submitPayload.newStaff.position_radio"
                                                data-ng-change="updateAdditionalPayload(userContext.pageContext)"
                                                tabindex="0">
                                            <label class="form-check-label" for="position-radio-no">No</label>
                                        </div>
                                        <div class="alert alert-warning" role="alert"
                                            data-ng-if="submitPayload.newStaff.position_radio == 1"><i
                                                class="bi bi-pencil-square"></i>
                                            <strong><u>Please Note</u></strong>: Next, You will be taken to the
                                            Position/Job Change screen to finish the Position/Job Change submission for
                                            {{
                                            submitPayload.newStaff.replace_first_name}} {{
                                            submitPayload.newStaff.replace_last_name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="(userContext.pageStatus == 'Submit' && submitPayload.newStaff.first_name && isOtherSchool(userContext.curSchoolId)) || 
                (userContext.pageStatus == 'Edit' && submitPayload.newStaff.additional_schoolid)">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center mb-3">
                                    <div class="col-auto">
                                        <label class="form-label form-label-sm label-reset staff-change-req">
                                            <span data-ng-if="userContext.pageStatus =='Submit'">Will</span>
                                            {{submitPayload.newStaff.title}} {{submitPayload.newStaff.first_name}}
                                            {{submitPayload.newStaff.last_name}} need<span
                                                data-ng-if="userContext.pageStatus =='Edit'">s</span> access to
                                            {{ userContext.pageStatus == 'Submit'
                                            ? (userContext.curSchoolId | otherSchoolName)
                                            : (submitPayload.newStaff.additional_schoolid == 0
                                            ? (submitPayload.newStaff.schoolid | otherSchoolName)
                                            : (submitPayload.newStaff.additional_schoolid | schoolName)) }}
                                            <span data-ng-if="userContext.pageStatus =='Submit'">as well?</span>
                                        </label><br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="additional-schoolid-radio-group"
                                                id="additional-schoolid-radio-yes"
                                                data-ng-model="submitPayload.newStaff.additional_schoolid"
                                                value="{{ getAdditionalSchoolId(userContext.curSchoolId,userContext.pageContext) }}"
                                                data-ng-required="!submitPayload.newStaff.additional_schoolid"
                                                tabindex="0">
                                            <label class="form-check-label"
                                                for="additional-schoolid-radio-yes">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio"
                                                name="additional-schoolid-radio-group" id="additional-schoolid-radio-no"
                                                data-ng-model="submitPayload.newStaff.additional_schoolid" value="0"
                                                data-ng-required="!submitPayload.newStaff.additional_schoolid"
                                                tabindex="0">
                                            <label class="form-check-label"
                                                for="additional-schoolid-radio-no">No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.newStaff.first_name">
                    <div class="col">
                        <div class="card">
                            <div class="card-header fw-semibold ps-1">Licensing Information</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-2">
                                        <label for="new-staff-license-microsoft"
                                            class="form-label form-label-sm label-reset staff-change-req">Microsoft
                                            Licensing</label>
                                        <select id="new-staff-license-microsoft" class="form-select form-select-sm"
                                            aria-label="new-staff-license-microsoft"
                                            data-ng-model="submitPayload.newStaff.license_microsoft"
                                            data-ng-init="submitPayload.newStaff.license_microsoft = submitPayload.newStaff.license_microsoft || 'A1'"
                                            data-ng-required="true">
                                            <option value="A1">A1 - Free</option>
                                            <option value="A3">A3 - Paid</option>
                                            <!-- <option value="A3P">A3 with Phone System - Paid</option> -->
                                        </select>
                                    </div>
                                    <div class="col-10" data-ng-if="userContext.pageStatus =='Submit'">
                                        <div class="alert alert-primary" role="alert"><i
                                                class="bi bi-chat-right-text-fill"></i> <strong><u>Microsoft A1 vs. A3
                                                    Licensing</u></strong><br>
                                            <ul>
                                                <li><u>Microsoft A1</u> is a free basic license, and the default license
                                                    given to our staff. It includes essential web (i.e. browser)
                                                    versions of Office apps like Word, Excel and Outlook. Outlook
                                                    mailbox size is maxed at 50GB. It's
                                                    great for basic productivity needs. This is generally for paras and
                                                    part-time non-teaching staff.</li>
                                                <li><u>Microsoft A3</u> is a <em>paid</em>, more advanced license. It
                                                    provides both web and desktop installations of Office. A3 also
                                                    includes additional security features, voicemail for Teams Phones,
                                                    and the Outlook mailbox size is 100GB. It's designed for users who
                                                    need more comprehensive tools and management capabilities. This is
                                                    generally for
                                                    Teachers, School Administrators, and Secretaries</li>
                                                <!-- <li><u>Microsoft A3 with Phone System</u> is a <em>paid</em>, more
                                                    advanced license. It is the same as an A3 License but for users with
                                                    a Desk Phone.</li> -->
                                                <li>The decision regarding licensing rests with the local school
                                                    administrator.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center mb-3" data-ng-if="submitPayload.newStaff.first_name">
                    <div class="col-xl-6">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Additional Notes/Details?" id="exit-add-notes"
                                spellcheck="true" wrap="absolute"
                                data-ng-model="submitPayload.newStaff.notes"></textarea>
                            <label class="fw-semibold" for="exit-add-notes">Additional Notes/Details?</label>
                        </div>
                    </div>
                </div>
                <creation-checks
                    data-ng-if="userContext.pageStatus =='Edit' && userContext.districtUser"></creation-checks>
            </form>
        </div>
        <form-buttons></form-buttons>
    </div>
</div>