<form name="jobChangeForm" method="POST" novalidate>
    <div class="fluid-form">
        <h4 style="margin-left: 10px;">{{newStaff.name_change}}</h4>
        <div>
            <div>
                <label class="req">Who is changing Job/positions?</label>
                <select
                    ng-if="userContext.pageStatus =='Submit' || (userContext.pageStatus =='Edit' && (newStaff.replacing =='New' || newStaff.replacing =='Other'))"
                    name="" ng-model="newStaff.replacing" ng-required="true"
                    ng-change="getExistingStaff(newStaff.replacing)">
                    <option></option>
                    ~[tlist_sql;SELECT
                    users.dcid,
                    users.first_name,
                    users.last_name
                    FROM SCHOOLSTAFF
                    inner join users
                    on users.dcid = schoolstaff.users_dcid
                    WHERE schoolstaff.status =1
                    ~[if.is.a.school]
                    AND schoolstaff.schoolid = ~(curschoolid)
                    [/if.is.a.school]
                    Order BY users.last_name , users.first_name]
                    <option value="~(dcid)">~(first) ~(last)</option>
                    [/tlist_sql]
                    <option value="Other">-- Other --</option>
                </select>
                <input ng-show="userContext.pageStatus =='Edit'&& newStaff.replacing != 'Other'" name="" type="text"
                    value="" ng-model="newStaff.old_name_placeholder">
            </div>
        </div>
        <div ng-if="newStaff.replacing === 'Other'">
            <div>
                <label>Please type name of the staff member changing positions</label>
                <input name="" type="text" value="" style="width: 300px;" ng-model="newStaff.replacing_other">
            </div>
        </div>
        <fieldset ng-if="newStaff.replacing !== ''">
            <legend>Position/Job Change Information</legend>
            <div>
                <div>
                    <label>Previous Position/Job:</label><br>
                    <textarea name="body" rows="3" cols="77" spellcheck="true" wrap="absolute"
                        ng-model="newStaff.previous_position"></textarea>
                </div>
            </div>
            <div>
                <div>
                    <label>New Position/Job:</label><br>
                    <textarea name="body" rows="3" cols="77" spellcheck="true" wrap="absolute"
                        ng-model="newStaff.new_position"></textarea>
                </div>
            </div>
            <div>
                <fieldset>
                    <legend class="req">Date of Position/Job Change</legend>
                    <div>
                        <span><input type="radio" name="exitDateGroup" id="exirRdioc1"
                                ng-model="newStaff.exit_date_radio" value="today"
                                ng-required="!newStaff.exit_date_radio" /><label for="rdioc1">Today
                                ({{userContext.curDate}})</label></span>
                        <span ng-if="userContext.isTodayBeforeJuly"><input type="radio" name="exitDateGroup"
                                id="exirRdioc2" ng-model="newStaff.exit_date_radio" value="june30"
                                ng-required="!newStaff.exit_date_radio" /><label for="exirRdioc2">June
                                30th</label></span>
                        <span><input type="radio" name="exitDateGroup" id="exirRdioc3"
                                ng-model="newStaff.exit_date_radio" value="other"
                                ng-required="!newStaff.exit_date_radio" /><label for="exirRdioc3">Specific
                                Date</label></span>
                        <span>
                    </div>
                    <div style="margin: 0 35px 35px;"
                        ng-if="(userContext.pageStatus =='Submit' && newStaff.exit_date_radio =='other') || (userContext.pageStatus =='Edit' && newStaff.name_change =='Exiting Staff')">
                        <div>
                            <script type="text/javascript">initBehaviors();</script>
                            <label style="padding-left:0;">Date of Position/Job Change</label><br>
                            <input type="text" class="psDateWidget" ng-model="exitingRecord.deadline"
                                ng-required="true">
                        </div>
                    </div>
                </fieldset>
            </div>
        </fieldset>
        <div>
            <div>
                <label>Reason for Job/Position Change and/or Additional Notes/Details?</label>
                <textarea name="body" rows="3" cols="77" spellcheck="true" wrap="absolute"
                    ng-model="newStaff.notes"></textarea>
            </div>
        </div>
        ~[if#distCheck.security.inrole=9]
        <div style="background-color: #fff; border-top: 1px solid #eee;" ng-show="userContext.pageStatus =='Edit'">
            <div>
                <table class="grid">
                    <thead>
                        <tr>
                            <th colspan="4">Account Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                <input type="checkbox" name="" ng-model="newStaff.ps_created"><label>PowerSchool Account
                                    Changes?</label>
                                <ul>
                                    <li>Security Roles Changes?</li>
                                    <li>Security Group Changes?</li>
                                    <li>CDOL Staff Role Changes?</li>
                                </ul>
                            </td>
                            <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                <input type="checkbox" name="" ng-model="newStaff.ad_created"><label>AD User
                                    Account created?</label>
                                <ul>
                                    <li>Exchange email updated?</li>
                                </ul>
                            </td>
                            <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                <input type="checkbox" name="" ng-model="newStaff.o365_created"><label>O365
                                    User
                                    Account updated?</label>
                                <ul>
                                    <li>Office 365 updated?</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        [/if#distCheck]
        <div class="button-row" ng-show="userContext.pageStatus =='Submit'">
            <span class="req-notation" ng-show="positionChangeForm.$invalid && positionChangeForm.$dirty">Please
                fill all required fields prior to submitting.</span>
            <button id="canBtn" type="button" ng-show="subConfirm" ng-click="subConfirm = false">Cancel</button>
            <button id="conBtn" type="button" style="background-color: DarkOrange;" ng-show="subConfirm"
                ng-click="submitStaffChange()">Confirm Submission</button>
            <button id="subBtn" type="button" ng-show="!subConfirm" ng-click="subConfirm = true"
                ng-disabled="positionChangeForm.$invalid">Submit</button>
        </div>
        <div ng-show="userContext.pageStatus =='Edit'" class="button-row">
            <span class="req-notation" ng-show="positionChangeForm.$invalid && positionChangeForm.$dirty">Please
                fill all required fields prior to submitting.</span>
            <button id="canBtn" type="button" ng-show="delUpdate" ng-click="delUpdate = false">Cancel</button>
            <button id="conBtn" type="button" style="background-color: DarkOrange;" ng-show="delUpdate"
                ng-click="deleteStaffChange()">Confirm Deletion</button>
            <a id="bkBtn" class="button" ng-show="!delUpdate"
                href="/admin/cdol/staffchange/cdol_staff_change_list.html">Back</a>
            <button id="delBtn" type="button" ng-show="!delUpdate" ng-click="delUpdate = true">Delete
                Submission</button>
            <button id="upBtn" type="button" ng-disabled="positionChangeForm.$invalid" ng-show="!delUpdate"
                ng-click="submitStaffUpdate()">Submit
                Update</button>
        </div>
    </div>
</form>