<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Staff Changes</title>
        ~[wc:commonscripts]
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">
        <link href="/images/css/cdol_staff_change/cdol_staff_change.css" rel="stylesheet">
    </head>

    <body>
        ~[wc:admin_header_css]
        <a href="/admin/home.html" target="_top">~[text:psx.html.admin_reports.runreports.start_page]</a> &gt; Staff
        Changes
        ~[wc:admin_navigation_css]
        <h1 class="mb-1">Staff Changes</h1>
        <div id="cdol-staff-list-app-div" data-require-path="cdol_staff_change/cdol_staff_change_list"
            data-module-name="cdolStaffListMod" data-ng-controller="cdolStaffListCtrl"
            data-ng-cur-school-id="~(curschoolid)" data-ng-cur-year-id="~(curyearid)" data-ng-cur-date="~[date]"
            data-ng-cloak>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-auto me-auto"><label for="year-selector">Year: </label>
                        <select id="year-selector" name="" data-ng-model="calendarYear" data-ng-change="reloadData()">
                            ~[tlist_sql;
                            SELECT
                            DISTINCT calendar_year
                            FROM
                            u_cdol_staff_changes
                            ORDER BY calendar_year DESC]
                            <option value="~(calendar_year)" data-ng-selected="~(calendar_year) === calendarYear">
                                ~(calendar_year)
                            </option>
                            [/tlist_sql]
                        </select>
                    </div>
                    <div class="col-auto me-2"><a class="button" href="cdol_staff_change.html?status=Submit">Submit
                            a
                            Staff Change</a><button data-ng-click="reloadData()">Reload List</button></div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li data-ng-click="loadData('newStaff')" data-context="newStaff"><a href="#tabOneContent">New Staff
                            <span class="badge text-bg-success ms-1">{{
                                staffChangeCounts.total_new_remaining }}</span></a></li>
                    <li data-ng-click="loadData('transferringStaff')" data-context="transferringStaff"><a
                            href="#tabTwoContent">Transferring Staff <span class="badge text-bg-primary ms-1">{{
                                staffChangeCounts.total_transfer_remaining }}</span></a></li>
                    <li data-ng-click="loadData('jobChange')" data-context="jobChange"><a
                            href="#tabThreeContent">Position/Job Changes <span class="badge text-bg-info ms-1">{{
                                staffChangeCounts.total_job_change_remaining }}</span></a></li>
                    <li data-ng-click="loadData('nameChange')" data-context="nameChange"><a href="#tabFourContent">Name
                            Changes <span class="badge text-bg-warning ms-1">{{
                                staffChangeCounts.total_name_change_remaining }}</span></a></li>
                    <li data-ng-click="loadData('exitingStaff')" data-context="exitingStaff"><a
                            href="#tabFiveContent">Exiting Staff <span class="badge text-bg-secondary ms-1">{{
                                staffChangeCounts.total_exit_remaining }}</span></a></li>
                </ul>
                <new-staff-list id="tabOneContent"></new-staff-list>
                <transfer-staff-list id="tabTwoContent"></transfer-staff-list>
                <job-change-list id="tabThreeContent"></job-change-list>
                <name-change-list id="tabFourContent"></name-change-list>
                <exit-staff-list id="tabFiveContent"></exit-staff-list>
            </div>
        </div>
        ~[wc:admin_footer_css]
    </body>

</html>