<!DOCTYPE html>
<html>

    <head>
        <title>Staff Change</title>
        ~[wc:commonscripts]
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">
        <link href="/images/css/cdol_staff_change/cdol_staff_change.css" rel="stylesheet">
    </head>

    <body id="cdol-staff-app-div" data-ng-controller="cdolStaffAppCtrl"
    data-require-path="cdol_staff_change/cdol_staff_change"
        data-module-name="cdolStaffAppMod" data-ng-cur-school-id="~(curschoolid)" data-ng-cur-year-id="~(curyearid)"
        data-ng-status="~(gpv.status)" data-ng-cur-user-id="~[x:userid]" data-ng-cur-date="~[date]" data-ng-cur-time="~[time]"
        data-ng-staff-change-id="~(gpv.id)" data-ng-cur-user-name="~[x:username;firstlast]" data-ng-cur-user-email="~[x:useremail]"
        data-ng-cur-user-school-abbr="~(schoolabbr)" data-ng-cloak>
        ~[wc:admin_header_css]
            <a href="/admin/home.html" target="_top">~[text:psx.html.admin_reports.runreports.start_page]</a>
            <span ng-show="userContext.pageStatus =='Edit'"><a
                href="/admin/cdol/staff_change/cdol_staff_change_list.html" target="_top">&gt; Staff Submissions</a></span>
            &gt; {{userContext.pageStatus}} Staff Change
        ~[wc:admin_navigation_css]

        <div ng-if="userContext.pageStatus !='Confirm'">
            <h1>{{userContext.pageStatus}} Staff Change</h1>
            <!--dup table-->
            <div class="box-round"
                ng-show="userContext.pageStatus =='Edit' && dupList.length >0 && newStaff.ps_created !=1"
                style="width:50%;">
                <div id="feedback-message" class="feedback-error">Potential matches for&nbsp;{{newStaff.title}}
                    {{newStaff.first_name}} {{newStaff.last_name}}</div>
                <table class="grid" style="font-size: 10pt;">
                    <thead>
                        <tr>
                            <th>Potential Duplicate</th>
                            <th>Status</th>
                            <th>School</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dup in dupList">
                            <td><a href="/admin/faculty/edit.html?frn=005{{dup.dcid}}">{{dup.first_name}}
                                    {{dup.last_name}}</a></td>
                            <td>{{dup.status}}</td>
                            <td>{{dup.school_name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="feedback-message" class="feedback-confirm"
                ng-show="userContext.pageStatus =='Edit'&& dupList.length <=0">No potential duplicate staff records
                found.</div>
            <!--Divergent path question-->
            <div class="fluid-form">
                <div>
                    <div>
                        <label>Type of Staff Change</label>
                        <select name="" type="text" value="" ng-model="newStaff.name_change">
                            <option></option>
                            <option value="New Staff">New Staff: Staff <strong>New</strong> to the Diocese of Lincoln
                            </option>
                            <option value="Transferring Staff">Transferring Staff: Staff Transfer into ~(schoolname)
                                from Another Diocese of Lincoln School</option>
                            <option value="Job Change">Position/Job Change: Staff Member Changing Position/Job
                                within ~(schoolname)
                            </option>
                            <option value="Name Change">Name Change: Change the Legal Name of a Current Staff Member
                            </option>
                            <option value="Exiting Staff">Exiting Staff: Staff not Returning to ~(schoolname)</option>
                        </select>
                    </div>
                </div>
            </div>
            <new-staff ng-if="newStaff.name_change=='New Staff'"></new-staff>
            <transfer-staff ng-if="newStaff.name_change=='Transferring Staff'"></transfer-staff>
            <job-change ng-if="newStaff.name_change=='Job Change'"></job-change>
            <name-change ng-if="newStaff.name_change=='Name Change'"></name-change>
            <exit-staff ng-if="newStaff.name_change=='Exiting Staff'"></exit-staff>
            <input type="hidden" name="ac" value="prim" />
        </div>
        <confirm ng-if="userContext.pageStatus =='Confirm'"></confirm>
        ~[wc:admin_footer_css]
    </body>

</html>