<div id="all-staff-grid" data-pss-grid-widget data-data="staffList.allStaff" data-filtered-data="filteredAllStaffList"
    data-client-side-pagination="false">
    <!-- Adding before the table so it will put this filter at the top of the list in the drop down -->
    <label data-pss-filter-field="ad_complete|multiselect" data-filter-info="booleanMap">Active Directory
        Complete?</label>
    <label data-pss-filter-field="ps_complete|multiselect" data-filter-info="booleanMap">PowerSchool Complete?</label>
    <label data-pss-filter-field="o365_complete|multiselect" data-filter-info="booleanMap">Office 365 Complete?</label>
    <label data-pss-filter-field="lms_complete|multiselect" data-filter-info="booleanMap">LMS Complete?</label>
    <label data-pss-filter-field="completed|multiselect" data-filter-info="booleanMap">All Completed?</label>
    <label data-pss-filter-field="title|multiselect" data-filter-info="titleMap">Title</label>
    <label data-pss-filter-field="first_name">First Name</label>
    <label data-pss-filter-field="last_name">Last Name</label>

    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="last_name" class="nowrap">Staff</th>
                <th data-pss-sort-fields="change_type" class="nowrap">Change Type</th>
                <th data-pss-sort-fields="schname|multiselect-dropdown" data-filter-info="schoolMap">School</th>
                <th data-pss-sort-fields="submittedstaff">Submitted By</th>
                <th data-pss-sort-fields="submission_date|date, submission_time" data-primary-sort="descending">
                    Submission Date</th>
                <th data-pss-sort-fields="completion_date|date">Deadline</th>
                <th data-pss-sort-fields="ps_created" data-exclude-from-filter="true">PS Created</th>
                <th data-pss-sort-fields="ad_created, ad_ignored" data-exclude-from-filter="true">AD Created</th>
                <th data-pss-sort-fields="o365_created, o365_ignored" data-exclude-from-filter="true">O365 Created</th>
                <th data-pss-sort-fields="lms_created" data-exclude-from-filter="true">LMS Created</th>
                <th data-pss-sort-fields="final_completion_date|date">Completion Date</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="allStaff in filteredAllStaffList">
                <td>{{$index +1}}</td>
                <td class="nowrap"><a
                        href="/admin/staff_change/submit.html?status=Edit&id={{allStaff.staffid}}">{{allStaff.title}}
                        {{allStaff.first_name}}
                        {{allStaff.last_name}}</a></td>
                <td class="nowrap">{{allStaff.change_type}}</td>
                <td class="nowrap">{{allStaff.schname}}</td>
                <td class="nowrap">{{allStaff.submittedstaff}}</td>
                <td class="nowrap">{{allStaff.submission_date | date : 'MM/dd/yyyy'}}
                    {{allStaff.submission_time}}</td>
                <td
                    data-ng-class="{'req-notation': (allStaff.completion_date | date : 'MM/dd/yyyy'  < curDate | date : 'MM/dd/yyyy') && (!allStaff.ps_complete || !allStaff.ad_complete || !allStaff.o365_complete || !allStaff.lms_complete)}">
                    {{allStaff.completion_date | date : 'MM/dd/yyyy'}}</td>
                <td><span
                        ng-class="{'mark-complete': allStaff.ps_complete, 'mark-incomplete': !allStaff.ps_complete}"></span>
                </td>
                <td><span
                        ng-class="{'mark-complete': allStaff.ad_complete, 'mark-incomplete': !allStaff.ad_complete}"></span>
                </td>
                <td><span
                        ng-class="{'mark-complete': allStaff.o365_complete, 'mark-incomplete': !allStaff.o365_complete}"></span>
                </td>
                <td><span
                        ng-class="{'mark-complete': allStaff.lms_complete, 'mark-incomplete': !allStaff.lms_complete}"></span>
                </td>
                <td>{{allStaff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>

</div>