<div id="exit-staff-grid" data-pss-grid-widget data-data="staffList.exitingStaff"
    data-filtered-data="filteredExitingStaffList" data-client-side-pagination="false"
    data-filter-constraint="no-filters">
    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="replacedstaff|text" class="nowrap">Exiting Staff</th>
                <th data-pss-sort-fields="schname|text">School</th>
                <th data-pss-sort-fields="who_submitted|number">Submitted By</th>
                <th data-pss-sort-fields="submission_date, submission_time" data-primary-sort="descending">
                    Submission Date</th>
                <th data-pss-sort-fields="completion_date | date">Deadline</th>
                <th data-pss-sort-fields="ps_created | number">PS Deactivated</th>
                <th data-pss-sort-fields="ad_created | number">AD Deactivated</th>
                <th data-pss-sort-fields="final_completion_date | date">Completed</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="exitStaff in filteredExitingStaffList">
                <td>{{$index +1}}</td>
                <td class="nowrap"><a href="/admin/staff_change/submit.html?status=Edit&id={{exitStaff.staffid}}"><span
                            data-ng-show="!exitStaff.first_name">{{exitStaff.old_name_placeholder}}
                            {{exitStaff.replacing_other}}</span>
                        <span data-ng-show="exitStaff.title !== 'Fr.' &&
								exitStaff.title !== 'Msgr.' &&
								exitStaff.title !== 'Sr.' &&
								exitStaff.title !== 'Br.' "> {{exitStaff.title}}</span> {{exitStaff.first_name}} {{exitStaff.last_name}}</a>
                </td>
                <td class="nowrap">{{exitStaff.schname}}</td>
                <td class="nowrap">{{exitStaff.submittedstaff}}</td>
                <td class="nowrap">{{exitStaff.submission_date | date : 'MM/dd/yyyy'}}
                    {{exitStaff.submission_time}}</td>
                <td
                    data-ng-class="{'req-notation': (exitStaff.completion_date | date : 'MM/dd/yyyy'  < curDate | date : 'MM/dd/yyyy') && (exitStaff.ps_created != 1  || (exitStaff.ad_created != 1 && exitStaff.ad_ignored != 1))}">
                    {{exitStaff.completion_date | date : 'MM/dd/yyyy'}}</td>
                <td><span data-ng-show="exitStaff.ps_created != 1">&#10060;</span><span
                        data-ng-show="exitStaff.ps_created == 1">&#10004;&#65039;</span></td>
                <td>
                    <span data-ng-show="exitStaff.ad_created != 1 && exitStaff.ad_ignored != 1">&#10060;</span>
                    <span data-ng-show="exitStaff.ad_created == 1 || exitStaff.ad_ignored == 1">&#10004;&#65039;</span>
                </td>
                <td>{{exitStaff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>