<div id="job-change-grid" data-pss-grid-widget data-data="staffList.jobChange"
    data-filtered-data="filteredJobChangeList" data-client-side-pagination="false">
    <!-- Adding before the table so it will put this filter at the top of the list in the drop down -->
    <label data-pss-filter-field="ad_complete|multiselect" data-filter-info="booleanMap">Active Directory
        Complete?</label>
    <label data-pss-filter-field="ps_complete|multiselect" data-filter-info="booleanMap">PowerSchool Complete?</label>
    <label data-pss-filter-field="completed|multiselect" data-filter-info="booleanMap">All Completed?</label>
    <label data-pss-filter-field="first_name">First Name</label>
    <label data-pss-filter-field="last_name">Last Name</label>
    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="last_name" class="nowrap">Staff</th>
                <th data-pss-sort-fields="previous_position" class="nowrap">Previous Position/Job</th>
                <th data-pss-sort-fields="new_position" class="nowrap">New Position/Job</th>
                <th data-pss-sort-fields="schname|multiselect-dropdown" data-filter-info="schoolMap">School</th>
                <th data-pss-sort-fields="submittedstaff">Submitted By</th>
                <th data-pss-sort-fields="submission_date|date, sort_time" data-primary-sort="descending">
                    Submission Date</th>
                <th data-pss-sort-fields="completion_date|date">Deadline</th>
                <th data-pss-sort-fields="ps_created" data-exclude-from-filter="true">PS Changed</th>
                <th data-pss-sort-fields="ad_created, ad_ignored" data-exclude-from-filter="true">AD Changed</th>
                <th data-pss-sort-fields="final_completion_date|date">Completion Date</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="jobChange in filteredJobChangeList">
                <td>{{$index +1}}</td>
                <td class="nowrap"><a href="/admin/staff_change/submit.html?status=Edit&id={{jobChange.staffid}}">
                        {{jobChange.first_name}}
                        {{jobChange.last_name}}</a></td>
                <td class="text-start text-break">{{jobChange.previous_position}}</td>
                <td class="text-start text-break">{{jobChange.new_position}}</td>
                <td class="nowrap">{{jobChange.schname}}</td>
                <td class="nowrap">{{jobChange.submittedstaff}}</td>
                <td class="nowrap">{{jobChange.submission_date | date : 'MM/dd/yyyy'}}
                    {{jobChange.submission_time}}</td>
                <td
                    data-ng-class="{'req-notation': (jobChange.completion_date < curDate) && (!jobChange.ps_complete || !jobChange.ad_complete)}">
                    {{jobChange.completion_date | date : 'MM/dd/yyyy'}}</td>
                <td><span
                        data-ng-class="{'mark-complete': jobChange.ps_complete, 'mark-incomplete': !jobChange.ps_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': jobChange.ad_complete, 'mark-incomplete': !jobChange.ad_complete}"></span>
                </td>
                <td>{{jobChange.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>