<div id="job-change-grid" data-pss-grid-widget data-data="staffList.jobChange"
    data-filtered-data="filteredJobChangeList" data-client-side-pagination="false">
    <export-button data-ng-if="filteredJobChangeList.length > 0"></export-button>
    <!-- Adding before the table so it will put this filter at the top of the list in the drop down -->
    <label data-pss-filter-field="ad_complete|multiselect" data-filter-info="booleanMap">Active Directory
        Complete?</label>
    <label data-pss-filter-field="ps_complete|multiselect" data-filter-info="booleanMap">PowerSchool Complete?</label>
    <label data-pss-filter-field="completed|multiselect" data-filter-info="booleanMap">All Completed?</label>
    <label data-pss-filter-field="first_name">First Name</label>
    <label data-pss-filter-field="last_name">Last Name</label>
    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="last_name" class="nowrap">{{listHeaders[0]}}</th>
                <th data-pss-sort-fields="previous_position" class="nowrap">{{listHeaders[1]}}</th>
                <th data-pss-sort-fields="new_position" class="nowrap">{{listHeaders[2]}}</th>
                <th data-pss-sort-fields="schname|multiselect-dropdown" data-filter-info="schoolMap">{{listHeaders[3]}}
                </th>
                <th data-pss-sort-fields="submittedstaff">{{listHeaders[4]}}</th>
                <th data-pss-sort-fields="submission_date|date, sort_time" data-primary-sort="descending">
                    {{listHeaders[5]}}</th>
                <th data-pss-sort-fields="completion_date|date">{{listHeaders[6]}}</th>
                <th data-pss-sort-fields="ps_created" data-exclude-from-filter="true">{{listHeaders[7]}}</th>
                <th data-pss-sort-fields="ad_created, ad_ignored" data-exclude-from-filter="true">{{listHeaders[8]}}
                </th>
                <th data-pss-sort-fields="final_completion_date|date">{{listHeaders[9]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="jobChange in filteredJobChangeList">
                <td>{{$index +1}}</td>
                <td class="nowrap"><a href="/admin/staff_change/submit.html?status=Edit&id={{jobChange.staffid}}">
                        {{jobChange.first_name}}
                        {{jobChange.last_name}}</a></td>
                <td class="text-start text-break">{{jobChange.previous_position}}</td>
                <td class="text-start text-break">{{jobChange.new_position}}</td>
                <td class="nowrap">{{jobChange.schname}}</td>
                <td class="nowrap">{{jobChange.submittedstaff}}</td>
                <td class="nowrap">{{jobChange.submission_date | date : 'MM/dd/yyyy'}}
                    {{jobChange.submission_time}}</td>
                <td data-ng-class="getReqNotationClass(jobChange, curDate)">
                    {{jobChange.completion_date | date : 'MM/dd/yyyy'}}</td>
                <td><span
                        data-ng-class="{'mark-complete': jobChange.ps_complete, 'mark-incomplete': !jobChange.ps_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': jobChange.ad_complete, 'mark-incomplete': !jobChange.ad_complete}"></span>
                </td>
                <td>{{jobChange.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>