<div id="name-change-grid" data-ng-if="!showSchoolColumns || schoolMapReady.nameChange" data-pss-grid-widget data-data="staffList.nameChange"
    data-filtered-data="$parent.filteredNameChangeList" data-client-side-pagination="false">
    <export-button data-ng-if="filteredNameChangeList.length > 0"></export-button>
    <!-- Adding before the table so it will put this filter at the top of the list in the drop down -->
    <label data-pss-filter-field="canva_filter_complete|multiselect" data-filter-info="booleanMap">Canva Transferred?</label>
    <label data-pss-filter-field="ps_filter_complete|multiselect" data-filter-info="booleanMap">PowerSchool Complete?</label>
    <label data-pss-filter-field="ad_filter_complete|multiselect" data-filter-info="booleanMap">Active Directory
        Complete?</label>
    <label data-pss-filter-field="o365_filter_complete|multiselect" data-filter-info="booleanMap">Office 365 Complete?</label>
    <label data-pss-filter-field="ipad_filter_complete|multiselect" data-filter-info="booleanMap">iPad Complete?</label>
    <label data-pss-filter-field="lms_filter_complete|multiselect" data-filter-info="booleanMap">LMS Complete?</label>
    <label data-pss-filter-field="completed|multiselect" data-filter-info="booleanMap">All Completed?</label>
    <label data-pss-filter-field="title|multiselect" data-filter-info="titleMap">Title</label>
    <label data-pss-filter-field="first_name">First Name</label>
    <label data-pss-filter-field="last_name">Last Name</label>
    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="last_name" class="nowrap">{{listHeaders[0]}}</th>
                <th data-pss-sort-fields="old_name_placeholder" class="nowrap">{{listHeaders[1]}}</th>
				<th data-ng-if="showSchoolColumns" data-pss-sort-fields="schoolid|multiselect-dropdown"
					data-filter-info="schoolMaps.nameChange">{{listHeaders[2]}}
                </th>
                <th data-pss-sort-fields="submittedstaff" class="fit-column">{{listHeaders[3]}}</th>
                <th data-pss-sort-fields="submission_date|date, sort_time" data-primary-sort="descending"
                    class="fit-column">
                    {{listHeaders[4]}}</th>
                <th data-pss-sort-fields="completion_date|date" class="fit-column">{{listHeaders[5]}}</th>
                <th data-pss-sort-fields="progress_percent|number, completion_date|date"
                    data-exclude-from-filter="true" class="progress-column progress-column-6">{{listHeaders[6]}}</th>
                <th data-pss-sort-fields="final_completion_date|date" class="fit-column">{{listHeaders[7]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="nameChange in filteredNameChangeList">
                <td>{{$index +1}}</td>
                <td class="nowrap staff-name-cell">
                    <a href="/admin/staff_change/submit.html?status=Edit&id={{::nameChange.staffid}}">
                        {{::nameChange.display_name}}</a>
                    <span class="ms-2 external-link-hover">
                        <a href="/admin/staff_change/submit.html?status=Edit&id={{::nameChange.staffid}}" target="_blank"
                            title="Open in new tab"><pds-icon name="external"
                                class="style-scope x-scope pds-icon-0 pds-widget staff-change-external-link-icon" pds-widget="pds-widget"></pds-icon>
                        </a>
                    </span>
                </td>
                <td class="nowrap">{{::nameChange.old_name_placeholder}}</td>
				<td data-ng-if="showSchoolColumns" class="nowrap">{{::nameChange.school_list_display}}</td>
                <td class="fit-column">{{::nameChange.submittedstaff}}</td>
                <td class="fit-column">{{::nameChange.submission_date | date : 'MM/dd/yyyy'}}
                    {{::nameChange.submission_time}}</td>
                <td class="fit-column" data-ng-class="::nameChange.deadline_class">
                    {{::nameChange.completion_date | date : 'MM/dd/yyyy'}}</td>
                <td class="progress-column progress-column-6">
                    <staff-workflow-progress staff-record="nameChange"
                        open-progress="openWorkflowProgressDialog(staffRecord)"></staff-workflow-progress>
                </td>

                <td class="fit-column">{{::nameChange.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>
