<div id="name-change-Grid" data-pss-grid-widget data-data="staffList.nameChange"
    data-filtered-data="filteredNameChangeList" data-client-side-pagination="false">
    <!-- Adding before the table so it will put this filter at the top of the list in the drop down -->
    <label data-pss-filter-field="ad_complete|multiselect" data-filter-info="booleanMap">Active Directory
        Complete?</label>
    <label data-pss-filter-field="ps_complete|multiselect" data-filter-info="booleanMap">PowerSchool Complete?</label>
    <label data-pss-filter-field="o365_complete|multiselect" data-filter-info="booleanMap">Office 365 Complete?</label>
    <label data-pss-filter-field="lms_complete|multiselect" data-filter-info="booleanMap">LMS Complete?</label>
    <label data-pss-filter-field="completed|multiselect" data-filter-info="booleanMap">All Completed?</label>
    <label data-pss-filter-field="title|multiselect" data-filter-info="titleMap">Title</label>
    <label data-pss-filter-field="first_name">First Name</label>
    <label data-pss-filter-field="last_name">Last Name</label>
    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="last_name" class="nowrap">New Staff Name</th>
                <th data-pss-sort-fields="old_name_placeholder" class="nowrap">Previous Staff Name</th>
                <th data-pss-sort-fields="schname|multiselect-dropdown" data-filter-info="schoolMap">School</th>
                <th data-pss-sort-fields="submittedstaff">Submitted By</th>
                <th data-pss-sort-fields="submission_date|date, sort_time" data-primary-sort="descending">
                    Submission Date</th>
                <th data-pss-sort-fields="completion_date|date">Deadline</th>
                <th data-pss-sort-fields="ps_created" data-exclude-from-filter="true">PS Created</th>
                <th data-pss-sort-fields="ad_created, ad_ignored" data-exclude-from-filter="true">AD Created</th>
                <th data-pss-sort-fields="o365_created, o365_ignored" data-exclude-from-filter="true">O365 Created</th>
                <th data-pss-sort-fields="lms_created" data-exclude-from-filter="true">LMS Created</th>
                <th data-pss-sort-fields="final_completion_date|date">Completion Date</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="nameChange in filteredNameChangeList">
                <td>{{$index +1}}</td>
                <td class="nowrap"><a href="/admin/staff_change/submit.html?status=Edit&id={{nameChange.staffid}}">
                        <span data-ng-show="nameChange.title !== 'Fr.' &&
                    nameChange.title !== 'Msgr.' &&
                    nameChange.title !== 'Sr.' &&
                    nameChange.title !== 'Br.' "> {{nameChange.title}}</span>
                        {{nameChange.first_name}}
                        {{nameChange.last_name}}</a></td>
                <td class="nowrap">{{nameChange.old_name_placeholder}}</td>
                <td class="nowrap">{{nameChange.schname}}</td>
                <td class="nowrap">{{nameChange.submittedstaff}}</td>
                <td class="nowrap">{{nameChange.submission_date | date : 'MM/dd/yyyy'}}
                    {{nameChange.submission_time}}</td>
                <td
                    data-ng-class="{'req-notation': (nameChange.completion_date < curDate) && (!nameChange.ps_complete || !nameChange.ad_complete || !nameChange.o365_complete || !nameChange.lms_complete)}">
                    {{nameChange.completion_date | date : 'MM/dd/yyyy'}}</td>
                <td><span
                        data-ng-class="{'mark-complete': nameChange.ps_complete, 'mark-incomplete': !nameChange.ps_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': nameChange.ad_complete, 'mark-incomplete': !nameChange.ad_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': nameChange.o365_complete, 'mark-incomplete': !nameChange.o365_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': nameChange.lms_complete, 'mark-incomplete': !nameChange.lms_complete}"></span>
                </td>
                <td>{{nameChange.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>