<div id="new-staff-grid" data-pss-grid-widget data-data="staffList.newStaff" data-filtered-data="filteredNewStaffList"
    data-client-side-pagination="false">
    <!-- Adding before the table so it will put this filter at the top of the list in the drop down -->
    <label data-pss-filter-field="ad_complete|multiselect" data-filter-info="booleanMap">Active Directory
        Complete?</label>
    <label data-pss-filter-field="ps_complete|multiselect" data-filter-info="booleanMap">PowerSchool Complete?</label>
    <label data-pss-filter-field="o365_complete|multiselect" data-filter-info="booleanMap">Office 365 Complete?</label>
    <label data-pss-filter-field="lms_complete|multiselect" data-filter-info="booleanMap">LMS Complete?</label>
    <label data-pss-filter-field="completed|multiselect" data-filter-info="booleanMap">All Completed?</label>
    <label data-pss-filter-field="title|multiselect" data-filter-info="titleMap">Title</label>
    <label data-pss-filter-field="first_name">First Name</label>
    <label data-pss-filter-field="last_name">Last Name</label>

    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="last_name" class="nowrap">New Staff</th>
                <th data-pss-sort-fields="schname|multiselect-dropdown" data-filter-info="schoolMap">School</th>
                <th data-pss-sort-fields="submittedstaff">Submitted By</th>
                <th data-pss-sort-fields="submission_date|date, sort_time" data-primary-sort="descending">
                    Submission Date</th>
                <th data-pss-sort-fields="completion_date|date">Deadline</th>
                <th data-pss-sort-fields="ps_created" data-exclude-from-filter="true">PS Created</th>
                <th data-pss-sort-fields="ad_created, ad_ignored" data-exclude-from-filter="true">AD Created</th>
                <th data-pss-sort-fields="o365_created, o365_ignored" data-exclude-from-filter="true">O365 Created</th>
                <th data-pss-sort-fields="lms_created" data-exclude-from-filter="true">LMS Created</th>
                <th data-pss-sort-fields="final_completion_date|date">Completion Date</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="newStaff in filteredNewStaffList">
                <td>{{$index +1}}</td>
                <td class="nowrap"><a
                        href="/admin/staff_change/submit.html?status=Edit&id={{newStaff.staffid}}">{{newStaff.title}}
                        {{newStaff.first_name}}
                        {{newStaff.last_name}}</a></td>
                <td class="nowrap">{{newStaff.schname}}</td>
                <td class="nowrap">{{newStaff.submittedstaff}}</td>
                <td class="nowrap">{{newStaff.submission_date | date : 'MM/dd/yyyy'}}
                    {{newStaff.submission_time}}</td>
                <td
                    data-ng-class="{'req-notation': (newStaff.completion_date < curDate) && (!newStaff.ps_complete || !newStaff.ad_complete || !newStaff.o365_complete || !newStaff.lms_complete)}">
                    {{newStaff.completion_date | date : 'MM/dd/yyyy'}}</td>
                <td><span
                        data-ng-class="{'mark-complete': newStaff.ps_complete, 'mark-incomplete': !newStaff.ps_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': newStaff.ad_complete, 'mark-incomplete': !newStaff.ad_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': newStaff.o365_complete, 'mark-incomplete': !newStaff.o365_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': newStaff.lms_complete, 'mark-incomplete': !newStaff.lms_complete}"></span>
                </td>
                <td>{{newStaff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>

</div>