<div id="new-staff-grid" data-pss-grid-widget data-data="staffList.newStaff" data-filtered-data="filteredNewStaffList"
    data-client-side-pagination="false">
    <export-button></export-button>
    <!-- Adding before the table so it will put this filter at the top of the list in the drop down -->
    <label data-pss-filter-field="ad_complete|multiselect" data-filter-info="booleanMap">Active Directory
        Complete?</label>
    <label data-pss-filter-field="ps_complete|multiselect" data-filter-info="booleanMap">PowerSchool Complete?</label>
    <label data-pss-filter-field="o365_complete|multiselect" data-filter-info="booleanMap">Office 365 Complete?</label>
    <label data-pss-filter-field="lms_complete|multiselect" data-filter-info="booleanMap">LMS Complete?</label>
    <label data-pss-filter-field="canva_complete|multiselect" data-filter-info="booleanMap">Canva Complete?</label>
    <label data-pss-filter-field="completed|multiselect" data-filter-info="booleanMap">All Completed?</label>
    <label data-pss-filter-field="title|multiselect" data-filter-info="titleMap">Title</label>
    <label data-pss-filter-field="first_name">First Name</label>
    <label data-pss-filter-field="last_name">Last Name</label>

    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="last_name" class="nowrap">{{listHeaders[0]}}</th>
                <th data-pss-sort-fields="schname|multiselect-dropdown" data-filter-info="schoolMap">{{listHeaders[1]}}
                </th>
                <th data-pss-sort-fields="submittedstaff">{{listHeaders[2]}}</th>
                <th data-pss-sort-fields="submission_date|date, sort_time" data-primary-sort="descending">
                    {{listHeaders[3]}}</th>
                <th data-pss-sort-fields="completion_date|date">{{listHeaders[4]}}</th>
                <th data-pss-sort-fields="ps_created" data-exclude-from-filter="true">{{listHeaders[5]}}</th>
                <th data-pss-sort-fields="ad_created, ad_ignored" data-exclude-from-filter="true">{{listHeaders[6]}}
                </th>
                <th data-pss-sort-fields="o365_created, o365_ignored" data-exclude-from-filter="true">{{listHeaders[7]}}
                </th>
                <th data-pss-sort-fields="lms_created" data-exclude-from-filter="true">{{listHeaders[8]}}</th>
                <th data-pss-sort-fields="canva_created" data-exclude-from-filter="true">{{listHeaders[9]}}</th>
                <th data-pss-sort-fields="final_completion_date|date">{{listHeaders[10]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="newStaff in filteredNewStaffList">
                <td>{{$index +1}}</td>
                <td class="nowrap"><a
                        href="/admin/staff_change/submit.html?status=Edit&id={{newStaff.staffid}}">{{newStaff.title}}
                        {{newStaff.first_name}}
                        {{newStaff.last_name}}</a></td>
                <td class="nowrap">{{newStaff.schname}}</td>
                <td class="nowrap">{{newStaff.submittedstaff}}</td>
                <td class="nowrap">{{newStaff.submission_date | date : 'MM/dd/yyyy'}}
                    {{newStaff.submission_time}}</td>
                <td data-ng-class="getReqNotationClass(newStaff, curDate)">
                    {{newStaff.completion_date | date : 'MM/dd/yyyy'}}</td>
                <td><span
                        data-ng-class="{'mark-complete': newStaff.ps_complete, 'mark-incomplete': !newStaff.ps_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': newStaff.ad_complete, 'mark-incomplete': !newStaff.ad_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': newStaff.o365_complete, 'mark-incomplete': !newStaff.o365_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': newStaff.lms_complete, 'mark-incomplete': !newStaff.lms_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': newStaff.canva_complete, 'mark-incomplete': !newStaff.canva_complete}"></span>
                </td>
                <td>{{newStaff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>

</div>