<div id="sub-staff-grid" data-pss-grid-widget data-data="staffList.subStaff" data-filtered-data="filteredSubStaffList"
    data-client-side-pagination="false">
    <export-button data-ng-if="filteredSubStaffList.length > 0"></export-button>
    <!-- Adding before the table so it will put this filter at the top of the list in the drop down -->
    <label data-pss-filter-field="ad_complete|multiselect" data-filter-info="booleanMap">Active Directory
        Complete?</label>
    <label data-pss-filter-field="ps_complete|multiselect" data-filter-info="booleanMap">PowerSchool Complete?</label>
    <label data-pss-filter-field="o365_complete|multiselect" data-filter-info="booleanMap">Office 365 Complete?</label>
    <label data-pss-filter-field="lms_complete|multiselect" data-filter-info="booleanMap">LMS Complete?</label>
    <label data-pss-filter-field="completed|multiselect" data-filter-info="booleanMap">All Completed?</label>
    <label data-pss-filter-field="title|multiselect" data-filter-info="titleMap">Title</label>
    <label data-pss-filter-field="first_name">First Name</label>
    <label data-pss-filter-field="last_name">Last Name</label>

    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="last_name" class="nowrap">{{listHeaders[0]}}</th>
                <th data-pss-sort-fields="schname|multiselect-dropdown" data-filter-info="schoolMap">{{listHeaders[1]}}
                </th>
                <th data-pss-sort-fields="sub_type|multiselect" data-filter-info="subTypeMap">{{listHeaders[2]}}</th>
                <th data-pss-sort-fields="submittedstaff">{{listHeaders[3]}}</th>
                <th data-pss-sort-fields="submission_date|date, sort_time" data-primary-sort="descending">
                    {{listHeaders[4]}}</th>
                <th data-pss-sort-fields="completion_date|date">{{listHeaders[5]}}</th>
                <th data-pss-sort-fields="ps_created" data-exclude-from-filter="true">{{listHeaders[6]}}</th>
                <th data-pss-sort-fields="ad_created, ad_ignored" data-exclude-from-filter="true">{{listHeaders[7]}}
                </th>
                <th data-pss-sort-fields="o365_created, o365_ignored" data-exclude-from-filter="true">{{listHeaders[8]}}
                </th>
                <th data-pss-sort-fields="lms_created, lms_ignored" data-exclude-from-filter="true">{{listHeaders[9]}}
                </th>
                <th data-pss-sort-fields="final_completion_date|date">{{listHeaders[10]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="subStaff in filteredSubStaffList">
                <td>{{$index +1}}</td>
                <td class="nowrap staff-name-cell">
                    <a href="/admin/staff_change/submit.html?status=Edit&id={{subStaff.staffid}}">{{subStaff.title}}
                        {{subStaff.first_name}}
                        {{subStaff.last_name}}</a>
                    <span class="ms-2 external-link-hover">
                        <a href="/admin/staff_change/submit.html?status=Edit&id={{subStaff.staffid}}" target="_blank"
                            title="Open in new tab"><pds-icon name="external"
                                class="style-scope x-scope pds-icon-0 pds-widget" pds-widget="pds-widget"
                                style="zoom: 0.55;"></pds-icon>
                        </a>
                    </span>
                </td>
                <td class="nowrap">{{subStaff.schname}}</td>
                <td>{{subStaff.sub_type}}</td>
                <td class="nowrap">{{subStaff.submittedstaff}}</td>
                <td class="nowrap">{{subStaff.submission_date | date : 'MM/dd/yyyy'}}
                    {{subStaff.submission_time}}</td>
                <td>
                    <span data-ng-class="getReqNotationClass(subStaff, curDate)">
                        {{ subStaff.completion_date | date : 'MM/dd/yyyy' }}
                    </span>
                </td>
                <td><span data-ng-if="subStaff.sub_type !== 'FSTS'"
                        data-ng-class="{'mark-complete': subStaff.ps_complete, 'mark-incomplete': !subStaff.ps_complete}">
                    </span>
                    <span data-ng-if="subStaff.sub_type === 'FSTS'" class="text-primary fs-6 fw-medium">- - -</span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': subStaff.ad_complete, 'mark-incomplete': !subStaff.ad_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': subStaff.o365_complete, 'mark-incomplete': !subStaff.o365_complete}"></span>
                </td>
                <td><span data-ng-if="subStaff.sub_type !== 'FSTS'"
                        data-ng-class="{'mark-complete': subStaff.lms_complete, 'mark-incomplete': !subStaff.lms_complete}"></span>
                    <span data-ng-if="subStaff.sub_type === 'FSTS'" class="text-primary fs-6 fw-medium">- - -</span>
                </td>
                <td>{{subStaff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>

</div>