<div id="sub-staff-grid" data-pss-grid-widget data-data="staffList.subStaff" data-filtered-data="filteredSubStaffList"
    data-client-side-pagination="false">
    <export-button data-ng-if="filteredSubStaffList.length > 0"></export-button>
    <!-- Adding before the table so it will put this filter at the top of the list in the drop down -->
    <label data-pss-filter-field="ad_filter_complete|multiselect" data-filter-info="booleanMap">Active Directory
        Complete?</label>
    <label data-pss-filter-field="ps_filter_complete|multiselect" data-filter-info="booleanMap">PowerSchool Complete?</label>
    <label data-pss-filter-field="o365_filter_complete|multiselect" data-filter-info="booleanMap">Office 365 Complete?</label>
    <label data-pss-filter-field="ipad_filter_complete|multiselect" data-filter-info="booleanMap">iPad Complete?</label>
    <label data-pss-filter-field="lms_filter_complete|multiselect" data-filter-info="booleanMap">LMS Complete?</label>
    <label data-pss-filter-field="completed|multiselect" data-filter-info="booleanMap">All Completed?</label>
    <label data-pss-filter-field="title|multiselect" data-filter-info="titleMap">Title</label>
    <label data-pss-filter-field="first_name">First Name</label>
    <label data-pss-filter-field="last_name">Last Name</label>

    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="last_name" class="nowrap">{{listHeaders[0]}}</th>
				<th data-ng-if="showSchoolColumns" data-pss-sort-fields="school_list_display|multiselect-dropdown"
					data-filter-info="schoolMap">{{listHeaders[1]}}
                </th>
                <th data-pss-sort-fields="sub_type|multiselect" data-filter-info="subTypeMap" class="fit-column">
                    {{listHeaders[2]}}</th>
                <th data-pss-sort-fields="submittedstaff" class="fit-column">{{listHeaders[3]}}</th>
                <th data-pss-sort-fields="submission_date|date, sort_time" data-primary-sort="descending"
                    class="fit-column">
                    {{listHeaders[4]}}</th>
                <th data-pss-sort-fields="completion_date|date" class="fit-column">{{listHeaders[5]}}</th>
                <th data-pss-sort-fields="progress_percent|number, completion_date|date"
                    data-exclude-from-filter="true" class="progress-column progress-column-5">{{listHeaders[6]}}</th>
                <th data-pss-sort-fields="final_completion_date|date" class="fit-column">{{listHeaders[7]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="subStaff in filteredSubStaffList">
                <td>{{$index +1}}</td>
                <td class="nowrap staff-name-cell">
                    <a href="/admin/staff_change/submit.html?status=Edit&id={{::subStaff.staffid}}">
                        {{::subStaff.display_name}}</a>
                    <span class="ms-2 external-link-hover">
                        <a href="/admin/staff_change/submit.html?status=Edit&id={{::subStaff.staffid}}" target="_blank"
                            title="Open in new tab"><pds-icon name="external"
                                class="style-scope x-scope pds-icon-0 pds-widget staff-change-external-link-icon" pds-widget="pds-widget"></pds-icon>
                        </a>
                    </span>
                </td>
				<td data-ng-if="showSchoolColumns" class="nowrap">{{::subStaff.school_list_display}}</td>
                <td class="fit-column">{{::subStaff.sub_type}}</td>
                <td class="fit-column">{{::subStaff.submittedstaff}}</td>
                <td class="fit-column">{{::subStaff.submission_date | date : 'MM/dd/yyyy'}}
                    {{::subStaff.submission_time}}</td>
                <td class="fit-column">
                    <span data-ng-class="::subStaff.deadline_class">
                        {{::subStaff.completion_date | date : 'MM/dd/yyyy' }}
                    </span>
                </td>
                <td class="progress-column progress-column-5">
                    <staff-workflow-progress staff-record="subStaff"
                        open-progress="openWorkflowProgressDialog(staffRecord)"></staff-workflow-progress>
                </td>
                <td class="fit-column">{{::subStaff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>

</div>
