<div id="transfer-staff-grid" data-pss-grid-widget data-data="staffList.transferringStaff"
    data-filtered-data="filteredTransferringStaffList" data-client-side-pagination="false">
    <!-- Adding before the table so it will put this filter at the top of the list in the drop down -->
    <label data-pss-filter-field="ad_complete|multiselect" data-filter-info="booleanMap">Active Directory
        Complete?</label>
    <label data-pss-filter-field="ps_complete|multiselect" data-filter-info="booleanMap">PowerSchool Complete?</label>
    <label data-pss-filter-field="o365_complete|multiselect" data-filter-info="booleanMap">Office 365 Complete?</label>
    <label data-pss-filter-field="lms_complete|multiselect" data-filter-info="booleanMap">LMS Complete?</label>
    <label data-pss-filter-field="completed|multiselect" data-filter-info="booleanMap">All Completed?</label>
    <label data-pss-filter-field="title|multiselect" data-filter-info="titleMap">Title</label>
    <label data-pss-filter-field="first_name">First Name</label>
    <label data-pss-filter-field="last_name">Last Name</label>
    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="last_name" class="nowrap">Transferring-In Staff</th>
                <th data-pss-sort-fields="schname|multiselect-dropdown" data-filter-info="schoolMap">New School</th>
                <th data-pss-sort-fields="prev_school_name|multiselect-dropdown" data-filter-info="schoolMap">
                    Original School</th>
                <th data-pss-sort-fields="submittedstaff">Submitted By</th>
                <th data-pss-sort-fields="submission_date|date, sort_time" data-primary-sort="descending">
                    Submission Date</th>
                <th data-pss-sort-fields="completion_date|date">Deadline</th>
                <th data-pss-sort-fields="ps_created" data-exclude-from-filter="true">PS Created</th>
                <th data-pss-sort-fields="ad_created, ad_ignored" data-exclude-from-filter="true">AD Created</th>
                <th data-pss-sort-fields="o365_created, o365_ignored" data-exclude-from-filter="true">O365 Created</th>
                <th data-pss-sort-fields="lms_created" data-exclude-from-filter="true">LMS Created</th>
                <th data-pss-sort-fields="final_completion_date|date">Completion Date</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="transferringStaff in filteredTransferringStaffList">
                <td>{{$index +1}}</td>
                <td class="nowrap"><a
                        href="/admin/staff_change/submit.html?status=Edit&id={{transferringStaff.staffid}}">
                        <span data-ng-show="transferringStaff.title !== 'Fr.' &&
								transferringStaff.title !== 'Msgr.' &&
								transferringStaff.title !== 'Sr.' &&
								transferringStaff.title !== 'Br.' ">{{transferringStaff.title}}</span> {{transferringStaff.first_name}}
                        {{transferringStaff.last_name}}</a></td>
                <td class="nowrap">{{transferringStaff.schname}}</td>
                <td class="nowrap">{{transferringStaff.prev_school_name}}</td>
                <td class="nowrap">{{transferringStaff.submittedstaff}}</td>
                <td class="nowrap">{{transferringStaff.submission_date | date : 'MM/dd/yyyy'}}
                    {{transferringStaff.submission_time}}</td>
                <td
                    data-ng-class="{'req-notation': (transferringStaff.completion_date < curDate) && (!transferringStaff.ps_complete || !transferringStaff.ad_complete || !transferringStaff.o365_complete || !transferringStaff.lms_complete)}">
                    {{transferringStaff.completion_date | date : 'MM/dd/yyyy'}}</td>
                <td><span
                        data-ng-class="{'mark-complete': transferringStaff.ps_complete, 'mark-incomplete': !transferringStaff.ps_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': transferringStaff.ad_complete, 'mark-incomplete': !transferringStaff.ad_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': transferringStaff.o365_complete, 'mark-incomplete': !transferringStaff.o365_complete}"></span>
                </td>
                <td><span
                        data-ng-class="{'mark-complete': transferringStaff.lms_complete, 'mark-incomplete': !transferringStaff.lms_complete}"></span>
                </td>
                <td>{{transferringStaff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>