<div id="transfer-staff-grid" data-pss-grid-widget data-data="staffList.transferringStaff"
    data-filtered-data="filteredTransferringStaffList" data-client-side-pagination="false">
    <export-button data-ng-if="filteredTransferringStaffList.length > 0"></export-button>
    <!-- Adding before the table so it will put this filter at the top of the list in the drop down -->
    <label data-pss-filter-field="ad_filter_complete|multiselect" data-filter-info="booleanMap">Active Directory
        Complete?</label>
    <label data-pss-filter-field="ps_filter_complete|multiselect" data-filter-info="booleanMap">PowerSchool Complete?</label>
    <label data-pss-filter-field="o365_filter_complete|multiselect" data-filter-info="booleanMap">Office 365 Complete?</label>
    <label data-pss-filter-field="ipad_filter_complete|multiselect" data-filter-info="booleanMap">iPad Complete?</label>
    <label data-pss-filter-field="lms_filter_complete|multiselect" data-filter-info="booleanMap">LMS Complete?</label>
    <label data-pss-filter-field="canva_filter_complete|multiselect" data-filter-info="booleanMap">Canva Complete?</label>
    <label data-pss-filter-field="completed|multiselect" data-filter-info="booleanMap">All Completed?</label>
    <label data-pss-filter-field="title|multiselect" data-filter-info="titleMap">Title</label>
    <label data-pss-filter-field="first_name">First Name</label>
    <label data-pss-filter-field="last_name">Last Name</label>
    <table class="grid">
        <thead class="sticky-header">
            <tr>
                <th></th>
                <th data-pss-sort-fields="last_name" class="nowrap">{{listHeaders[0]}}</th>
                <th data-pss-sort-fields="schname|multiselect-dropdown" data-filter-info="schoolMap">{{listHeaders[1]}}
                </th>
                <th data-pss-sort-fields="prev_school_name|multiselect-dropdown" data-filter-info="schoolMap">
                    {{listHeaders[2]}}</th>
                <th data-pss-sort-fields="submittedstaff" class="fit-column">{{listHeaders[3]}}</th>
                <th data-pss-sort-fields="submission_date|date, sort_time" data-primary-sort="descending"
                    class="fit-column">
                    {{listHeaders[4]}}</th>
                <th data-pss-sort-fields="completion_date|date" class="fit-column">{{listHeaders[5]}}</th>
                <th data-pss-sort-fields="progress_percent|number, completion_date|date"
                    data-exclude-from-filter="true" class="progress-column progress-column-6">{{listHeaders[6]}}</th>
                <th data-pss-sort-fields="final_completion_date|date" class="fit-column">{{listHeaders[7]}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="transferringStaff in filteredTransferringStaffList">
                <td>{{$index +1}}</td>
                <td class="nowrap staff-name-cell">
                    <a href="/admin/staff_change/submit.html?status=Edit&id={{::transferringStaff.staffid}}">
                        {{::transferringStaff.display_name}}</a>
                    <span class="ms-2 external-link-hover">
                        <a href="/admin/staff_change/submit.html?status=Edit&id={{::transferringStaff.staffid}}"
                            target="_blank" title="Open in new tab"><pds-icon name="external"
                                class="style-scope x-scope pds-icon-0 pds-widget" pds-widget="pds-widget"
                                style="zoom: 0.55;"></pds-icon>
                        </a>
                    </span>
                </td>
                <td class="nowrap">{{::transferringStaff.schname}}</td>
                <td class="nowrap">{{::transferringStaff.prev_school_name}}</td>
                <td class="fit-column">{{::transferringStaff.submittedstaff}}</td>
                <td class="fit-column">{{::transferringStaff.submission_date | date : 'MM/dd/yyyy'}}
                    {{::transferringStaff.submission_time}}</td>
                <td class="fit-column" data-ng-class="::transferringStaff.deadline_class">
                    {{::transferringStaff.completion_date | date : 'MM/dd/yyyy'}}</td>
                <td class="progress-column progress-column-6">
                    <staff-workflow-progress staff-record="transferringStaff"
                        open-progress="openWorkflowProgressDialog(staffRecord)"></staff-workflow-progress>
                </td>
                <td class="fit-column">{{::transferringStaff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</div>
