<h1>Thank You!</h1>
<div class="feedback-confirm" style="width:700px"><span class="underline">Thank You for your submission!</span>
    <br>
    <span class="underline bold">Note:</span> Your New Staff Submission for
    ~(gpv.title) ~(gpv.fname) ~(gpv.lname)
    has been sent to the Education Technology Office. We will be in contact once the account has been
    created.
</div>
<div class="button-row" style="width:740px"><a class="button" href="cdol_staff_change_form.html?id=-1">Submit
        another
        New Staff Record</a><a class="button" href="/admin/home.html">Exit</a>
</div>