<!DOCTYPE html>
<html>

    <head>
        <title>Staff Change</title>
        ~[wc:commonscripts]
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">
        <link href="/cdol/staffchange/scripts/cdol_staff_change.css?~[time]" rel="stylesheet">
    </head>

    <body id="cdolStaffAppDiv" ng-controller="cdolStaffAppCtrl as mainController"
        data-require-path="/cdol/staffchange/scripts/cdol_staff_change.js?~[time]" data-module-name="cdolStaffApp"
        ng-cur-school-id="~(curschoolid)" ng-cur-year-id="~(curyearid)" ng-status="~(gpv.status)"
        ng-cur-user-id="~[x:userid]" ng-cur-date="~[date]" ng-cur-time="~[time]" ng-staff-change-id="~(gpv.id)"
        ng-cur-user-name=" ~[x:username;firstlast]" ng-cur-user-email="~[x:useremail]"
        ng-cur-user-school-abbr="~(schoolabbr)" ng-init="findStaffChange()" ng-cloak>
        ~[wc:admin_header_css]
        <span ng-show="userContext.pageStatus =='Submit'"><a href="/admin/home.html"
                target="_top">~[text:psx.html.admin_reports.runreports.start_page]</a> &gt; {{userContext.pageStatus}}
            Staff Change</span>
        <span ng-show="userContext.pageStatus =='Edit'"><a href="/admin/home.html"
                target="_top">~[text:psx.html.admin_reports.runreports.start_page]</a> &gt; <a
                href="/admin/cdol/staffchange/cdol_staff_change_list.html" target="_top">New Staff Submissions</a> &gt;
            {{userContext.pageStatus}} Staff Change</span>
        ~[wc:admin_navigation_css]

        <div ng-show="userContext.pageStatus =='Submit' || userContext.pageStatus =='Edit'">
            <h1>{{userContext.pageStatus}} Staff Change</h1>

            <!--dup table-->
            <div class="box-round" ng-show="userContext.pageStatus =='Edit'&& dupList.length >0" style="width:50%;">
                <div id="feedback-message" class="feedback-error">Potential matches for&nbsp;{{newStaff.title}}
                    {{newStaff.first_name}} {{newStaff.last_name}}</div>
                <table class="grid" style="font-size: 10pt;">
                    <thead>
                        <tr>
                            <th>Potential Duplicate</th>
                            <th>School</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dup in dupList">
                            <td><a href="/admin/faculty/edit.html?frn=005{{dup.dcid}}">{{dup.first_name}}
                                    {{dup.last_name}}</a></td>
                            <td>{{dup.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="feedback-message" class="feedback-confirm"
                ng-show="userContext.pageStatus =='Edit'&& dupList.length <=0">No potential duplicate staff records
                found.</div>
            <!--Divergent path question-->
            <div class="fluid-form">
                <div>
                    <div>
                        <label>Are you adding a new staff or requesting a name change on an existing staff
                            member?</label>
                        <select name="" type="text" value="" ng-model="newStaff.name_change">
                            <option></option>
                            <option value="New Staff">New Staff</option>
                            <option value="Name Change">Name Change</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--Name change Submit -->
            <form name="nameChangeForm" method="POST" novalidate>
                <div class="fluid-form" ng-if="newStaff.name_change=='Name Change'">
                    <div>
                        <div>
                            <label class="req">Who's name is changing?</label>
                            <select name="" ng-model="newStaff.replacing" ng-required="true">
                                <option></option>
                                ~[tlist_sql;SELECT distinct
                                users.dcid,
                                users.first_name,
                                users.last_name
                                FROM SCHOOLSTAFF
                                inner join users
                                on users.dcid = schoolstaff.users_dcid
                                WHERE schoolstaff.status =1
                                ~[if.is.a.school]
                                AND schoolstaff.schoolid = ~(curschoolid)
                                [/if.is.a.school]
                                Order BY users.last_name , users.first_name]
                                <option value="~(dcid)">~(first) ~(last)</option>
                                [/tlist_sql]
                            </select>
                        </div>
                    </div>
                    <div><label>Staff's New Name</label></div>
                    <div>
                        <div>
                            <label class="req">Title</label>
                            <select name="" id="selectTitle" ng-model="newStaff.title"
                                ng-required="true">~[x:codesetoptions;codetype=Title;includeblank;value=~([U_CDOL_STAFF_CHANGES]title)]</select>
                        </div>
                        <div>
                            <label class="req">First Name</label>
                            <input name="" type="text" value="" ng-model="newStaff.first_name" ng-required="true">
                        </div>
                        <div>
                            <label>Middle Name</label>
                            <input name="" type="text" value="" ng-model="newStaff.middle_name">
                        </div>
                        <div>
                            <label class="req">Last Name</label>
                            <input name="" type="text" value="" ng-model="newStaff.last_name" ng-required="true">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Reason for Name Change?</label>
                            <textarea name="body" rows="3" cols="77" spellcheck="true" wrap="absolute"
                                ng-model="newStaff.notes"></textarea>
                        </div>
                    </div>
                    ~[if#distCheck.security.inrole=9]
                    <div style="background-color: #fff; border-top: 1px solid #eee;"
                        ng-show="userContext.pageStatus =='Edit'">
                        <div>
                            <table class="grid">
                                <thead>
                                    <tr>
                                        <th colspan="3">Account Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                            <input type="checkbox" name=""
                                                ng-model="newStaff.ps_created"><label>PowerSchool Account
                                                Updated?</label>
                                        </td>
                                        <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                            <input type="checkbox" name="" ng-model="newStaff.ad_created"><label>Active
                                                Directory
                                                Updated?</label>
                                        </td>
                                        <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                            <input type="checkbox" name="" ng-model="newStaff.lms_created"><label>LMS
                                                Account
                                                Updated?</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    [/if#distCheck]
                    <div class="button-row" ng-show="userContext.pageStatus =='Submit'">
                        <span class="req-notation" ng-show="nameChangeForm.$invalid && nameChangeForm.$dirty">Please
                            fill all required fields prior to submitting.</span>
                        <span style="display:inline; padding: 4px 4px 4px 30px;" ng-show="subConfirm"
                            class="feedback-alert">Please double check spelling prior to
                            submission. It is critical for accurate account creation.</span>
                        <button id="canBtn" type="button" ng-show="subConfirm"
                            ng-click="subConfirm = false">Cancel</button>
                        <button id="conBtn" type="button" style="background-color: DarkOrange;" ng-show="subConfirm"
                            ng-click="submitStaffChange()">Confirm Submission</button>
                        <button id="subBtn" type="button" ng-show="!subConfirm" ng-click="subConfirm = true"
                            ng-disabled="nameChangeForm.$invalid">Submit</button>
                    </div>
                    <div ng-show="userContext.pageStatus =='Edit'" class="button-row">
                        <span class="req-notation" ng-show="nameChangeForm.$invalid && nameChangeForm.$dirty">Please
                            fill all required fields prior to submitting.</span>
                        <button id="canBtn" type="button" ng-show="delUpdate"
                            ng-click="delUpdate = false">Cancel</button>
                        <button id="conBtn" type="button" style="background-color: DarkOrange;" ng-show="delUpdate"
                            ng-click="deleteStaffChange()">Confirm Deletion</button>
                        <a id="bkBtn" class="button" ng-show="!delUpdate"
                            href="/admin/cdol/staffchange/cdol_staff_change_list.html">Back</a>
                        <button id="delBtn" type="button" ng-show="!delUpdate" ng-click="delUpdate = true">Delete
                            Submission</button>
                        <button id="upBtn" type="button" ng-disabled="nameChangeForm.$invalid" ng-show="!delUpdate"
                            ng-click="submitStaffUpdate()">Submit
                            Update</button>
                    </div>
                </div>
            </form>
            <!--New Staff Submit-->
            <div id="feedback-message" class="feedback-alert"
                ng-show="userContext.pageStatus =='Submit' && newStaff.name_change=='New Staff'">Please spell
                new staff name correctly! If new staff member
                is going to be having a name change in the next 6 months for any reason please enter their anticipated
                name.</div>
            <form name="staffChangeForm" method="POST" novalidate>
                <div class="fluid-form" ng-show="newStaff.name_change=='New Staff'">
                    <h4 style="margin-left: 10px;">{{userContext.newStaffTempName}} Name</h4>
                    <div>
                        <div>
                            <label class="req">Title</label>
                            <select name="" id="selectTitle" ng-model="newStaff.title"
                                ng-required="true">~[x:codesetoptions;codetype=Title;includeblank;value=~([U_CDOL_STAFF_CHANGES]title)]</select>
                        </div>
                        <div>
                            <label class="req">First Name</label>
                            <input name="" type="text" value="" ng-model="newStaff.first_name" ng-required="true">
                        </div>
                        <div>
                            <label>Middle Name</label>
                            <input name="" type="text" value="" ng-model="newStaff.middle_name">
                        </div>
                        <div>
                            <label class="req">Last Name</label>
                            <input name="" type="text" value="" ng-model="newStaff.last_name" ng-required="true">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label class="req">Gender</label>
                            <select name="" id="selectgender" ng-model="newStaff.gender"
                                ng-required="true">~[x:codesetoptions;codetype=Gender;includeblank;value=~([U_CDOL_STAFF_CHANGES]preferred_name)]</select>
                        </div>
                        <div>
                            <label>Date of Birth</label>
                            <input name="" type="text" value="" class="psDateWidget" ng-model="newStaff.dob">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Preferred Name<span class="notation">(chosen name that may differ from legal
                                    name)</span></label>
                            <input name="" type="text" value="" ng-model="newStaff.preferred_name">
                        </div>
                        <div ng-show="newStaff.gender === 'F' && (newStaff.title ==='Mrs.' || newStaff.title ==='Dr.')">
                            <label>Maiden Name</label>
                            <input name="" type="text" value="" ng-model="newStaff.maiden_name">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Religion</label>
                            <select name="" type="text" value="" ng-model="newStaff.religion">
                                <option></option>
                                <option value="C">C - Catholic</option>
                                <option value="N">N - Non-Catholic</option>
                            </select>
                        </div>
                        <div style="margin-left:10px;">
                            <label>Religious, clergy or lay</label>
                            <select name="" type="text" value="" ng-model="newStaff.religiousclergylay">
                                <option></option>
                                <option value="R">R - Religious</option>
                                <option value="C">C - Clergy</option>
                                <option value="L" selected="">L - Lay</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Personal Email <span class="notation">(for communication durring account setup and
                                    summer
                                    trainings)</span></label>
                            <input name="" type="email" value="" placeholder="NewStaff@email.com"
                                ng-model="newStaff.personal_email">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label class="req">Staff Type</label>
                            <select name="" ng-model="newStaff.staff_type" ng-required="true">
                                <option></option>
                                <option value="1">Teacher</option>
                                <option value="2">Staff</option>
                                <option value="3">Lunch Staff</option>
                                <option value="4">Substitute</option>
                            </select>
                        </div>
                        <div>
                            <label class="req">Position</label>
                            <input name="" type="text" value="" placeholder="Ex: 2nd Grade Teacher, or Principal"
                                style="width: 300px;" ng-model="newStaff.position" ng-required="true">
                        </div>
                        <div>
                            <label>FTE</label>
                            <select name="" type="text" value="" ng-model="newStaff.fte">
                                <option></option>
                                <option value="FT">FT - Full-time</option>
                                <option value="PT">PT - Part-time</option>
                            </select>
                        </div>
                        <div>
                            <label>Anticipated Contract Start Date <span class="notation">(can be
                                    aproximate)</span></label>
                            <input name="" type="text" value="" class="psDateWidget" ng-model="newStaff.start_date"
                                ng-init="userContext.curDate">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Will <span
                                    ng-show="newStaff.title =='' && newStaff.first_name =='' && newStaff.last_name ==''">{{userContext.newStaffTempName}}</span>
                                {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}} need their accounts
                                setup prior to Contract Start Date?</label>
                            <select name="" type="text" value="" ng-model="newStaff.early_setup">
                                <option></option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>
                    <div ng-show="newStaff.early_setup =='Yes'">
                        <div>
                            <label>Requested Account Setup Deadline</label>
                            <input name="" type="text" value="" class="psDateWidget" ng-model="newStaff.deadline"
                                ng-init="userContext.curDate">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label class="req">Who is <span
                                    ng-show="newStaff.title =='' && newStaff.first_name =='' && newStaff.last_name ==''">{{userContext.newStaffTempName}}</span>
                                {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}} Replacing?</label>
                            <select name="" ng-model="newStaff.replacing" ng-required="true">
                                <option></option>
                                <option value="New">--New Position--</option>
                                ~[tlist_sql;SELECT
                                users.dcid,
                                users.first_name,
                                users.last_name
                                FROM SCHOOLSTAFF
                                inner join users
                                on users.dcid = schoolstaff.users_dcid
                                WHERE schoolstaff.schoolid = ~(curschoolid)
                                AND schoolstaff.status =1
                                Order BY users.last_name , users.first_name]
                                <option value="~(dcid)">~(first) ~(last)</option>
                                [/tlist_sql]
                            </select>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Has <span
                                    ng-show="newStaff.title =='' && newStaff.first_name =='' && newStaff.last_name ==''">{{userContext.newStaffTempName}}</span>
                                {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}} previously worked for
                                ~(schoolname) or another Diocese of Lincoln School?</label>
                            <select name="" ng-model="newStaff.previous">
                                <option></option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>
                    <div ng-if="newStaff.previous == 1">
                        <div>
                            <label>Where was <span
                                    ng-show="newStaff.title =='' && newStaff.first_name =='' && newStaff.last_name ==''">{{userContext.newStaffTempName}}</span>
                                {{newStaff.title}} {{newStaff.first_name}} {{newStaff.last_name}} previously
                                employed?</label>
                            <select name="" ng-model="newStaff.previous_employer">
                                <option></option>
                                ~[tlist_sql;SELECT SCHOOLS.School_number, SCHOOLS.name, SCHOOLS.SchoolCategoryCodesetID
                                FROM SCHOOLS
                                WHERE SCHOOLS.School_number NOT IN (888888,999999)
                                ORDER BY schools.name;]
                                <option value="~(schnum)">~(schname)</option>
                                [/tlist_sql]
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div ng-if="newStaff.previous_employer === 'Other'">
                        <div>
                            <label>Please type previous employer</label>
                            <input name="" type="text" value="" style="width: 300px;"
                                ng-model="newStaff.previous_employer_other">
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Is there anything you would like added to this form to make it better?</label>
                            <textarea name="body" rows="3" cols="77" spellcheck="true" wrap="absolute"
                                ng-model="newStaff.notes"></textarea>
                        </div>
                    </div>
                    ~[if#distCheck.security.inrole=9]
                    <div style="background-color: #fff; border-top: 1px solid #eee;"
                        ng-show="userContext.pageStatus =='Edit'">
                        <div>
                            <table class="grid">
                                <thead>
                                    <tr>
                                        <th colspan="3">Account Creation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                            <input type="checkbox" name=""
                                                ng-model="newStaff.ps_created"><label>PowerSchool Account
                                                Created?</label>
                                            <ul>
                                                <li>Created account?</li>
                                                <li>Assigned Security Group?</li>
                                                <li>Assigned Email?</li>
                                                <li>Linked LDAP?</li>
                                            </ul>
                                        </td>
                                        <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                            <input type="checkbox" name="" ng-model="newStaff.ad_created"><label>Active
                                                Directory
                                                Created?</label>
                                        </td>
                                        <td style="background-color: #fff;padding: 5px 10px 10px 2px;">
                                            <input type="checkbox" name="" ng-model="newStaff.lms_created"><label>LMS
                                                Account
                                                Created?</label>
                                            <ul>
                                                <li>Imported from PS-SIS?</li>
                                                <li>Matches O365 Login?</li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    [/if#distCheck]
                    <div id="holdingDiv" style="display: none;"></div>
                    <div class="button-row" ng-show="userContext.pageStatus =='Submit'">
                        <span class="req-notation" ng-show="staffChangeForm.$invalid && staffChangeForm.$dirty">Please
                            fill all required fields prior to submitting.</span>
                        <span style="display:inline; padding: 4px 4px 4px 30px;" ng-show="subConfirm"
                            class="feedback-alert">Please double check spelling prior to
                            submission. It is critical for accurate account creation.</span>
                        <button id="canBtn" type="button" ng-show="subConfirm"
                            ng-click="subConfirm = false">Cancel</button>
                        <button id="conBtn" type="button" style="background-color: DarkOrange;" ng-show="subConfirm"
                            ng-click="submitStaffChange()">Confirm Submission</button>
                        <button id="subBtn" type="button" ng-show="!subConfirm" ng-click="subConfirm = true"
                            ng-disabled="staffChangeForm.$invalid">Submit</button>
                    </div>
                    <div ng-show="userContext.pageStatus =='Edit'" class="button-row">
                        <span class="req-notation" ng-show="staffChangeForm.$invalid && staffChangeForm.$dirty">Please
                            fill all required fields prior to submitting.</span>
                        <button id="canBtn" type="button" ng-show="delUpdate"
                            ng-click="delUpdate = false">Cancel</button>
                        <button id="conBtn" type="button" style="background-color: DarkOrange;" ng-show="delUpdate"
                            ng-click="deleteStaffChange()">Confirm Deletion</button>
                        <a id="bkBtn" class="button" ng-show="!delUpdate"
                            href="/admin/cdol/staffchange/cdol_staff_change_list.html">Back</a>
                        <button id="delBtn" type="button" ng-show="!delUpdate" ng-click="delUpdate = true">Delete
                            Submission</button>
                        <button id="upBtn" type="button" ng-disabled="staffChangeForm.$invalid" ng-show="!delUpdate"
                            ng-click="submitStaffUpdate()">Submit
                            Update</button>
                    </div>
                </div>
            </form>
        </div>
        <!--Confirm-->
        <div ng-show="userContext.pageStatus =='Confirm'">
            <h1>Thank You!</h1>
            <div class="feedback-confirm" style="width:700px"><span class="underline">Thank You for your
                    submission!</span>
                <br>
                <span class="underline bold">Note:</span> Your New Staff Submission for
                ~(gpv.title) ~(gpv.fname) ~(gpv.lname)
                has been sent to the Education Technology Office. We will be in contact once the account has been
                created.
            </div>
            <div class="button-row" style="width:740px"><a class="button"
                    href="cdol_staff_change.html?status=Submit">Submit
                    another
                    New Staff Record</a><a class="button" href="/admin/home.html">Exit</a>
            </div>
        </div>
        ~[wc:admin_footer_css]
    </body>

</html>