<!DOCTYPE html>
<html>

    <head>
        <title>Staff Changes</title>
        ~[wc:commonscripts]
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">
        <link href="/admin/cdol/staffchange/scripts/cdol_staff_change.css" rel="stylesheet">
    </head>

    <body>
        ~[wc:admin_header_css]
        <a href="/admin/home.html" target="_top">~[text:psx.html.admin_reports.runreports.start_page]</a> &gt; Staff
        Changes
        ~[wc:admin_navigation_css]
        <h1 class="mb-1">Staff Changes</h1>
        <div id="cdol-staff-app-div" data-require-path="cdol_staff_change/cdol_staff_change_list"
            data-module-name="cdolStaffListMod" data-ng-controller="cdolStaffListCtrl"
            data-ng-cur-school-id="~(curschoolid)" data-ng-cur-year-id="~(curyearid)" data-ng-cur-date="~[date]"
            data-ng-cloak>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-auto me-auto"><label for="year-selector">Year: </label>
                        <select id="year-selector" name="" ng-model="adjustedYearId" ng-change="loadData()">
                            ~[tlist_sql;
                            SELECT
                            DISTINCT yearid,
                            yearid + 1991 as yearname
                            FROM
                            u_cdol_staff_changes
                            ORDER BY yearid ]
                            <option value="~(yrid)" ng-selected="~(yrid) === adjustedYearId">~(yearname)
                            </option>
                            [/tlist_sql]
                        </select>
                    </div>
                    <div class="col-auto me-2"><a class="button" href="cdol_staff_change.html?status=Submit">Submit
                            a
                            Staff Change</a><button ng-click="loadData()">Reload List</button></div>
                </div>
            </div>
            <div class="tabs">
                <ul>
                    <li><a href="#tabOneContent">New Staff <span class="badge text-bg-success ms-1">{{
                                staffChangeCount.total_new_remaining }}</span></a></li>
                    <li><a href="#tabTwoContent">Transferring Staff <span class="badge text-bg-primary ms-1">{{
                                staffChangeCount.total_transfer_remaining }}</span></a></li>
                    <li><a href="#tabThreeContent">Job/Position Changes <span class="badge text-bg-info ms-1">{{
                                staffChangeCount.total_name_change_remaining }}</span></a></li>
                    <li><a href="#tabFourContent">Name Changes <span class="badge text-bg-warning ms-1">{{
                                staffChangeCount.total_name_change_remaining }}</span></a></li>
                    <li><a href="#tabFiveContent">Exiting Staff <span class="badge text-bg-secondary ms-1">{{
                                staffChangeCount.total_exit_remaining }}</span></a></li>
                </ul>
                <div id="tabOneContent">
                    <div id="new-staff-grid" data-pss-grid-widget data-data="newStaffList"
                        data-filtered-data="newStaffListFilt" data-client-side-pagination="false"
                        data-filter-constraint="no-filters">
                        <table class="grid">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th data-pss-sort-fields="last_name|text" class="nowrap">New Staff Name</th>
                                    <th data-pss-sort-fields="schname|text">School</th>
                                    <th data-pss-sort-fields="who_submitted|number">Who Submitted</th>
                                    <th data-pss-sort-fields="submission_date, submission_time"
                                        data-primary-sort="descending">
                                        Submission Date</th>
                                    <th data-pss-sort-fields="completion_date | date">Deadline</th>
                                    <th data-pss-sort-fields="ps_created | number">PS Created</th>
                                    <th data-pss-sort-fields="ad_created, ad_ignored | number">AD Created</th>
                                    <th data-pss-sort-fields="o365_created, o365_ignored | number">O365 Created</th>
                                    <th data-pss-sort-fields="lms_created | number">LMS Created</th>
                                    <th data-pss-sort-fields="final_completion_date | date">Completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="newStaff in newStaffListFilt">
                                    <td>{{$index +1}}</td>
                                    <td class="nowrap"><a
                                            href="/admin/cdol/staffchange/cdol_staff_change.html?status=Edit&id={{newStaff.staffid}}">{{newStaff.title}}
                                            {{newStaff.first_name}}
                                            {{newStaff.last_name}}</a></td>
                                    <td class="nowrap">{{newStaff.schname}}</td>
                                    <td class="nowrap">{{newStaff.submittedstaff}}</td>
                                    <td class="nowrap">{{newStaff.submission_date | date : 'MM/dd/yyyy'}}
                                        {{newStaff.submission_time}}</td>
                                    <td
                                        ng-class="{'req-notation': (newStaff.completion_date  < curDate) && (newStaff.ps_created != 1  || (newStaff.ad_created != 1 && newStaff.ad_ignored != 1) || newStaff.lms_created != 1 || (newStaff.o365_created != 1 && newStaff.o365_ignored != 1))}">
                                        {{newStaff.completion_date | date : 'MM/dd/yyyy'}}</td>
                                    <td><span ng-show="newStaff.ps_created != 1">&#10060;</span><span
                                            ng-show="newStaff.ps_created == 1">&#10004;&#65039;</span></td>
                                    <td>
                                        <span
                                            ng-show="newStaff.ad_created != 1 && newStaff.ad_ignored != 1">&#10060;</span>
                                        <span
                                            ng-show="newStaff.ad_created == 1 || newStaff.ad_ignored == 1">&#10004;&#65039;</span>
                                    </td>
                                    <td>
                                        <span
                                            ng-show="newStaff.o365_created != 1 && newStaff.o365_ignored != 1">&#10060;</span>
                                        <span
                                            ng-show="newStaff.o365_created == 1 || newStaff.o365_ignored == 1">&#10004;&#65039;</span>
                                    </td>
                                    <td><span ng-show="newStaff.lms_created != 1">&#10060;</span><span
                                            ng-show="newStaff.lms_created == 1">&#10004;&#65039;</span></td>
                                    <td>{{newStaff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="tabTwoContent">
                    <div id="transferStaffListGrid" data-pss-grid-widget data-data="transferStaffList"
                        data-filtered-data="transferStaffListFilt" data-client-side-pagination="false"
                        data-filter-constraint="no-filters">
                        <table class="grid">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th data-pss-sort-fields="last_name|text" class="nowrap">Transferring Staff Name
                                    </th>
                                    <th data-pss-sort-fields="schname|text">New School</th>
                                    <th data-pss-sort-fields="previous_employer|text">Original School</th>
                                    <th data-pss-sort-fields="who_submitted|number">Who Submitted</th>
                                    <th data-pss-sort-fields="submission_date, submission_time"
                                        data-primary-sort="descending">
                                        Submission Date</th>
                                    <th data-pss-sort-fields="completion_date | date">Deadline</th>
                                    <th data-pss-sort-fields="ps_created | number">PS Created</th>
                                    <th data-pss-sort-fields="ad_created, ad_ignored | number">AD Created</th>
                                    <th data-pss-sort-fields="o365_created, o365_ignored | number">O365 Created</th>
                                    <th data-pss-sort-fields="lms_created | number">LMS Created</th>
                                    <th data-pss-sort-fields="final_completion_date | date">Completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="staff in transferStaffListFilt">
                                    <td>{{$index +1}}</td>
                                    <td class="nowrap"><a
                                            href="/admin/cdol/staffchange/cdol_staff_change.html?status=Edit&id={{staff.staffid}}">{{staff.title}}
                                            {{staff.first_name}}
                                            {{staff.last_name}}</a></td>
                                    <td class="nowrap">{{staff.schname}}</td>
                                    <td class="nowrap">{{staff.previous_combined}}</td>
                                    <td class="nowrap">{{staff.submittedstaff}}</td>
                                    <td class="nowrap">{{staff.submission_date | date : 'MM/dd/yyyy'}}
                                        {{staff.submission_time}}</td>
                                    <td
                                        ng-class="{'req-notation': (staff.completion_date  < userContext.curDate) && (staff.ps_created != 1  || (staff.ad_created != 1 && staff.ad_ignored != 1) || staff.lms_created != 1 || (staff.o365_created != 1 && staff.o365_ignored != 1))}">
                                        {{staff.completion_date | date : 'MM/dd/yyyy'}}</td>
                                    <td><span ng-show="staff.ps_created != 1">&#10060;</span><span
                                            ng-show="staff.ps_created == 1">&#10004;&#65039;</span></td>
                                    <td>
                                        <span ng-show="staff.ad_created != 1 && staff.ad_ignored != 1">&#10060;</span>
                                        <span
                                            ng-show="staff.ad_created == 1 || staff.ad_ignored == 1">&#10004;&#65039;</span>
                                    </td>
                                    <td>
                                        <span
                                            ng-show="staff.o365_created != 1 && staff.o365_ignored != 1">&#10060;</span>
                                        <span
                                            ng-show="staff.o365_created == 1 || staff.o365_ignored == 1">&#10004;&#65039;</span>
                                    </td>
                                    <td><span ng-show="staff.lms_created != 1">&#10060;</span><span
                                            ng-show="staff.lms_created == 1">&#10004;&#65039;</span></td>
                                    <td>{{staff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="tabThreeContent">
                    <div id="nameChangeStaffListGrid" data-pss-grid-widget data-data="nameChangeStaffList"
                        data-filtered-data="nameChangeStaffListFilt" data-client-side-pagination="false"
                        data-filter-constraint="no-filters">
                        <table class="grid">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th data-pss-sort-fields="last_name|text" class="nowrap">New Staff Name</th>
                                    <th data-pss-sort-fields="last_name|text" class="nowrap">Previous Staff Name</th>
                                    <th data-pss-sort-fields="schname|text">School</th>
                                    <th data-pss-sort-fields="who_submitted|number">Who Submitted</th>
                                    <th data-pss-sort-fields="submission_date, submission_time"
                                        data-primary-sort="descending">
                                        Submission Date</th>
                                    <th data-pss-sort-fields="completion_date | date">Deadline</th>
                                    <th data-pss-sort-fields="ps_created | number">PS Created</th>
                                    <th data-pss-sort-fields="ad_created, ad_ignored | number">AD Created</th>
                                    <th data-pss-sort-fields="o365_created, o365_ignored | number">O365 Created</th>
                                    <th data-pss-sort-fields="lms_created | number">LMS Created</th>
                                    <th data-pss-sort-fields="final_completion_date | date">Completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="staff in nameChangeStaffListFilt">
                                    <td>{{$index +1}}</td>
                                    <td class="nowrap"><a
                                            href="/admin/cdol/staffchange/cdol_staff_change.html?status=Edit&id={{staff.staffid}}">{{staff.title}}
                                            {{staff.first_name}}
                                            {{staff.last_name}}</a></td>
                                    <td class="nowrap">{{staff.replacedstaff}}</td>
                                    <td class="nowrap">{{staff.schname}}</td>
                                    <td class="nowrap">{{staff.submittedstaff}}</td>
                                    <td class="nowrap">{{staff.submission_date | date : 'MM/dd/yyyy'}}
                                        {{staff.submission_time}}</td>
                                    <td
                                        ng-class="{'req-notation': (staff.completion_date  < userContext.curDate) && (staff.ps_created != 1  || (staff.ad_created != 1 && staff.ad_ignored != 1) || staff.lms_created != 1 || (staff.o365_created != 1 && staff.o365_ignored != 1))}">
                                        {{staff.completion_date | date : 'MM/dd/yyyy'}}</td>
                                    <td><span ng-show="staff.ps_created != 1">&#10060;</span><span
                                            ng-show="staff.ps_created == 1">&#10004;&#65039;</span></td>
                                    <td>
                                        <span ng-show="staff.ad_created != 1 && staff.ad_ignored != 1">&#10060;</span>
                                        <span
                                            ng-show="staff.ad_created == 1 || staff.ad_ignored == 1">&#10004;&#65039;</span>
                                    </td>
                                    <td>
                                        <span
                                            ng-show="staff.o365_created != 1 && staff.o365_ignored != 1">&#10060;</span>
                                        <span
                                            ng-show="staff.o365_created == 1 || staff.o365_ignored == 1">&#10004;&#65039;</span>
                                    </td>
                                    <td><span ng-show="staff.lms_created != 1">&#10060;</span><span
                                            ng-show="staff.lms_created == 1">&#10004;&#65039;</span></td>
                                    <td>{{staff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="tabFourContent">
                    <div id="removalStaffListGrid" data-pss-grid-widget data-data="removalStaffList"
                        data-filtered-data="removalStaffListFilt" data-client-side-pagination="false"
                        data-filter-constraint="no-filters">
                        <table class="grid">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th data-pss-sort-fields="replacedstaff|text" class="nowrap">Exiting Staff Name</th>
                                    <th data-pss-sort-fields="schname|text">School</th>
                                    <th data-pss-sort-fields="who_submitted|number">Who Submitted</th>
                                    <th data-pss-sort-fields="submission_date, submission_time"
                                        data-primary-sort="descending">
                                        Submission Date</th>
                                    <th data-pss-sort-fields="completion_date | date">Deadline</th>
                                    <th data-pss-sort-fields="ps_created | number">PS Deactivated</th>
                                    <th data-pss-sort-fields="ad_created | number">AD Deactivated</th>
                                    <th data-pss-sort-fields="final_completion_date | date">Completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="staff in removalStaffListFilt">
                                    <td>{{$index +1}}</td>
                                    <td class="nowrap"><a
                                            href="/admin/cdol/staffchange/cdol_staff_change.html?status=Edit&id={{staff.staffid}}">{{staff.replacedstaff}}
                                            {{staff.replaced_other}}</a>
                                    </td>
                                    <td class="nowrap">{{staff.schname}}</td>
                                    <td class="nowrap">{{staff.submittedstaff}}</td>
                                    <td class="nowrap">{{staff.submission_date | date : 'MM/dd/yyyy'}}
                                        {{staff.submission_time}}</td>
                                    <td
                                        ng-class="{'req-notation': (staff.completion_date  < userContext.curDate) && (staff.ps_created != 1  || (staff.ad_created != 1 && staff.ad_ignored != 1))}">
                                        {{staff.completion_date | date : 'MM/dd/yyyy'}}</td>
                                    <td><span ng-show="staff.ps_created != 1">&#10060;</span><span
                                            ng-show="staff.ps_created == 1">&#10004;&#65039;</span></td>
                                    <td>
                                        <span ng-show="staff.ad_created != 1 && staff.ad_ignored != 1">&#10060;</span>
                                        <span
                                            ng-show="staff.ad_created == 1 || staff.ad_ignored == 1">&#10004;&#65039;</span>
                                    </td>
                                    <td>{{staff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        ~[wc:admin_footer_css]
    </body>

</html>