<!DOCTYPE html>
<html>

    <head>
        <title>Staff Change</title>
        ~[wc:commonscripts]
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">
        <link href="/admin/cdol/staffchange/scripts/cdol_staff_change.css" rel="stylesheet">
    </head>

    <body id="cdolStaffAppDiv" ng-controller="cdolStaffAppCtrl as mainController"
        data-require-path="/admin/cdol/staffchange/scripts/cdol_staff_change.js?~(f.currenttime)"
        data-module-name="cdolStaffApp" ng-cur-school-id="~(curschoolid)" ng-cur-year-id="~(curyearid)"
        ng-status="~(gpv.status)" ng-cur-user-id="~[x:userid]" ng-cur-date="~[date]" ng-cur-time="~[time]"
        ng-staff-change-id="~(gpv.id)" ng-cur-user-name=" ~[x:username;firstlast]" ng-cur-user-email="~[x:useremail]"
        ng-cur-user-school-abbr="~(schoolabbr)" ng-init="findStaffChange()" ng-cloak>
        ~[wc:admin_header_css]
        <span ng-show="userContext.pageStatus =='Submit'"><a href="/admin/home.html"
                target="_top">~[text:psx.html.admin_reports.runreports.start_page]</a> &gt; {{userContext.pageStatus}}
            Staff Change</span>
        <span ng-show="userContext.pageStatus =='Edit'"><a href="/admin/home.html"
                target="_top">~[text:psx.html.admin_reports.runreports.start_page]</a> &gt; <a
                href="/admin/cdol/staffchange/cdol_staff_change_list.html" target="_top">Staff Submissions</a> &gt;
            {{userContext.pageStatus}} Staff Change Submissions </span>
        ~[wc:admin_navigation_css]

        <div ng-show="userContext.pageStatus =='Submit' || userContext.pageStatus =='Edit'">
            <h1>{{userContext.pageStatus}} Staff Change</h1>
            <!--dup table-->
            <div class="box-round"
                ng-show="userContext.pageStatus =='Edit' && dupList.length >0 && newStaff.ps_created !=1"
                style="width:50%;">
                <div id="feedback-message" class="feedback-error">Potential matches for&nbsp;{{newStaff.title}}
                    {{newStaff.first_name}} {{newStaff.last_name}}</div>
                <table class="grid" style="font-size: 10pt;">
                    <thead>
                        <tr>
                            <th>Potential Duplicate</th>
                            <th>Status</th>
                            <th>School</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dup in dupList">
                            <td><a href="/admin/faculty/edit.html?frn=005{{dup.dcid}}">{{dup.first_name}}
                                    {{dup.last_name}}</a></td>
                            <td>{{dup.status}}</td>
                            <td>{{dup.school_name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="feedback-message" class="feedback-confirm"
                ng-show="userContext.pageStatus =='Edit'&& dupList.length <=0">No potential duplicate staff records
                found.</div>
            <!--Divergent path question-->
            <div class="fluid-form">
                <div>
                    <div>
                        <label>Type of Staff Change</label>
                        <select name="" type="text" value="" ng-model="newStaff.name_change">
                            <option></option>
                            <option value="New Staff">New Staff: Staff new to the Diocese of Lincoln </option>
                            <option value="Transferring Staff">Transferring Staff: Staff transferring into ~(schoolname)
                                from another Diocese of Lincoln School</option>
                            <option value="Name Change">Name Change: change the name of an existing staff member
                            </option>
                            <option value="Exiting Staff">Exiting Staff: staff not returning</option>
                        </select>
                    </div>
                </div>
            </div>
            <new-staff ng-show="newStaff.name_change=='New Staff'"></new-staff>
            <transfer-staff ng-show="newStaff.name_change=='Transferring Staff'"></transfer-staff>
            <name-change ng-if="newStaff.name_change=='Name Change'"></name-change>
            <exit-staff ng-if="newStaff.name_change=='Exiting Staff'"></exit-staff>
        </div>
        <!--Confirm-->
        <div ng-show="userContext.pageStatus =='Confirm'">
            <h1>Thank You!</h1>
            <div class="feedback-confirm" style="width:700px"><b><u>Thank You for your submission!</u></b>
                <br>
                ~[if.~(gpv.submessage)=E]
                <p>Your ~(gpv.substat) Submission for ~(gpv.fname) ~(gpv.lname) has been sent to the Education
                    Technology Office. We will be in
                    contact once the account is deactivated.<br> The account will be deactivated June 30th unless
                    specified otherwise.</p>
                [else]
                <p>Your ~(gpv.substat) Submission for ~(gpv.title) ~(gpv.fname) ~(gpv.lname) has been sent to the
                    Education Technology Office. We will be in contact once the account has been created.</p>
                [/if]
            </div>
            <div class="button-row" style="width:740px"><a class="button"
                    href="cdol_staff_change.html?status=Submit">Submit
                    Another
                    Staff Change</a><a class="button" href="cdol_staff_change_list.html">View All Submissions</a><a
                    class="button" href="/admin/home.html">Exit</a>
            </div>
        </div>
        ~[wc:admin_footer_css]
    </body>

</html>