<!DOCTYPE html>
<html>

    <head>
        <title>Staff Change Submissions</title>
        ~[wc:commonscripts]
        <link href="/images/css/screen.css" rel="stylesheet" media="screen">
        <link href="/images/css/print.css" rel="stylesheet" media="print">
        <link href="/cdol/staffchange/scripts/cdol_staff_change.css?~(f.currenttime)" rel="stylesheet">
    </head>

    <body id="cdolStaffAppDiv" ng-controller="cdolStaffAppCtrl"
        data-require-path="/cdol/staffchange/scripts/cdol_staff_change.js?~(f.currenttime)"
        data-module-name="cdolStaffApp" ng-init="getStaffResults()" ng-cur-school-id="~(curschoolid)"
        ng-cur-year-id="~(curyearid)" ng-status="~(gpv.status)" ng-cur-user-id="~[x:userid]" ng-cur-date="~[date]"
        ng-cur-time="~[time]" ng-staff-change-id="~(gpv.id)" ng-cloak>
        ~[wc:admin_header_css]
        <a href="/admin/home.html" target="_top">~[text:psx.html.admin_reports.runreports.start_page]</a> &gt; Staff
        Change Submissions
        ~[wc:admin_navigation_css]
        <h1 style="margin-bottom: 5px;">Staff Change Submissions</h1>
        <label for="year-selector" style="padding-left: 25px; padding-right: 7px;">Year: </label>

        <select id="year-selector" name="" ng-model="userContext.adjustedYearId" ng-change="getStaffResults()">
            ~[tlist_sql;
            SELECT
            DISTINCT yearid,
            yearid + 1991 as yearname
            FROM
            u_cdol_staff_changes
            ORDER BY yearid ]
            <option value="~(yrid)" ng-selected="~(yrid) === userContext.adjustedYearId">~(yearname)</option>
            [/tlist_sql]
        </select>
        <div class="tabs">
            <ul>
                <li><a href="#tabOneContent">New Staff</a></li>
                <li><a href="#tabTwoContent">Transferring Staff</a></li>
                <li><a href="#tabThreeContent">Name Changes</a></li>
                <li><a href="#tabFourContent">Exiting Staff</a></li>
            </ul>
            <div id="tabOneContent">
                <div id="staffListGrid" data-pss-grid-widget data-data="staffList" data-filtered-data="staffListFilt"
                    data-client-side-pagination="false" data-filter-constraint="no-filters">
                    <table class="grid">
                        <thead>
                            <tr>
                                <th></th>
                                <th data-pss-sort-fields="last_name|text" class="nowrap">New Staff Name</th>
                                <th data-pss-sort-fields="schname|text">School</th>
                                <th data-pss-sort-fields="who_submitted|number">Who Submitted</th>
                                <th data-pss-sort-fields="submission_date, submission_time"
                                    data-primary-sort="descending">
                                    Submission Date</th>
                                <th data-pss-sort-fields="completion_date | date">Deadline</th>
                                <th data-pss-sort-fields="ps_created | number">PS Created</th>
                                <th data-pss-sort-fields="ad_created, ad_ignored | number">AD Created</th>
                                <th data-pss-sort-fields="o365_created, o365_ignored | number">O365 Created</th>
                                <th data-pss-sort-fields="lms_created | number">LMS Created</th>
                                <th data-pss-sort-fields="final_completion_date | date">Completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="staff in staffListFilt">
                                <td>{{$index +1}}</td>
                                <td class="nowrap"><a
                                        href="/admin/cdol/staffchange/cdol_staff_change.html?status=Edit&id={{staff.staffid}}">{{staff.title}}
                                        {{staff.first_name}}
                                        {{staff.last_name}}</a></td>
                                <td class="nowrap">{{staff.schname}}</td>
                                <td class="nowrap">{{staff.submittedstaff}}</td>
                                <td class="nowrap">{{staff.submission_date | date : 'MM/dd/yyyy'}}
                                    {{staff.submission_time}}</td>
                                <td
                                    ng-class="{'req-notation': (staff.completion_date  < userContext.curDate) && (staff.ps_created != 1  || (staff.ad_created != 1 && staff.ad_ignored != 1) || staff.lms_created != 1 || (staff.o365_created != 1 && staff.o365_ignored != 1))}">
                                    {{staff.completion_date | date : 'MM/dd/yyyy'}}</td>
                                <td><span ng-show="staff.ps_created != 1">&#10060;</span><span
                                        ng-show="staff.ps_created == 1">&#10004;&#65039;</span></td>
                                <td>
                                    <span ng-show="staff.ad_created != 1 && staff.ad_ignored != 1">&#10060;</span>
                                    <span
                                        ng-show="staff.ad_created == 1 || staff.ad_ignored == 1">&#10004;&#65039;</span>
                                </td>
                                <td>
                                    <span ng-show="staff.o365_created != 1 && staff.o365_ignored != 1">&#10060;</span>
                                    <span
                                        ng-show="staff.o365_created == 1 || staff.o365_ignored == 1">&#10004;&#65039;</span>
                                </td>
                                <td><span ng-show="staff.lms_created != 1">&#10060;</span><span
                                        ng-show="staff.lms_created == 1">&#10004;&#65039;</span></td>
                                <td>{{staff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tabTwoContent">
                <div id="transferStaffListGrid" data-pss-grid-widget data-data="transferStaffList"
                    data-filtered-data="transferStaffListFilt" data-client-side-pagination="false"
                    data-filter-constraint="no-filters">
                    <table class="grid">
                        <thead>
                            <tr>
                                <th></th>
                                <th data-pss-sort-fields="last_name|text" class="nowrap">Transferring Staff Name</th>
                                <th data-pss-sort-fields="schname|text">New School</th>
                                <th data-pss-sort-fields="previous_employer|text">Original School</th>
                                <th data-pss-sort-fields="who_submitted|number">Who Submitted</th>
                                <th data-pss-sort-fields="submission_date, submission_time"
                                    data-primary-sort="descending">
                                    Submission Date</th>
                                <th data-pss-sort-fields="completion_date | date">Deadline</th>
                                <th data-pss-sort-fields="ps_created | number">PS Created</th>
                                <th data-pss-sort-fields="ad_created, ad_ignored | number">AD Created</th>
                                <th data-pss-sort-fields="o365_created, o365_ignored | number">O365 Created</th>
                                <th data-pss-sort-fields="lms_created | number">LMS Created</th>
                                <th data-pss-sort-fields="final_completion_date | date">Completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="staff in transferStaffListFilt">
                                <td>{{$index +1}}</td>
                                <td class="nowrap"><a
                                        href="/admin/cdol/staffchange/cdol_staff_change.html?status=Edit&id={{staff.staffid}}">{{staff.title}}
                                        {{staff.first_name}}
                                        {{staff.last_name}}</a></td>
                                <td class="nowrap">{{staff.schname}}</td>
                                <td class="nowrap">{{staff.previous_combined}}</td>
                                <td class="nowrap">{{staff.submittedstaff}}</td>
                                <td class="nowrap">{{staff.submission_date | date : 'MM/dd/yyyy'}}
                                    {{staff.submission_time}}</td>
                                <td
                                    ng-class="{'req-notation': (staff.completion_date  < userContext.curDate) && (staff.ps_created != 1  || (staff.ad_created != 1 && staff.ad_ignored != 1) || staff.lms_created != 1 || (staff.o365_created != 1 && staff.o365_ignored != 1))}">
                                    {{staff.completion_date | date : 'MM/dd/yyyy'}}</td>
                                <td><span ng-show="staff.ps_created != 1">&#10060;</span><span
                                        ng-show="staff.ps_created == 1">&#10004;&#65039;</span></td>
                                <td>
                                    <span ng-show="staff.ad_created != 1 && staff.ad_ignored != 1">&#10060;</span>
                                    <span
                                        ng-show="staff.ad_created == 1 || staff.ad_ignored == 1">&#10004;&#65039;</span>
                                </td>
                                <td>
                                    <span ng-show="staff.o365_created != 1 && staff.o365_ignored != 1">&#10060;</span>
                                    <span
                                        ng-show="staff.o365_created == 1 || staff.o365_ignored == 1">&#10004;&#65039;</span>
                                </td>
                                <td><span ng-show="staff.lms_created != 1">&#10060;</span><span
                                        ng-show="staff.lms_created == 1">&#10004;&#65039;</span></td>
                                <td>{{staff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tabThreeContent">
                <div id="nameChangeStaffListGrid" data-pss-grid-widget data-data="nameChangeStaffList"
                    data-filtered-data="nameChangeStaffListFilt" data-client-side-pagination="false"
                    data-filter-constraint="no-filters">
                    <table class="grid">
                        <thead>
                            <tr>
                                <th></th>
                                <th data-pss-sort-fields="last_name|text" class="nowrap">New Staff Name</th>
                                <th data-pss-sort-fields="last_name|text" class="nowrap">Previous Staff Name</th>
                                <th data-pss-sort-fields="schname|text">School</th>
                                <th data-pss-sort-fields="who_submitted|number">Who Submitted</th>
                                <th data-pss-sort-fields="submission_date, submission_time"
                                    data-primary-sort="descending">
                                    Submission Date</th>
                                <th data-pss-sort-fields="completion_date | date">Deadline</th>
                                <th data-pss-sort-fields="ps_created | number">PS Created</th>
                                <th data-pss-sort-fields="ad_created, ad_ignored | number">AD Created</th>
                                <th data-pss-sort-fields="o365_created, o365_ignored | number">O365 Created</th>
                                <th data-pss-sort-fields="lms_created | number">LMS Created</th>
                                <th data-pss-sort-fields="final_completion_date | date">Completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="staff in nameChangeStaffListFilt">
                                <td>{{$index +1}}</td>
                                <td class="nowrap"><a
                                        href="/admin/cdol/staffchange/cdol_staff_change.html?status=Edit&id={{staff.staffid}}">{{staff.title}}
                                        {{staff.first_name}}
                                        {{staff.last_name}}</a></td>
                                <td class="nowrap">{{staff.replacedstaff}}</td>
                                <td class="nowrap">{{staff.schname}}</td>
                                <td class="nowrap">{{staff.submittedstaff}}</td>
                                <td class="nowrap">{{staff.submission_date | date : 'MM/dd/yyyy'}}
                                    {{staff.submission_time}}</td>
                                <td
                                    ng-class="{'req-notation': (staff.completion_date  < userContext.curDate) && (staff.ps_created != 1  || (staff.ad_created != 1 && staff.ad_ignored != 1) || staff.lms_created != 1 || (staff.o365_created != 1 && staff.o365_ignored != 1))}">
                                    {{staff.completion_date | date : 'MM/dd/yyyy'}}</td>
                                <td><span ng-show="staff.ps_created != 1">&#10060;</span><span
                                        ng-show="staff.ps_created == 1">&#10004;&#65039;</span></td>
                                <td>
                                    <span ng-show="staff.ad_created != 1 && staff.ad_ignored != 1">&#10060;</span>
                                    <span
                                        ng-show="staff.ad_created == 1 || staff.ad_ignored == 1">&#10004;&#65039;</span>
                                </td>
                                <td>
                                    <span ng-show="staff.o365_created != 1 && staff.o365_ignored != 1">&#10060;</span>
                                    <span
                                        ng-show="staff.o365_created == 1 || staff.o365_ignored == 1">&#10004;&#65039;</span>
                                </td>
                                <td><span ng-show="staff.lms_created != 1">&#10060;</span><span
                                        ng-show="staff.lms_created == 1">&#10004;&#65039;</span></td>
                                <td>{{staff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="tabFourContent">
                <div id="removalStaffListGrid" data-pss-grid-widget data-data="removalStaffList"
                    data-filtered-data="removalStaffListFilt" data-client-side-pagination="false"
                    data-filter-constraint="no-filters">
                    <table class="grid">
                        <thead>
                            <tr>
                                <th></th>
                                <th data-pss-sort-fields="replacedstaff|text" class="nowrap">Exiting Staff Name</th>
                                <th data-pss-sort-fields="schname|text">School</th>
                                <th data-pss-sort-fields="who_submitted|number">Who Submitted</th>
                                <th data-pss-sort-fields="submission_date, submission_time"
                                    data-primary-sort="descending">
                                    Submission Date</th>
                                <th data-pss-sort-fields="completion_date | date">Deadline</th>
                                <th data-pss-sort-fields="ps_created | number">PS Deactivated</th>
                                <th data-pss-sort-fields="ad_created | number">AD Deactivated</th>
                                <th data-pss-sort-fields="final_completion_date | date">Completed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="staff in removalStaffListFilt">
                                <td>{{$index +1}}</td>
                                <td class="nowrap"><a
                                        href="/admin/cdol/staffchange/cdol_staff_change.html?status=Edit&id={{staff.staffid}}">{{staff.replacedstaff}}
                                        {{staff.replaced_other}}</a>
                                </td>
                                <td class="nowrap">{{staff.schname}}</td>
                                <td class="nowrap">{{staff.submittedstaff}}</td>
                                <td class="nowrap">{{staff.submission_date | date : 'MM/dd/yyyy'}}
                                    {{staff.submission_time}}</td>
                                <td
                                    ng-class="{'req-notation': (staff.completion_date  < userContext.curDate) && (staff.ps_created != 1  || (staff.ad_created != 1 && staff.ad_ignored != 1))}">
                                    {{staff.completion_date | date : 'MM/dd/yyyy'}}</td>
                                <td><span ng-show="staff.ps_created != 1">&#10060;</span><span
                                        ng-show="staff.ps_created == 1">&#10004;&#65039;</span></td>
                                <td>
                                    <span ng-show="staff.ad_created != 1 && staff.ad_ignored != 1">&#10060;</span>
                                    <span
                                        ng-show="staff.ad_created == 1 || staff.ad_ignored == 1">&#10004;&#65039;</span>
                                </td>
                                <td>{{staff.final_completion_date | date : 'MM/dd/yyyy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        ~[wc:admin_footer_css]
    </body>

</html>